<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.demo">Demo data</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Demo data</h2>
	<p>
		To quickly test out SurrealDB and SurrealQL functionality, we've included demo data here in <code>.surql</code> files 
		which you can download and <Link @link="docs.cli.import"><code>import</code></Link> into SurrealDB using the <Link @link="docs.cli"><code>CLI</code></Link>
	</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Surreal Deal - deals so good it's surreal!</h3>
	<p>
		<Link @link="https://drive.google.com/uc?id=1AlSMBJrncEuqOtbbEXLqtenUb0Z5BjlD&export=download">Surreal Deal</Link> is a demo dataset based on a simplified e-commerce platform that sells artwork.<br>
		The dataset is made up of 8 tables using both <Link @link="docs.surrealql.statements.relate">graph relations</Link> and <Link @link="docs.surrealql.datamodel.records">record links</Link>:<br>
		person, order, product, review, artist, create, avg_product_review, daily_sales.
	</p>
	<p>
		In the diagram below, the nodes in pink are the <Link @link="docs.surrealql.statements.define.table">standard tables</Link>, the ones in purple represent the <Link @link="docs.surrealql.statements.relate">edge tables</Link> which shows relationships between records and SurrealDB as a graph database. While the nodes in gray are the <Link @link="docs.surrealql.statements.define.table">pre-computed table views</Link>
	</p>
<Layout::Blocks main-c as |block|>
	<block>
		<pic>
			<img src="/static/img/docs/surrealql/surreal-deal-dataset.png" alt="This image shows how the 8 tables are related to each other" />
		</pic>
	</block>
</Layout::Blocks>

<Layout::Gap mini />

	<h4>Dowload and import</h4>
	<p>
<Link @link="https://drive.google.com/uc?id=1AlSMBJrncEuqOtbbEXLqtenUb0Z5BjlD&export=download"> Download the dataset here</Link>, then <Link @link="docs.cli.start">start the server</Link> and use the <Link  @link="docs.cli.import"> import command </Link> to add the dataset from your "Downloads" folder. Please be aware that the import process might take a few seconds.
	</p>
	<codes vertical>
		<Code @name="docs-cli-import-main.shell" text="Command line">
			user@localhost % surreal import --conn http://localhost:8000 --user root --pass root --ns test --db test downloads/surreal_deal_v1.surql
		</Code>
	</codes>
</Layout::Text>

<Layout::Gap large />