<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.expressions">Expressions</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Expressions</h2>
</Layout::Text>

{{!-- <Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>No JOINs</h3>
	<p>Due to the power and flexibility which can be achieved with record IDs in SurrealDB, the need to use JOINs is removed. Instead, queries can perform complex multi-table, and multi-depth fetches, depending on the record IDs stored within each record. There is no limit to the level of fetches, and the number of different tables used within a single query. This results in a huge performance boost and eliminates the N+1 query problem, when fetching interconnected records from many different tables.</p>
	<Code @name="docs/surrealql/overview/joins.surql" />
</Layout::Text> --}}