<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2><img inline src="/static/img/surrealql-text.svg" alt="SurrealQL" /></h2>
    <p>SurrealQL is a powerful database query language which closely resembles traditional SQL, but with slight differences and improvements. Although it has similar syntax and similar statement types, there are a number of differences between traditional SQL and SurrealQL. </p>
	<p>For an overview of the various statement types which can be run in SurrealDB, and for the complete syntax definitions, along with example queries for all of the different statement types, take a look at the <Link @link="docs.surrealql.statements">statements</Link> page.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Boxes cols-3-to-2-to-1>
	<LinkTo @route="docs.surrealql.datamodel">
		<Layout::Boxes::Item mini hover>
			<h4>Data model</h4>
			<p>View the numerous different data types which are supported in SurrealQL</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements">
		<Layout::Boxes::Item mini hover>
			<h4>Statements</h4>
			<p>Detailed instructions and examples on all of the different SurrealQL statements</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.functions">
		<Layout::Boxes::Item mini hover>
			<h4>Functions</h4>
			<p>In-built functions for checking, manipulating, and working with different types of data</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.operators">
		<Layout::Boxes::Item mini hover>
			<h4>Operators</h4>
			<p>Numerous in-built operators can be used for simple and advanced value comparison</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.parameters">
		<Layout::Boxes::Item mini hover>
			<h4>Parameters</h4>
			<p>Parameters can be used like variables to store a other values and query results</p>
		</Layout::Boxes::Item>
	</LinkTo>
	{{!-- <LinkTo @route="docs.surrealql.expressions">
		<Layout::Boxes::Item mini hover>
			<h4>Expressions</h4>
			<p>Discover the true power of SurrealDB by using the powerful expression query syntax</p>
		</Layout::Boxes::Item>
	</LinkTo> --}}
	<LinkTo @route="docs.surrealql.transactions">
		<Layout::Boxes::Item mini hover>
			<h4>Transactions</h4>
			<p>Use transactions to group statements together which either succeed or fail as a whole</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.comments">
		<Layout::Boxes::Item mini hover>
			<h4>Comments</h4>
			<p>See how to write comments in SurrealQL</p>
		</Layout::Boxes::Item>
	</LinkTo>
</Layout::Boxes>

<Layout::Gap large />