<Layout::Text text-l text-f>
    <h5><i class="fas fa-arrow-left"></i> &nbsp; <Link @link="docs.surrealql.index">Back to overview</Link></h5>
    <h2>Statements</h2>
	<p>Each statement within SurrealDB is run within its own transaction. If a set of changes need to be made together, then groups of statements can be run together as a single transaction, either succeeding as a whole, or failing without leaving any residual data modifications.</p>
</Layout::Text>

<Layout::Gap small />

<Layout::Text text-l text-f>
	<h3><code>USE</code></h3>
	<Code @name="docs-surrealql-statements-use-syntax.typescript" text="SQL Syntax">
		USE [ NS @ns ] [ DB @db ];
	</Code>
	<p>The following query shows example usage of this statement:</p>
	<Code @name="docs-surrealql-statements-use-namespace.sql">
		USE NS test; -- Switch to the 'test' Namespace
	</Code>
	<Code @name="docs-surrealql-statements-use-namespace.sql">
		USE DB test; -- Switch to the 'test' Database
	</Code>
	<Code @name="docs-surrealql-statements-use-namespace.sql">
		USE NS test DB test; -- Switch to the 'test' Namespace and 'test' Database
	</Code>
</Layout::Text>

<Layout::Gap small />

<Layout::Text text-l text-f>
	<h3><code>LET</code></h3>
	<Code @name="docs-surrealql-statements-let-syntax.typescript" text="SQL Syntax">
		LET $@parameter = @value;
	</Code>
	<p>The following query shows example usage of this statement:</p>
	<Code @name="docs-surrealql-statements-let-simple.sql">
		LET $param = "some value";
	</Code>
</Layout::Text>

<Layout::Gap small />

<Layout::Text text-l text-f>
	<h3><code>SELECT</code></h3>
	<Code @name="docs-surrealql-statements-select-syntax.typescript" text="SQL Syntax">
		SELECT @projections
			FROM @targets
			[ WHERE @condition ]
			[ SPLIT [ AT ] @splits ]
			[ GROUP [ BY ] @groups ]
			[ ORDER [ BY ] @orders ]
			[ LIMIT [ BY ] @limit ]
			[ START [ AT ] @start ]
			[ FETCH @fetches ]
			[ TIMEOUT @timeout ]
			[ PARALLEL ]
		;
	</Code>
</Layout::Text>

<Layout::Gap small />

<Layout::Text text-l text-f>
	<h3><code>INSERT</code></h3>
	<Code @name="docs-surrealql-statements-insert-syntax.typescript" text="SQL Syntax">
		INSERT [ IGNORE ] INTO @what
			[ @value
			  | (@fields) VALUES (@values)
			    [ ON DUPLICATE KEY UPDATE @field = @value ... ]
			]
		;
	</Code>
</Layout::Text>

<Layout::Gap small />

<Layout::Text text-l text-f>
	<h3><code>CREATE</code></h3>
	<Code @name="docs-surrealql-statements-create-syntax.typescript" text="SQL Syntax">
		CREATE @what
			[ CONTENT @value
			  | REPLACE @value
			  | MERGE @value
			  | PATCH @value
			  | SET @field = @value ...
			]
			[ OUTPUT @projections ]
			[ TIMEOUT @timeout ]
			[ PARALLEL ]
		;
	</Code>
</Layout::Text>

<Layout::Gap small />

<Layout::Text text-l text-f>
	<h3><code>UPDATE</code></h3>
	<Code @name="docs-surrealql-statements-update-syntax.typescript" text="SQL Syntax">
		UPDATE @what
			[ CONTENT @value
			  | REPLACE @value
			  | MERGE @value
			  | PATCH @value
			  | SET @field = @value ...
			]
			[ WHERE @condition ]
			[ OUTPUT @projections ]
			[ TIMEOUT @timeout ]
			[ PARALLEL ]
		;
	</Code>
</Layout::Text>

<Layout::Gap small />

<Layout::Text text-l text-f>
	<h3><code>RELATE</code></h3>
	<Code @name="docs-surrealql-statements-relate-syntax-out.typescript" text="SQL Syntax">
		RELATE @from -> @table -> @with
			[ CONTENT @value
			  | REPLACE @value
			  | MERGE @value
			  | PATCH @value
			  | SET @field = @value ...
			]
			[ OUTPUT @projections ]
			[ TIMEOUT @timeout ]
			[ PARALLEL ]
		;
	</Code>
</Layout::Text>

<Layout::Gap small />

<Layout::Text text-l text-f>
	<h3><code>DELETE</code></h3>
	<Code @name="docs-surrealql-statements-delete-syntax.typescript" text="SQL Syntax">
		DELETE @what
			[ WHERE @condition ]
			[ OUTPUT @projections ]
			[ TIMEOUT @timeout ]
			[ PARALLEL ]
		;
	</Code>
</Layout::Text>

<Layout::Gap large />