{{#if this.completed}}
	<Ascua::Modal class="custom" @onClose={{fn (mut this.completed) false}}>
		<strong>Thank you</strong> for registering your interest! We can't wait to show you more about how SurrealDB works. Check your email inbox for communications from us.
		<br><br>
		Tobie
		<br>
		Founder, SurrealDB
		<line></line>
		Don't forget to follow us on <strong><a href="https://twitter.com/surrealdb" target="_blank" rel="noopener noreferrer">Twitter</a></strong>
	</Ascua::Modal>
{{/if}}

<signup-form>
	<content>
		<form {{on "submit" this.submit}}>
			<Input @value={{this.email}} placeholder="Enter your email here..." />
			<button type="submit" {{on "click" this.submit}}>
				More information
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#ffffff" /><path d="M0 0h24v24H0z" fill="none"/></svg>
			</button>
			<clear></clear>
		</form>
		{{#if this.error}}
			<message>Please enter an email address</message>
		{{/if}}
	</content>
</signup-form>