<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.integration">Integration</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Integration</h2>
	<p>SurrealDB supports a number of methods for connecting to the database and performing data queries.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Boxes cols-2-to-1>
	<LinkTo @route="docs.integration.libraries">
		<Layout::Boxes::Item mini hover>
			<h4>Libraries</h4>
			<p>When building applications on top of SurrealDB, using one of the official client libraries should make things simpler. Current libraries include Node.js, Golang, Deno, and Rust.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.http">
		<Layout::Boxes::Item mini hover>
			<h4>HTTP &amp; REST</h4>
			<p>By default, all queries can be performed over a HTTP API, with support for full SQL queries, and querying and modification of records using RESTful endpoints.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.websockets">
		<Layout::Boxes::Item mini hover>
			<h4>WebSocket (text protocol)</h4>
			<p>The WebSocket API supports JSON-RPC querying, with full support for persistent connections, session authentication, realtime queries, and update notifications.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.websockets">
		<Layout::Boxes::Item mini hover>
			<h4>WebSocket (binary protocol)</h4>
			<p>The WebSocket API supports JSON-RPC querying, with full support for persistent connections, session authentication, realtime queries, and update notifications.</p>
		</Layout::Boxes::Item>
	</LinkTo>
</Layout::Boxes>

<Layout::Gap large />
