<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.integration">Integration</Crumb::Item>
	<Crumb::Item @link="docs.integration.websockets">WebSockets</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
	<h2>WebSockets</h2>
	<p>The documentation for this integration is coming soon.</p>
</Layout::Text>

<Layout::Gap small />