<Layout::Text text-l text-f>
	<h5><i class="fas fa-arrow-left"></i> &nbsp; <Link @link="docs.integration.index">Back</Link></h5>
	<h2>WebSockets</h2>
	<p>The documentation for this integration is coming soon.</p>
</Layout::Text>

<Layout::Gap small />