<header>

	<content>

		<div>
			<LinkTo @route="index" class="icon"></LinkTo>
			<LinkTo @route="index" class="logo"></LinkTo>
		</div>

		<Header::Links>
			<Header::Links::Item @link="index" @text="Home" />
			<Header::Links::Item @link="features" @text="Features" />
			<Header::Links::Item @link="install" @text="Install" />
			<Header::Links::Temp @text="Get started" />
		</Header::Links>

		<Sidebar::Menu @type="over" />

	</content>

</header>