<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.deployment">Deployment</Crumb::Item>
	<Crumb::Item @link="docs.deployment.fly">Deploy on Fly.io</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
	<h2><Devicon @size="50" @type="fly" /> Deploy on Fly.io</h2>
	<p>This document is based on a guide by one of our community members. <Link @link="https://tutorials.surrealdb.com/community/launch-instance-on-flyio.html">You can find it here</Link>.</p>

	<h3>Requirements</h3>
	<ul>
		<li><Link @link="https://fly.io/docs/hands-on/install-flyctl">Make sure that you have <code>flyctl</code> installed.</Link></li>
		<li>Use either <Link @link="https://fly.io/docs/hands-on/sign-up"><code>flyctl auth signup</code></Link> or <Link @link="https://fly.io/docs/hands-on/sign-in"><code>flyctl auth signin</code></Link> to authenticate your client.</li>
	</ul>

	<h3>Get started</h3>
	<p>We will create a working directory for our deployment. In it, we will store a <code>Dockerfile</code> and a <code>fly.toml</code> config file.</p>
	<Code @name="docs/deployment/fly.io/create-working-directory.sh" text="Create working directory" />

	<p>
		In the <code>Dockerfile</code> we specify which base image we want to use, and to which address/port we will bind the instance.
		The rest of the surrealdb configuration will be done later with secrets.
	</p>
	<Code @name="docs/deployment/fly.io/Dockerfile.docker" text="Dockerfile" />

	<h4>Generate fly.toml</h4>
	<p>
		We will generate most of the contents for the <code>fly.toml</code> configuration file using the <code>fly launch</code> utility.
		Please answer the questions with the guidelines given below.
	</p>
	<Code @name="docs/deployment/fly.io/fly-launch.sh" text="Generate boilerplate fly.toml file" />
	<ul>
		<li>
			<code>Choose an app name</code>: Choose what you like. It will end up as <code><i>name</i>.fly.dev</code>, so it must be a unique name.
		</li>
		<li>
			<code>Choose a region</code>: Choose what you like, usually a region close to your users.
		</li>
		<li>
			<code>Setup postgres database?</code>: No, we will persist storage through a volume.
		</li>
		<li>
			<code>Setup upstash redis database?</code>: No, we will persist storage through a volume.
		</li>
		<li>
			<code>Would you like to deploy now?</code>: No, we need to finalize our configuration first.
		</li>
	</ul>

	<h4>Create volume for persistent storage</h4>
	<p>
		For this demo we'll create a single volume with a size of 1gb.
		Make sure to set it to the same region that you chose earlier!
		In this case <code>data</code> is the name of the volume.
	</p>
	<Code @name="docs/deployment/fly.io/fly-create-volume.sh" text="Create the volume" />

	<p>
		To assign this volume to the instance that we'll deploy, we have to edit the <code>fly.toml</code> file.
		Paste the following snippet down the bottom of the file without any indents or spaces.
		If you changed the name of the volume in the previous step, please also adjust the <code>source</code> property here.
	</p>
	<Code @name="docs/deployment/fly.io/fly-toml-add-volume.toml" text="Assign the volume to instance" />

	<h4>Configure root authentication details</h4>
	<p>
		We will store the username and password for the root user in secrets.
		Feel free to pass on any other options here. You can use <code>surreal start -h</code> to see which environment variables can be passed to surreal.
	</p>
	<Code @name="docs/deployment/fly.io/set-root-authentication.sh" text="Configure username & password" />

	<h3>Deploy the instance</h3>
	<p>
		Everything has been configured now, we can deploy our instance securely with a single command:
	</p>
	<Code @name="docs/deployment/fly.io/fly-deploy.sh" text="Deploy the instance" />
	<p>
		After this, your instance will be available via <code>https://<i>name</i>.fly.dev</code>, followed by the respective path for methods like <code>HTTP REST</code> and <code>Websocket</code>.
	</p>
</Layout::Text>

<Layout::Gap small />