<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.deployment">Deployment</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Deployment</h2>
	<p>Getting started with SurrealDB is intended to be quick and easy. All of SurrealDB's functionality for starting a server, and importing and exporting data, is enabled through the command-line tool, packaged and distributed as a single executable file, which can be downloaded, installed, or run from within Docker.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Boxes cols-2-to-1>
	<LinkTo @route="docs.deployment.fly">
		<Layout::Boxes::Item mini hover>
			<h4>
				<Devicon @size="30" @type="fly" /> Deploy on Fly.io <l green r>Available</l>
			</h4>
			<p>Learn how to deploy a single-node instance of SurrealDB on Fly.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.deployment.google">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="google" />
				Deploy on GCP
				<l faint r>Coming soon</l>
			</h4>
			<p>Learn how to deploy a scalable, multi-node, highly-available SurrealDB cluster on Google Cloud Platform.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.deployment.amazon">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="amazon" />
				Deploy on AWS
				<l faint r>Coming soon</l>
			</h4>
			<p>Learn how to deploy a scalable, multi-node, highly-available SurrealDB cluster on Amazon Web Services.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.deployment.kubernetes">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="kubernetes" />
				Deploy on Kubernetes
				<l faint r>Coming soon</l>
			</h4>
			<p>Learn how to deploy a scalable, multi-node, highly-available SurrealDB cluster on Kubernetes.</p>
		</Layout::Boxes::Item>
	</LinkTo>

	<LinkTo @route="docs.deployment.heroku">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="heroku" />
				Deploy on Heroku
				<l faint r>Coming soon</l>
			</h4>
			<p>Learn how to deploy a single-node instance of SurrealDB on Heroku.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.deployment.digitalocean">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="digitalocean" />
				Deploy on DigitalOcean
				<l faint r>Coming soon</l>
			</h4>
			<p>Learn how to deploy a single-node instance of SurrealDB on DigitalOcean.</p>
		</Layout::Boxes::Item>
	</LinkTo>
</Layout::Boxes>

<Layout::Gap large />