<book-a-demo page={{route-name}}>
	<content>
		<h1>See what SurrealDB can do for you</h1>
		<box-button bookademo>
			<LinkTo @route="index">
				<span>Book a demo</span>
			</LinkTo>
		</box-button>
		<clear></clear>
	</content>
</book-a-demo>
