<layout-fifty-fifty ...attributes>
	<content route={{route-name}}>
		<div>
			{{yield (hash l=(component "yield"))}}
		</div>
		<div>
			{{yield (hash r=(component "yield"))}}
		</div>
	</content>
</layout-fifty-fifty>