@import "fonts";
@import "@ascua/visuals";
@import "components/logo";
@import "components/footer";
@import "components/header";
@import "components/titles";
@import "components/case-study";
@import "components/box-button";
@import "components/main-title";
@import "components/signup-form";
@import "components/book-a-demo";
@import "components/clientlogos";
@import "components/walk-through";
@import "components/features-entry";

html, body {
	overflow-x: hidden;
}

html {
	touch-action: manipulation;
	-webkit-tap-highlight-color: transparent;
}

body {
	background: #181a1f;
	font-family: 'Inter', serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: subpixel-antialiased !important;
}

a, a i, a span {
	color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}

app-modal-cover {

	background-color: rgba(255, 255, 255, 0.7);

	app-modal-front {

		width: 500px;
		height: auto;
		padding: 25px;
		color: #ffffff;
		font-size: 18px;
		line-height: 24px;
		border-radius: 0px;
		margin: 15% auto 0 auto;
		background-color: #ff3cac;
		box-shadow: 0 2px 30px rgba(0,0,0,0.25);

	}

	.btn {
		padding: 10px 20px;
		border-radius: 0px;
		display: inline-block;
		border: 2px solid #ffffff;
		transition: background .3s;

		&:hover {
			background: #ffffff;
		}
	}

}

content {

	width: 1100px;
	display: block;
	position: relative;
	margin: 0 auto 0 auto;

	@include media(max-width-1200) {
		width: 872px;
	}

	@include media(max-width-1024) {
		width: 85%;
	}

}

content-pricing {

	width: 1150px;
	display: block;
	margin: 0 auto 0 auto;

	@include media(max-width-1200) {
		width: 972px;
	}

	@include media(max-width-1024) {
		width: 872px;
	}

	@include media(max-width-768) {
		width: 90%;
	}

}
