// ----------------------------------------
// Code usage
// ----------------------------------------

code[text] {
	&:before {
		display:block;
		font-size:10px;
		content:attr(text);
		text-transform:uppercase;
		color:var(--faint-color);
	}
}

// ----------------------------------------
// Code inline
// ----------------------------------------

code, :not(pre) > code[class*="language-"] {

	padding:2px 8px;
	white-space:pre;
	font-weight:400;
	font-size:inherit;
	border-radius:5px;
	font-family:var(--system-font-mono);
	background-color:var(--coder-color);

	a:hover & {
		cursor:pointer;
		color:var(--text-color);
		background-color:var(--hover-color);
	}

	layout-table &, layout-boxes & {
		background-color:rgba(0,0,0,0.25);
	}

}

// ----------------------------------------
// Code blocks
// ----------------------------------------

pre > code {
	display:block;
	position:relative;
}

pre,
pre[class*="language-"] {
	margin:0;
	color:white;
	padding:20px;
	overflow:auto;
	font-size:15px;
	text-align:left;
	white-space:pre;
	line-height:1.75;
	text-shadow:none;
	word-break:normal;
	border-radius:16px;
	word-spacing:normal;
	background-color:var(--coder-color);
	font-family:var(--system-font-mono);
	box-shadow:0 5px 20px rgba(0, 0, 0, 0.3);
}

pre[class*="language-"],
code[class*="language-"] {
	margin:0;
	color:white;
	font-size:15px;
	text-align:left;
	white-space:pre;
	line-height:1.75;
	text-shadow:none;
	word-break:normal;
	border-radius:16px;
	word-spacing:normal;
	background-color:var(--coder-color);
	font-family:var(--system-font-mono);
}

code[class*="language-"],
pre[class*="language-"] {
	&:not(:last-child) {
		margin-bottom:30px;
	}
}

code[class*="language-"],
pre[class*="language-"] {
	-moz-tab-size:4;
	-o-tab-size:4;
	tab-size:4;
}

pre[class*="language-"]::selection,
code[class*="language-"]::selection {
	text-shadow:none;
	background:var(--faint-color);
}

// ----------------------------------------
// Two-up code blocks
// ----------------------------------------

codes {

	display:grid;
	overflow:hidden;
	border-radius:16px;
	box-shadow:0 5px 20px rgba(0, 0, 0, 0.3);

	&:not(:last-child) {
		margin-bottom:30px;
	}

	&[vertical] {

		grid-template-columns:minmax(0, 1fr);

		pre[class*="language-"] {

			border-top:1px solid var(--split-color);

			&:first-child {
				border-radius:12px 12px 0 0;
			}

			&:last-child {
				border-radius:0 0 12px 12px;
			}

		}

	}

	&:not([vertical]) {

		grid-template-columns:minmax(0, 1fr) minmax(0, 1fr);

		@include media(max-width-1000) {
			box-shadow:none;
			grid-template-columns:minmax(0, 1fr);
		}

		pre[class*="language-"] {

			border-left:1px solid var(--split-color);

			@include media(max-width-1000) {
				border-left:0; border-top:1px solid var(--split-color);
			}

			&:first-child {
				border-radius:12px 0 0 12px;
			}

			&:last-child {
				border-radius:0 12px 12px 0;
			}

		}

	}

	pre[class*="language-"] {

		box-shadow:none;
		margin-bottom:0;
		border-radius:0px;

		&:first-child {
			border:none;
		}

		&:not(:last-child) {
			margin-bottom:0;
		}

		& + pre[class*="language-"] {
			margin:0;
		}

	}

}

// ----------------------------------------
// Code highlighting
// ----------------------------------------

code.language-sql {
	.token.operator { background:none; }
	.token.comment { color:#737e98; }
	.token.punctuation { color:#ffffff; }
	.token.variable { color:#ffde00; }
	.token.operator { color:#ff009e; }
	.token.keyword { color:#ff009e; }
	.token.cast { color:#999999; }
	.token.string { color:#00ff6e; }
	.token.number { color:#00dbff; }
	.token.duration { color:#00dbff; }
	.token.boolean { color:#9d2fff; }
	.token.nothing { color:#9d2fff; }
	.token.function { color:#ff9b67; }
	.token.connector { color:#e100ff; }
	.token.record { color:#0084ff; }
	.token.range { color:#0084ff; }
}

code.language-shell {
	.token.prompt { color:#636a75; }
	.token.command { color:#ff009e; }
}

code.language-javascript {
	.token.string { color:#00ff6e; }
	.token.function { color:#ff9b67; }
	.token.constant { color:#ff009e; }
	.token.keyword { color:#ff009e; }
}

code.language-txt {
	color:#aeb8ca;
}
