[curved] { border-radius:16px; }

[fg-ffffff] { color:#ffffff; }
[fg-ff00a0] { color:#ff00a0; }
[fg-9600ff] { color:#9600ff; }
[fg-1b202c] { color:#1b202c; }
[fg-272e3c] { color:#272e3c; }
[fg-989cad] { color:#989cad; }

[fg-text] { color:var(--text-color); }
[fg-back] { color:var(--back-color); }
[fg-dark] { color:var(--dark-color); }
[fg-faint] { color:var(--faint-color); }
[fg-hover] { color:var(--hover-color); }

[bg-ff00a0] { background-color:#ff00a0; }
[bg-9600ff] { background-color:#9600ff; }
[bg-ffffff] { background-color:#ffffff; }
[bg-1b202c] { background-color:#1b202c; }
[bg-272e3c] { background-color:#272e3c; }
[bg-989cad] { background-color:#989cad; }
