[curved] { border-radius:12px; }

[fg-ff00a0] { color:#ff00a0; }
[fg-9600ff] { color:#9600ff; }
[fg-ffffff] { color:#ffffff; }
[fg-171a21] { color:#171a21; }
[fg-222632] { color:#222632; }
[fg-aeb8ca] { color:#aeb8ca; }

[bg-ff00a0] { background-color:#ff00a0; }
[bg-9600ff] { background-color:#9600ff; }
[bg-ffffff] { background-color:#ffffff; }
[bg-171a21] { background-color:#171a21; }
[bg-222632] { background-color:#222632; }
[bg-aeb8ca] { background-color:#aeb8ca; }
