@font-face {
	font-family: 'Inter Bold';
	src: url('/static/ttf/inter-bold.ttf');
}

@font-face {
	font-family: 'Inter Medium';
	src: url('/static/ttf/inter-medium.ttf');
}

@font-face {
	font-family: 'Inter Regular';
	src: url('/static/ttf/inter-regular.ttf');
}

@font-face {
	font-family: 'Inter Light';
	src: url('/static/ttf/inter-light.ttf');
}
