@font-face {
	font-weight:300;
	font-family:'Inter';
	src:url('/static/ttf/Inter-Light.ttf');
}

@font-face {
	font-weight:400;
	font-family:'Inter';
	src:url('/static/ttf/Inter-Regular.ttf');
}

@font-face {
	font-weight:600;
	font-family:'Inter';
	src:url('/static/ttf/Inter-Bold.ttf');
}

@font-face {
	font-weight:600;
	font-family:'Nexa Text Heavy';
	src:url('/static/ttf/Nexa Text Heavy.otf');
}

@font-face {
	font-family:'Nexa Text Book';
	src:url('/static/ttf/Nexa Text Book.otf');
}
