@font-face {
	font-weight: 300;
	font-family: 'Poppins';
	src: url('/static/fonts/Poppins-Light.woff2');
}

@font-face {
	font-weight: 400;
	font-family: 'Poppins';
	src: url('/static/fonts/Poppins-Regular.woff2');
}

@font-face {
	font-weight: 500;
	font-family: 'Poppins';
	src: url('/static/fonts/Poppins-Medium.woff2');
}

@font-face {
	font-weight: 600;
	font-family: 'Poppins';
	src: url('/static/fonts/Poppins-SemiBold.woff2');
}

@font-face {
	font-weight: 700;
	font-family: 'Poppins';
	src: url('/static/fonts/Poppins-Bold.woff2');
}
