@font-face {
	font-family:'CircularStd Black';
	src:url('/static/ttf/CircularStd-Black.ttf');
}

@font-face {
	font-family:'CircularStd Bold';
	src:url('/static/ttf/CircularStd-Bold.ttf');
}

@font-face {
	font-family:'CircularStd Book';
	src:url('/static/ttf/CircularStd-Book.ttf');
}

@font-face {
	font-family:'CircularStd Medium';
	src:url('/static/ttf/CircularStd-Medium.ttf');
}

@font-face {
	font-family:'Inter Bold';
	src:url('/static/ttf/inter-bold.ttf');
}

@font-face {
	font-family:'Inter Medium';
	src:url('/static/ttf/inter-medium.ttf');
}

@font-face {
	font-family:'Inter Regular';
	src:url('/static/ttf/inter-regular.ttf');
}

@font-face {
	font-family:'Inter Light';
	src:url('/static/ttf/inter-light.ttf');
}
