a {

	cursor:pointer;
	display:inline-block;
    text-decoration:none;
	color:var(--text-color);
	transition:color 0.3s;

	&:hover {
		color:var(--hover-color);
	}

	i {
		transition:color 0.3s;
		background:-moz-linear-gradient(-60deg, rgba(135,0,255,1) 0%, rgba(255,0,158,1) 100%);
		background:-webkit-linear-gradient(-60deg, rgba(135,0,255,1) 0%, rgba(255,0,158,1) 100%);
		background:linear-gradient(-60deg, rgba(135,0,255,1) 0%, rgba(255,0,158,1) 100%);
		background-clip:text;
		-webkit-background-clip:text;
	}

	&:hover i {
		color:var(--hover-color);
		color:transparent;
	}

	&[faded] {
		@include faded;
	}

}
