a {

	cursor:pointer;
	display:inline-block;
    text-decoration:none;
	color:var(--text-color);
	transition:color 0.3s;

	&:hover {
		color:var(--hover-color);
	}

	span + i {
		padding-left:30px;
	}

	i + span {
		padding-left:10px;
	}

	& l {
		cursor:pointer;
	}

	&[faded] {
		@include faded;
	}

	&[faint] {

		color:var(--faint-color);

		&:hover {
			color:var(--hover-color);
		}

	}

}
