html {
	touch-action:manipulation;
	-webkit-tap-highlight-color:transparent;
}

.announcement {
    width:auto;
	padding:15px;
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;
	border-radius:6px;
    text-align:center;
	display:inline-block;
	background-size:cover;
    background-color:#080C16;
	background-repeat:no-repeat;
	background-position:center top;
	font-family:var(--system-font-app);
	background-image:url("/static/img/surrealdbworld.png");
}

body {

	width:100vw;
	display:flex;
	font-size:16px;
	min-height:100vh;
	overflow-x:hidden;
	flex-direction:column;
	color:var(--text-color);
	background-size:250px, 250px;
	justify-content:space-between;
	font-family:var(--system-font-app);
	background-color:var(--back-color);
	text-rendering:optimizeLegibility !important;
	-webkit-font-smoothing:subpixel-antialiased !important;

}

section {

	body > &:nth-child(odd) {
		background-color:rgba(0,0,0,0);
	}

	body > &:nth-child(even) {
		background-color:rgba(0,0,0,0.1);
		@media (prefers-color-scheme: dark) {
			background-color:rgba(0,0,0,0.1);
		}
		@media (prefers-color-scheme: light) {
			background-color:rgba(100,100,100,0.05);
		}
	}

	@include media(max-width-750) {
		padding:50px 0;
	}

	&[full] {
		width:100%;
		height:100vh;
	}

}

content {

	width:80%;
	display:block;
	max-width:1270px;
	position:relative;
	margin:0 auto 0 auto;
	transition:width 0.5s, max-width 0.5s;

	@include media(max-width-1200) {
		width:930px;
	}

	@include media(max-width-1024) {
		width:85%;
	}

	content {
		width:auto;
	}

	body > &[route^="docs"] {

		max-width:1600px;

		content {
			width:100%;
			max-width:100%;
		}

	}

}