html {
	touch-action:manipulation;
	-webkit-tap-highlight-color:transparent;
}

body {
	width:100vw;
	display:flex;
	font-size:15px;
	min-height:100vh;
	overflow-x:hidden;
	flex-direction:column;
	color:var(--text-color);
	background-size:250px, 250px;
	justify-content:space-between;
	font-family:var(--system-font-app);
	background-color:var(--back-color);
	text-rendering:optimizeLegibility !important;
	-webkit-font-smoothing:subpixel-antialiased !important;
}

section {


	&:nth-child(even) {
		background-color:rgba(0,0,0,0.2);
	}

	@include media(max-width-750) {
		padding:50px 0;
	}

}

content {

	width:80%;
	display:block;
	max-width:1270px;
	position:relative;
	margin:0 auto 0 auto;

	@include media(max-width-1200) {
		width:930px;
	}

	@include media(max-width-1024) {
		width:85%;
	}

	content {
		width:auto;
	}

}

body {

	&:after {

		top:0;
		left:35%;
		width:65%;
		z-index:-1;
		content:'';
		height:1000px;
		display:block;
		position:absolute;
		background-repeat:no-repeat;
		background-position:top left;
		background-size:1000px 1000px;
		background-image:url("/static/img/home/background@2x.jpg");

		@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
			background-image:url("/static/img/home/background@2x.jpg");
		}

	}

}
