html {
	touch-action:manipulation;
	-webkit-tap-highlight-color:transparent;
}

body {
	width:100vw;
	font-size:15px;
	overflow-x:hidden;
	font-family:'Inter';
	color:var(--text-color);
	background-size:250px, 250px;
	background-color:var(--back-color);
	text-rendering:optimizeLegibility !important;
	-webkit-font-smoothing:subpixel-antialiased !important;
	background-image:url("/static/img/home/bodybackground@2x.jpg");
}

content {

	width:80%;
	display:block;
	max-width:1270px;
	position:relative;
	margin:0 auto 0 auto;

	@include media(max-width-1200) {
		width:872px;
	}

	@include media(max-width-1024) {
		width:85%;
	}

}

body {

	&:after {

		top:0;
		left:35%;
		width:65%;
		z-index:-1;
		content:'';
		height:1000px;
		display:block;
		position:absolute;
		background-repeat:no-repeat;
		background-position:top left;
		background-size:1000px 1000px;
		background-image:url("/static/img/home/background@2x.jpg");

		@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
			background-image:url("/static/img/home/background@2x.jpg");
		}

	}

}
