html {
	touch-action:manipulation;
	-webkit-tap-highlight-color:transparent;
}

body {
	width:100vw;
	overflow-x:hidden;
	background:#181a1f;
	font-family:'Inter';
	background-repeat:no-repeat;
	background-size:1000px, 1000px;
	text-rendering:optimizeLegibility !important;
	-webkit-font-smoothing:subpixel-antialiased !important;
	background-position:center left -4%, bottom 21% right -10%;
	background-image:url("/static/img/home/bodybackground@2x.png"), url("/static/img/home/bodybackground2@2x.png");
}

content {

	width:80%;
	display:block;
	max-width:1270px;
	position:relative;
	margin:0 auto 0 auto;

	@include media(max-width-1200) {
		width:872px;
	}

	@include media(max-width-1024) {
		width:85%;
	}

}

body {

	@include media(min-width-1200) {

		&:after {

			top:0;
			left:34%;
			z-index:-1;
			content:'';
			width:1000px;
			height:1000px;
			display:block;
			position:absolute;
			background-size:100%;
			background-repeat:no-repeat;
			background-position:center right;
			background-image:url("/static/img/home/background@2x.png"), radial-gradient(farthest-corner at 450px 40px, #343b45 0%, #181a1f 55%);

			@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
				background-image:url("/static/img/home/background@2x.png"), radial-gradient(farthest-corner at 450px 40px, #343b45 0%, #181a1f 55%);
			}

		}

	}

	@include media(max-width-1200) {

		&:after {

			top:0;
			left:34%;
			z-index:-1;
			content:'';
			width:1000px;
			height:1000px;
			display:block;
			position:absolute;
			background-size:100%;
			background-repeat:no-repeat;
			background-image:url("/static/img/home/background@2x.png"), radial-gradient(farthest-corner at 450px 40px, #343b45 0%, #181a1f 55%);

			@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
				background-image:url("/static/img/home/background@2x.png"), radial-gradient(farthest-corner at 450px 40px, #343b45 0%, #181a1f 55%);
			}

		}

	}

}
