@mixin faded {

	&:not([button]) {

		transition:color 0.3s;
	    background:rgba(255,0,158,1);
	    background-clip:text;
	    -webkit-background-clip:text;

	    &:hover {
			color:var(--hover-color);
			color:rgba(0,0,0,0);
	    }

	}

}
