@mixin faded {

	&:not([button]) {

	    background:#ffffff;
	    background-clip:text;
		transition:color 0.3s;
	    -webkit-background-clip:text;

	    &:hover {
			color:rgba(0,0,0,0);
			color:var(--hover-color);
	    }

	}

}
