@mixin faded {

	&:not([button]) {

	    background:#ffffff;
	    background-clip:text;
		transition:color 0.3s;
	    -webkit-background-clip:text;

	    &:hover {
			color:rgba(0,0,0,0);
			color:var(--hover-color);
	    }

	}

}


@mixin graded {

	transition:color 0.3s;
	background:-moz-linear-gradient(-60deg, rgba(135,0,255,1) 0%, rgba(255,0,158,1) 100%);
	background:-webkit-linear-gradient(-60deg, rgba(135,0,255,1) 0%, rgba(255,0,158,1) 100%);
	background:linear-gradient(-60deg, rgba(135,0,255,1) 0%, rgba(255,0,158,1) 100%);
	background-clip:text;
	-webkit-background-clip:text;

}
