@keyframes fade {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

@keyframes zoom {
	0% {
		opacity:0;
		transform:scale(0.95) translateY(-50px);
	}
	100% {
		opacity:1;
		transform:scale(1.00) translateY(0);
	}
}

app-modal-cover {

	background-color:rgba(0, 0, 0, 0.8);
	-webkit-backdrop-filter:blur(10px);
	-moz-backdrop-filter:blur(10px);
	-ms-backdrop-filter:blur(10px);
	backdrop-filter:blur(10px);
	background:rgba(0, 0, 0, 0.3);
	background:radial-gradient(
		ellipse at 50% 20%,
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.7),
	);

	app-modal-front {

		width:700px;
		height:auto;
		padding:50px;
		font-size:20px;
		line-height:1.7;
		position:relative;
		border-radius:12px;
		color:var(--text-color);
		margin:25vh auto 0 auto;
		animation:zoom ease 0.3s;
		-webkit-animation:zoom ease 0.3s;
		-moz-animation:zoom ease 0.3s;
		-ms-animation:zoom ease 0.3s;
		-o-animation:zoom ease 0.3s;
		background-color:var(--back-color);
		box-shadow:0 5px 20px rgba(0,0,0,0.2);

		@include media(max-width-1000) {
			width:80vw;
			padding:50px;
		}

		@include media(max-width-750) {
			width:90vw;
			padding:50px 30px;
		}

		@include media(max-width-400) {
			width:100vw;
			height:100vh;
			margin:0 auto 0 auto;
			padding:100px 50px 50px 50px;
		}

		@include media(max-width-350) {
			width:100vw;
			height:100vh;
			margin:0 auto 0 auto;
			padding:75px 30px 30px 30px;
		}

		close {
			top:10px;
			right:25px;
			display:block;
			cursor:pointer;
			font-size:28px;
			position:absolute;
			color:var(--text-color);
		}

		line {
			width:100%;
			display:block;
			margin:20px 0 20px 0;
			border-bottom:2px solid var(--border-color);
		}

		text {
			display:block;
			font-size:14px;
			margin:15px 0 0 5px;
		}

		form {

			width:100%;
			display:flex;
			align-items:center;
			justify-content:center;

			@include media(max-width-750) {
				flex-direction:column;
			}

			input {

				width:100%;
				height:45px;
				border:none;
				padding:0 30px;
				font-size:16px;
				margin:0 30px 0 0;
				border-radius:12px;
				color:var(--text-color);
				background-color:var(--input-color);

				@include placeholder {
					color:var(--faint-color);
				}

				@include media(max-width-750) {
					width:100%;
					margin:0 0 20px 0;
				}

			}

			button {

				height:45px;
				flex-shrink:0;
				font-size:16px;

				@include media(max-width-750) {
					margin:0;
					width:100%;
				}

			}

		}

	}

}
