h1 {
	color:#ffffff;
	font-size:62px;
	font-weight:500;
	line-height:1.15;
	font-family:'Poppins';
}

h2 {
	color:#ffffff;
	font-size:34px;
	font-weight:500;
	line-height:1.5;
	font-family:'Inter';
}

h3 {
	color:#ffffff;
	font-size:30px;
	font-weight:500;
	line-height:1.2;
	font-family:'Inter';
}

h4 {
	color:#ffffff;
	font-size:30px;
	font-weight:500;
	line-height:1.2;
	font-family:'Inter';
}

p {

	color:#636a75;
	font-size:18px;
	font-weight:400;
	line-height:1.5;
	font-family:'Inter';
	padding-bottom:30px;

	h2 + &, h3 + &, h4 + & {
		padding-top:30px;
	}

}
