:root {
	--back-color:#171a21;
	--text-color:#ffffff;
	--faint-color:#737e98;
	--hover-color:#ff009e;
	--popup-color:#222632;
	--boxes-color:#222632;
	--input-color:#141416;
	--border-color:#333949;
	--sidebar-color:#222632;
}
