:root {
	--back-color:#171a21;
	--text-color:#ffffff;
	--faint-color:#6a7389;
	--hover-color:#ff3cac;
	--popup-color:#272c39;
	--boxes-color:#272c39;
	--input-color:#13151b;
	--border-color:#272c39;
	--sidebar-color:#1c1f27;
}
