:root {
	--text-color:#ffffff;		// Colour of primary text
	--back-color:#171a21;		// Background page colour
	--faint-color:#737e98;		// Colour of faint text
	--hover-color:#ff009e;		// Colour of links when hovering
	--popup-color:#222632;		// Colour of popup modal window
	--boxes-color:#222632;		// Colour of content box elements
	--input-color:#222632;		// Colour input form elements
	--split-color:#141416;		// Colour of border lines in split code boxes
	--border-color:#333949;		// Colour of border separation lines
	--sidebar-color:#222632;	// Colour of mobile sidebar menu
}
