<Layout::Text text-l text-f>
	<h5><i class="fas fa-arrow-left"></i> &nbsp; <Link @link="docs.integration.libraries">Back</Link></h5>
	<h2><i class="fab fa-angular font-35 m-r-10"></i> Angular driver for <img inline src="/static/img/text.svg" alt="SurrealDB" /></h2>
	<p>This library has not been released yet. We hope to release this soon.</p>
	<p>To get started with connecting to SurrealDB from Apollo GraphQL, use the <Link @link="docs.integration.libraries.javascript">JavaScript</Link> library.</p>
</Layout::Text>

<Layout::Gap small />