<Layout::Text text-l text-f>
    <h2>Client libraries</h2>
	<p>Connect your application to your database with one of our official libraries. The following libraries are officially supported by SurrealDB. They are actively maintained, support new SurrealDB features, and receive bug fixes, performance enhancements, and security patches.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Server side libraries</h3>
</Layout::Text>

<Layout::Gap mini />

<Layout::Boxes cols-3-to-2-to-1>
	<LinkTo @route="docs.integration.libraries.nodejs">
		<Layout::Boxes::Item mini hover>
			<h4><i class="fab fa-node-js font-30 m-r-10"></i> Node.js</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.golang">
		<Layout::Boxes::Item mini hover>
			<h4><i class="fab fa-golang font-30 m-r-10"></i> Golang</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.rust">
		<Layout::Boxes::Item mini hover>
			<h4><i class="fab fa-rust font-30 m-r-10"></i> Rust</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.deno">
		<Layout::Boxes::Item mini hover>
			<h4><i class="fab fa-js-square font-30 m-r-10"></i> Deno</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.python">
		<Layout::Boxes::Item mini hover faded>
			<h4><i class="fab fa-python font-30 m-r-10"></i> Python</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.c">
		<Layout::Boxes::Item mini hover faded>
			<h4><i class="fas fa-square-c font-30 m-r-10"></i> C</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.java">
		<Layout::Boxes::Item mini hover faded>
			<h4><i class="fab fa-java font-30 m-r-10"></i> Java</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.ruby">
		<Layout::Boxes::Item mini hover faded>
			<h4><i class="fal fa-gem font-30 m-r-10"></i> Ruby</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.php">
		<Layout::Boxes::Item mini hover faded>
			<h4><i class="fab fa-php font-30 m-r-10"></i> PHP</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.swift">
		<Layout::Boxes::Item mini hover faded>
			<h4><i class="fab fa-swift font-30 m-r-10"></i> Swift</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.r">
		<Layout::Boxes::Item mini hover faded>
			<h4><i class="fab fa-r-project font-30 m-r-10"></i> R</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.dotnet">
		<Layout::Boxes::Item mini hover faded>
			<h4>.NET</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.erlang">
		<Layout::Boxes::Item mini hover faded>
			<h4><i class="fab fa-erlang font-30 m-r-10"></i> Erlang</h4>
		</Layout::Boxes::Item>
	</LinkTo>
</Layout::Boxes>

<Layout::Line />

<Layout::Text text-l text-f>
	<h3>Client side libraries</h3>
</Layout::Text>

<Layout::Gap mini />

<Layout::Boxes cols-3-to-2-to-1>
	<LinkTo @route="docs.integration.libraries.webassembly">
		<Layout::Boxes::Item mini hover>
			<h4><i class="fab fa-js-square font-30 m-r-10"></i> WebAssembly</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.javascript">
		<Layout::Boxes::Item mini hover>
			<h4><i class="fab fa-js-square font-30 m-r-10"></i> JavaScript</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.emberjs">
		<Layout::Boxes::Item mini hover>
			<h4><i class="fab fa-ember font-30 m-r-10"></i> Ember.js</h4>
		</Layout::Boxes::Item>
	</LinkTo>
    <LinkTo @route="docs.integration.libraries.reactjs">
		<Layout::Boxes::Item mini hover faded>
			<h4><i class="fab fa-react font-30 m-r-10"></i> React.js</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.angularjs">
		<Layout::Boxes::Item mini hover faded>
			<h4><i class="fab fa-angular font-30 m-r-10"></i> Angular</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.vuejs">
		<Layout::Boxes::Item mini hover faded>
			<h4><i class="fab fa-vuejs font-30 m-r-10"></i> Vue.js</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.apollo">
		<Layout::Boxes::Item mini hover faded>
			<h4>Apollo GraphQL</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.dart">
		<Layout::Boxes::Item mini hover faded>
			<h4>Dart</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.flutter">
		<Layout::Boxes::Item mini hover faded>
			<h4>Flutter</h4>
		</Layout::Boxes::Item>
	</LinkTo>
</Layout::Boxes>

<Layout::Gap small />