<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.integration">Integrations</Crumb::Item>
	<Crumb::Item @link="docs.integration.libraries">Libraries</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Libraries</h2>
	<p>Connect your application to your database with one of our official libraries. The following libraries are officially supported by SurrealDB. They are actively maintained, support new SurrealDB features, and receive bug fixes, performance enhancements, and security patches.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Server side libraries</h3>
</Layout::Text>

<Layout::Gap mini />

<Layout::Boxes cols-3-to-2-to-1>
	<LinkTo @route="docs.integration.libraries.rust">
		<Layout::Boxes::Item mini hover>
			<h4>
				<Devicon @size="30" @type="rust" />
				Rust
				<l green r>Available</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.nodejs">
		<Layout::Boxes::Item mini hover>
			<h4>
				<Devicon @size="30" @type="nodejs" />
				Node.js
				<l green r>Available</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.golang">
		<Layout::Boxes::Item mini hover>
			<h4>
				<Devicon @size="30" @type="golang" />
				Golang
				<l green r>Available</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.deno">
		<Layout::Boxes::Item mini hover>
			<h4>
				<Devicon @size="30" @type="denojs" />
				Deno
				<l green r>Available</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.python">
		<Layout::Boxes::Item mini hover>
			<h4>
				<Devicon @size="30" @type="python" />
				Python
				<l green r>Available</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.c">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="c" />
				C
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.java">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="java" />
				Java
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.ruby">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="ruby" />
				Ruby
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.php">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="php" />
				PHP
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.swift">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="swift" />
				Swift
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.r">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="r" />
				R
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.dotnet">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="dotnet" />
				.NET
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.erlang">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="erlang" />
				Erlang
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
</Layout::Boxes>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Client side libraries</h3>
</Layout::Text>

<Layout::Gap mini />

<Layout::Boxes cols-3-to-2-to-1>
	<LinkTo @route="docs.integration.libraries.javascript">
		<Layout::Boxes::Item mini hover>
			<h4>
				<Devicon @size="30" @type="javascript" />
				JavaScript
				<l green r>Available</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.emberjs">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="emberjs" />
				Ember.js
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.reactjs">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="reactjs" />
				React.js
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.angularjs">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="angularjs" />
				Angular
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.vuejs">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="vuejs" />
				Vue.js
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.nextjs">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="nextjs" />
				Next.js
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.nuxtjs">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="nuxtjs" />
				Nuxt.js
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.nestjs">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="nestjs" />
				Nest.js
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.svelte">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="svelte" />
				Svelte
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.dart">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="dart" />
				Dart
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.libraries.flutter">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="flutter" />
				Flutter
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
</Layout::Boxes>

<Layout::Gap large />