<Layout::Text text-l text-f>
	<h5><i class="fas fa-arrow-left"></i> &nbsp; <Link @link="docs.integration.libraries">Back</Link></h5>
	<h2><i class="fab fa-rust font-35 m-r-10"></i> Rust driver for <img inline src="/static/img/text.svg" alt="SurrealDB" /></h2>
	<p>The documentation for this server side library is coming soon.</p>
	<p>In the meantime, view the documentation on <Link @link="https://docs.rs/surrealdb/">docs.rs</Link>.</p>
</Layout::Text>

<Layout::Gap small />