<Layout::Text text-l text-f>
	<h5><i class="fas fa-arrow-left"></i> &nbsp; <Link @link="docs.cli.index">Back to overview</Link></h5>
	<h2>Import command</h2>
	<p>The import command imports a SurrealQL script file into a local or remote SurrealDB database server.</p>
	<blockquote yellow text="Before you start">Make sure you’ve <Link @link="docs.start.installation">installed SurrealDB</Link> — it should only take a second!</blockquote>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Command options</h3>
	<Layout::Table filled>
		<table>
			<thead>
				<tr>
					<th w-40>Argument</th>
					<th w-60>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<code>-c</code> <span fg-faint>/</span> <code>--conn</code>
						<l faint r>Optional</l>
					</td>
					<td>
						Sets the url of the database server to connect to
						<br>
						<p small>Default is <code>https://cloud.surrealdb.com</code></p>
					</td>
				</tr>
				<tr>
					<td>
						<code>-u</code> <span fg-faint>/</span> <code>--user</code>
						<l yellow r>Required</l>
					</td>
					<td>Sets the root, namespace, or database user</td>
				</tr>
				<tr>
					<td>
						<code>-p</code> <span fg-faint>/</span> <code>--root</code>
						<l yellow r>Required</l>
					</td>
					<td>Sets the password for the specified user</td>
				</tr>
				<tr>
					<td>
						<code>--ns</code>
						<l yellow r>Required</l>
					</td>
					<td>Sets the desired namespace into which to import data</td>
				</tr>
				<tr>
					<td>
						<code>--db</code>
						<l yellow r>Required</l>
					</td>
					<td>Sets the desired database into which to import data</td>
				</tr>
			</tbody>
		</table>
	</Layout::Table>
	<Layout::Gap tiny />
	<h5>Positional argument</h5>
	<Layout::Table filled>
		<table>
			<thead>
				<tr>
					<th w-40>Argument</th>
					<th w-60>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<code>file</code>
						<l yellow r>Required</l>
					</td>
					<td>Sets the path to the file which should be imported</td>
				</tr>
			</tbody>
		</table>
	</Layout::Table>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Example usage</h3>
	<p>To perform a SurrealQL database import from a local file, in a terminal run the <Ascua::Prism::Inline @language="shell" @code="surreal import" /> command with the required arguments.</p>
	<codes vertical>
		<Code @name="docs-cli-import-main.shell" text="Command line">
			user@localhost % surreal import --conn http://localhost:8000 --user root --pass root --ns test --db test import.sql
		</Code>
		<Code @name="docs/cli/import/main.txt" />
	</codes>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Command help</h3>
	<p>To see the help information and usage instructions, in a terminal run the <Ascua::Prism::Inline @language="shell" @code="surreal import --help" /> command without any further arguments. This command gives general information on the arguments, inputs, and additional options for the <code>import</code> command.</p>
	<codes vertical>
		<Code @name="docs-cli-help-import.shell" text="Command line">
			user@localhost % surreal import --help
		</Code>
		<Code @name="docs/cli/help/import.txt" />
	</codes>
</Layout::Text>

<Layout::Gap large />