<Layout::Text text-l text-f>
	<h2>Command-line tool</h2>
	<p>The SurrealDB command-line tool can be used to export a dataset as SurrealQL from a local or remote SurrealDB database, import SurrealQL data into a local or remote database, and start a single SurrealDB instance or distributed cluster.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Boxes cols-3-to-2-to-1>
	<LinkTo @route="docs.cli.start">
		<Layout::Boxes::Item mini hover>
			<h4>Start command</h4>
			<p>Start a SurrealDB server in memory, on disk, or in a distributed setup</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.cli.import">
		<Layout::Boxes::Item mini hover>
			<h4>Import command</h4>
			<p>Import a SurrealQL script file into a local or remote SurrealDB database server</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.cli.export">
		<Layout::Boxes::Item mini hover>
			<h4>Export command</h4>
			<p>Export a SurrealQL script file from a local or remote SurrealDB database server</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.cli.version">
		<Layout::Boxes::Item mini hover>
			<h4>Version command</h4>
			<p>Display the current version of the installed command-line tool, and the machine architecture</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.cli.help">
		<Layout::Boxes::Item mini hover>
			<h4>Help command</h4>
			<p>Display help information and instructions on the command-line tool and its arguments</p>
		</Layout::Boxes::Item>
	</LinkTo>
</Layout::Boxes>

<Layout::Gap large />