<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.cli">Command-line tool</Crumb::Item>
	<Crumb::Item @link="docs.cli.start">Start command</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
	<h2>Start command</h2>
	<p>The start command starts a SurrealDB server in memory, on disk, or in a distributed setup.</p>
	<blockquote yellow text="Before you start">Make sure you’ve <Link @link="docs.installation">installed SurrealDB</Link> — it should only take a second!</blockquote>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Command options</h3>
	<Layout::Table filled>
		<table>
			<thead>
				<tr>
					<th w-40>Argument</th>
					<th w-60>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<code>-b</code> <span fg-faint>/</span> <code>--bind</code>
						<l faint r>Optional</l>
					</td>
					<td>
						Sets the hostname or ip address to listen for connections on
						<br>
						<p small>Default is <code>0.0.0.0:8000</code></p>
					</td>
				</tr>
				<tr>
					<td>
						<code>-l</code> <span fg-faint>/</span> <code>--log</code>
						<l faint r>Optional</l>
					</td>
					<td>
						Sets the logging level for the database server
						<br>
						<p small>
							Can be one of <code>error</code>, <code>warn</code>, <u><code>info</code></u>, <code>debug</code>, <code>trace</code>, <code>full</code>
						</p>
					</td>
				</tr>
				<tr>
					<td>
						<code>-u</code> <span fg-faint>/</span> <code>--user</code>
						<l faint r>Optional</l>
					</td>
					<td>
						Sets the master username for the database
						<br>
						<p small>Default is <code>root</code></p>
					</td>
				</tr>
				<tr>
					<td>
						<code>-p</code> <span fg-faint>/</span> <code>--pass</code>
						<l faint r>Optional</l>
					</td>
					<td>Sets the master password for the database</td>
				</tr>
				<tr>
					<td>
						<code>-s</code> <span fg-faint>/</span> <code>--strict</code>
						<l faint r>Optional</l>
					</td>
					<td>Sets whether <Link @link="docs.guides.strict-mode">strict mode</Link> is enabled on this database instance</td>
				</tr>
			</tbody>
		</table>
	</Layout::Table>
	<Layout::Gap tiny />
	<h5>Positional argument</h5>
	<Layout::Table filled>
		<table>
			<thead>
				<tr>
					<th w-40>Argument</th>
					<th w-60>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<code>path</code>
						<l faint r>Optional</l>
					</td>
					<td>
						Sets the database path used for storing data
						<br>
						<p small>
							Can be one of <u><code>memory</code></u>, <code>file:&lt;path&gt;</code>, <code>tikv:&lt;addr&gt;</code>, <code>file://&lt;path&gt;</code>, <code>tikv://&lt;addr&gt;</code>
						</p>
					</td>
				</tr>
			</tbody>
		</table>
	</Layout::Table>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Example usage</h3>
	<p>To display the current command-line tool version, along with the platform and architecture, in a terminal run the <Ascua::Prism::Inline @language="shell" @code="surreal start" /> command with the required arguments.</p>
	<codes vertical>
		<Code @name="docs-cli-start-main.shell" text="Command line">
			user@localhost % surreal start --log trace --user root --pass root memory
		</Code>
		<Code @name="docs/cli/start/main.txt" />
	</codes>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Command help</h3>
	<p>To see the help information and usage instructions, in a terminal run the <Ascua::Prism::Inline @language="shell" @code="surreal start --help" /> command without any further arguments. This command gives general information on the arguments, inputs, and additional options for the <code>start</code> command.</p>
	<codes vertical>
		<Code @name="docs-cli-help-start.shell" text="Command line">
			user@localhost % surreal start --help
		</Code>
		<Code @name="docs/cli/help/start.txt" />
	</codes>
</Layout::Text>

<Layout::Gap large />