<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.guides">Guides</Crumb::Item>
	<Crumb::Item @link="docs.guides.geospatial-functionality">Geospatial functionality</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Geospatial functionality</h2>
	<p>Coming soon</p>
</Layout::Text>