<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.guides">Guides</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Guides</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec purus nec turpis cursus placerat. Fusce eros lectus, ullamcorper sed vestibulum eu, rutrum ac massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec pulvinar at urna at maximus.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Boxes cols-3-to-2-to-1>
	<LinkTo @route="docs.guides.strict-mode">
		<Layout::Boxes::Item mini hover>
			<h4>Running in strict mode</h4>
			<p>Boolean values, strings, numbers, UUIDs, arrays, objects, and durations</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.guides.schemafull-or-schemaless">
		<Layout::Boxes::Item mini hover>
			<h4>Schemafull or schemaless</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.guides.relations-and-graph">
		<Layout::Boxes::Item mini hover>
			<h4>Relations and the graph</h4>
			<p>Datetimes and durations can be used to store and manipulate dates and times</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.guides.realtime-subscriptions">
		<Layout::Boxes::Item mini hover>
			<h4>Realtime subscriptions</h4>
			<p>Geolocation points and GeoJSON values can be used to store geometry data</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.guides.geospatial-functionality">
		<Layout::Boxes::Item mini hover>
			<h4>Geospatial functionality</h4>
			<p>Use record links to point to and link directly with records in other tables</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.guides.data-triggers">
		<Layout::Boxes::Item mini hover>
			<h4>Setting up data triggers</h4>
			<p>Use futures to store values which should only be computed when retrieving data</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.guides.computed-views">
		<Layout::Boxes::Item mini hover>
			<h4>Computed views</h4>
			<p>Use futures to store values which should only be computed when retrieving data</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.guides.authenticating-users">
		<Layout::Boxes::Item mini hover>
			<h4>Authenticating users</h4>
			<p>Geolocation points and GeoJSON values can be used to store geometry data</p>
		</Layout::Boxes::Item>
	</LinkTo>
</Layout::Boxes>

<Layout::Gap large />