<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.guides">Guides</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Guides</h2>
	<p>We are working on guides for the topics you see here below, if you'd like more topics added, let us know on <a href="https://discord.gg/surrealdb">discord</a></p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Boxes cols-3-to-2-to-1>
	<LinkTo @route="docs.guides.strict-mode">
		<Layout::Boxes::Item mini hover>
			<h4>Running in strict mode</h4>
			<p>Coming soon</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.guides.schemafull-or-schemaless">
		<Layout::Boxes::Item mini hover>
			<h4>Schemafull or schemaless</h4>
			<p>Coming soon</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.guides.relations-and-graph">
		<Layout::Boxes::Item mini hover>
			<h4>Relations and the graph</h4>
			<p>Coming soon</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.guides.realtime-subscriptions">
		<Layout::Boxes::Item mini hover>
			<h4>Realtime subscriptions</h4>
			<p>Coming soon</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.guides.geospatial-functionality">
		<Layout::Boxes::Item mini hover>
			<h4>Geospatial functionality</h4>
			<p>Coming soon</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.guides.data-triggers">
		<Layout::Boxes::Item mini hover>
			<h4>Setting up data triggers</h4>
			<p>Coming soon</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.guides.computed-views">
		<Layout::Boxes::Item mini hover>
			<h4>Computed views</h4>
			<p>Coming soon</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.guides.authenticating-users">
		<Layout::Boxes::Item mini hover>
			<h4>Authenticating users</h4>
			<p>Coming soon</p>
		</Layout::Boxes::Item>
	</LinkTo>
</Layout::Boxes>

<Layout::Gap large />