<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.guides">Guides</Crumb::Item>
	<Crumb::Item @link="docs.guides.strict-mode">Strict mode</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Running in strict mode</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec purus nec turpis cursus placerat. Fusce eros lectus, ullamcorper sed vestibulum eu, rutrum ac massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec pulvinar at urna at maximus.</p>
</Layout::Text>