<footer ...attributes>
	<content>
		<upper>
			<div>
				<Icon />
				<LinkTo @route="index" class="logo"></LinkTo>
				<p>With an SQL-style query language, real-time queries with highly-efficient related data retrieval, advanced security permissions for multi-tenant access, and support for performant analytical workloads, SurrealDB is the next generation serverless database.</p>
				<p>
					<a href="https://www.linkedin.com/company/surrealdb/" rel="noopener noreferrer" target="_blank">
						<i class="fab fa-linkedin"></i>
					</a>
					<a href="https://twitter.com/surrealdb" rel="noopener noreferrer" target="_blank">
						<i class="fab fa-twitter"></i>
					</a>
					<a href="https://www.youtube.com/channel/UCjf2teVEuYVvvVC-gFZNq6w" rel="noopener noreferrer" target="_blank">
						<i class="fab fa-youtube"></i>
					</a>
				</p>
			</div>
		</upper>
		<lower>
			<p>
				Copyright &copy; SurrealDB Ltd.
				<br>
				Registered in England and Wales, no. 13615201
				<br>
				Registered address: Civvals, 50 Seymour Street, London, W1H 7JG
				<br>
			</p>
		</lower>
	</content>
</footer>
