<footer page={{route-name}} ...attributes>
	<content>
		<upper>
			<div>
				<h4>BrandSafe</h4>
				<p>The easiest-to-use Digital Asset Management system. Save oodles of time for your company, and for everyone you work with - by creating an accessible place for all your brand assets, and ensuring that the right users have access to the latest materials, thereby guaranteeing your brand integrity.</p>
			</div>
			<div>
				<div>
					<h4>Information</h4>

					<LinkTo @route="index">Home</LinkTo>

					<LinkTo @route="customers">What our clients say</LinkTo>

					<LinkTo @route="product">Product</LinkTo>

					<LinkTo @route="pricing">Pricing</LinkTo>

					<a href="https://app.brandsafe.io" rel="noopener noreferrer">Login</a>

					<br><br>

					<h4>Contact</h4>

					<LinkTo @route="contact">Contact</LinkTo>

					<LinkTo @route="contact">Support</LinkTo>
				</div>
				<div>
					<h4>Who is it for?</h4>

					<LinkTo @route="agencies">Agencies</LinkTo>

					<LinkTo @route="commercial">Commercial</LinkTo>

					<LinkTo @route="memberorganisations">Member Organisations</LinkTo>
				</div>
			</div>
		</upper>
		<lower>
			<p>
				BrandSafe, an <a href="https://abcum.com" rel="noopener noreferrer">Abcum</a> product
				<br>
				Registered in England and Wales, no. 06868913 VAT no. GB982150323
				<br>
				Registered address: Civvals, 50 Seymour Street, London, W1H 7JG
				<br>
			</p>
		</lower>
	</content>
</footer>