<Layout::Gap />

<Layout::Text>
 	<h2>Superpowered database functionality</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac consectetur lectus. Maecenas faucibus eros lacinia congue rhoncus. Fusce in gravida tortor, sit amet aliquam augue. Proin in volutpat libero. Integer facilisis rhoncus orci vel molestie. Mauris nec velit tincidunt, dignissim metus mattis, porttitor libero. Phasellus auctor at turpis eget commodo. Nunc dignissim, leo dictum scelerisque malesuada, lectus lorem gravida odio, a pulvinar massa turpis accumsan lacus. Curabitur lobortis, arcu non efficitur semper, massa arcu posuere risus, at laoreet urna risus eget enim.</p>
</Layout::Text>

<Layout::Gap />

<Layout::Blocks main-f as |block|>
	<block>
		<h4>Lorem ipsum dolor sit amet</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales nisi eget leo consequat gravida. In viverra diam quis vestibulum lacinia. Nulla purus sem, consectetur ac leo quis, suscipit aliquet velit.</p>
	</block>
	<block>
		<codes>
			<Code min-h-300 @name="blank.sql" />
			<Code min-h-300 @name="blank.sql" />
		</codes>
	</block>
</Layout::Blocks>

<Layout::Gap />