<Layout::Text text-l text-f>
    <h2>Installation</h2>
	<p>There are a number of ways of running SurrealDB. It can either be installed from a binary image, or it can be run from within Docker. Once installed, the <Ascua::Prism::Inline @language="bash" @code="surreal" /> command is a single executable which can be used to backup, interact with, and run SurrealDB server instances.</p>
</Layout::Text>

<Layout::Gap small />

<Layout::Text text-l text-f>

	<h3>
		<i class="fab fa-docker font-25 m-b-5 m-r-10"></i> Run using Docker
	</h3>

	<p>Docker can be used to manage and run SurrealDB database instances without the need to install any command-line tools. The <Link @link={{url "docker"}}>SurrealDB docker container</Link> contains the full command-line tools for importing and exporting data from a running server, or for running a server itself.</p>

	<Code @name="install-docker.bash">
		docker run --pull --rm -p 8000:8000 surrealdb/surrealdb:latest start
	</Code>

</Layout::Text>

<Layout::Gap small />

<Layout::Text text-l text-f>

	<h3>
		<i class="fab fa-apple font-25 m-b-5 m-r-10"></i> Installing on macOS
	</h3>

	<p>The quickest way to get going with SurrealDB on macOS is to use Homebrew. This will install both the command-line tools, and the SurrealDB server as a single executable. If you don't use Homebrew, follow the instructions for Linux below to install SurrealDB.</p>

	<Code @name="install-macos.shell">
		user@localhost % brew install surrealdb/tap/surreal
	</Code>

	<p>Once installed, you can run the SurrealDB command-line tool by using the <code>surreal</code> command. To check whether the install was successful run the following command in your terminal.</p>

	<Code @name="install-macos-test.shell">
		user@localhost % surreal help
	</Code>

	<p>The result should look similar to the output below, confirming that the SurrealDB command-line tool was installed successfully.</p>

	<Code @name="docs/cli/help/main.txt" />

</Layout::Text>

<Layout::Gap small />

<Layout::Text text-l text-f>

	<h3>
		<i class="fab fa-linux font-25 m-b-5 m-r-10"></i> Installing on Linux
	</h3>

	<p>The easiest and preferred way to get going with SurrealDB on Unix operating systems is to install and use the SurrealDB command-line tool. Run the following command in your terminal and follow the on-screen instructions.</p>

	<Code @name="install-linux.shell">
		user@localhost % curl -sSf https://install.surrealdb.com | sh
	</Code>

	<p>Once the script has finished installing, it will tell you where it has installed the SurrealDB command-line tool. If it had the necessary permissions, it will install into <code>/usr/local/bin</code>, otherwise it will install into your home directory.</p>

	<Code @name="install-linux-done.txt">

		 .d8888b.                                             888 8888888b.  888888b.
		d88P  Y88b                                            888 888  'Y88b 888  '88b
		Y88b.                                                 888 888    888 888  .88P
		 'Y888b.   888  888 888d888 888d888  .d88b.   8888b.  888 888    888 8888888K.
		    'Y88b. 888  888 888P'   888P'   d8P  Y8b     '88b 888 888    888 888  'Y88b
		      '888 888  888 888     888     88888888 .d888888 888 888    888 888    888
		Y88b  d88P Y88b 888 888     888     Y8b.     888  888 888 888  .d88P 888   d88P
		 'Y8888P'   'Y88888 888     888      'Y8888  'Y888888 888 8888888P'  8888888P'

		Fetching the latest database version...
		Fetching the host system architecture...
		Installing surreal-v1.0.0-beta.5 for linux-amd64...

		SurrealDB successfully installed in:
		  /home/tobie/.surrealdb/surreal

		To ensure that surreal is in your $PATH run:
		  PATH=/home/tobie/.surrealdb:$PATH
		Or to move the binary to /usr/local/bin run:
		  sudo mv /home/tobie/.surrealdb/surreal /usr/local/bin

		To see the command-line options run:
		  surreal help
		To start an in-memory database server run:
		  surreal start --log debug --user root --pass root memory
		For help with getting started visit:
		  https://surrealdb.com/docs

	</Code>

	<p>To check whether the install was successful run the following command in your terminal.</p>

	<Code @name="install-linux-test.shell">
		user@localhost % surreal help
	</Code>

	<p>The result should look similar to the output below, confirming that the SurrealDB command-line tool was installed successfully.</p>

	<Code @name="docs/cli/help/main.txt" />

</Layout::Text>

<Layout::Gap small />

<Layout::Text text-l text-f>

	<h3>
		<i class="fab fa-windows font-25 m-b-5 m-r-10"></i> Installing on Windows
	</h3>

    <p><l pink>Coming soon</l></p>

	<p>The easiest and preferred way to get going with SurrealDB on Windows is to install and use the SurrealDB command-line tool. Run the following command in your terminal and follow the on-screen instructions.</p>

	<Code @name="install-windows.shell">
		PS C:\> iwr https://windows.surrealdb.com -useb | iex
	</Code>

	<p>Once the script has finished installing, it will tell you where it has installed the SurrealDB command-line tool. If it had the necessary permissions, it will install into <code>/usr/local/bin</code>, otherwise it will install into your home directory.</p>

	<Code @name="install-windows-done.txt">

		 .d8888b.                                             888 8888888b.  888888b.
		d88P  Y88b                                            888 888  'Y88b 888  '88b
		Y88b.                                                 888 888    888 888  .88P
		 'Y888b.   888  888 888d888 888d888  .d88b.   8888b.  888 888    888 8888888K.
		    'Y88b. 888  888 888P'   888P'   d8P  Y8b     '88b 888 888    888 888  'Y88b
		      '888 888  888 888     888     88888888 .d888888 888 888    888 888    888
		Y88b  d88P Y88b 888 888     888     Y8b.     888  888 888 888  .d88P 888   d88P
		 'Y8888P'   'Y88888 888     888      'Y8888  'Y888888 888 8888888P'  8888888P'

		Fetching the latest database version...
		Fetching the host system architecture...
		Installing surreal-v1.0.0-beta.5 for windows-amd64...

		SurrealDB successfully installed in:
		  C:\Users\Tobie\Documents\surreal.exe

		To see the command-line options run:
		  C:\Users\Tobie\Documents\surreal.exe help
		To start an in-memory database server run:
		  C:\Users\Tobie\Documents\surreal.exe start --log debug --user root --pass root memory
		For help with getting started visit:
		  https://surrealdb.com/docs

	</Code>

	<p>To check whether the install was successful run the following command in your terminal.</p>

	<Code @name="install-windows-test.shell">
		PS C:\> C:\Users\Tobie\Documents\surreal.exe help
	</Code>

	<p>The result should look similar to the output below, confirming that the SurrealDB command-line tool was installed successfully.</p>

	<Code @name="docs/cli/help/main.txt" />

</Layout::Text>

<Layout::Gap large />