book-a-demo {

	z-index: 1;
	width: 100%;
	height: auto;
	display: block;
	position: relative;
	background-color: #333333;
	border-bottom: 1px solid rgb(255, 255, 255, 0.1);

	&[page='customers'] {

		margin-top: 0px;
		background-image: none;

		@include media(max-width-1200) {
			margin: 100px auto 0px auto;
		}

		@include media(max-width-480) {
			margin: 50px auto 0px auto;
		}

	}

	line {

		width: 50px;
		margin: 0 auto;
		display: block;
		color: #33cc66;
		margin-top: 30px;
		text-align: center;
		border-radius: 50px;
		margin-bottom: 50px;
		border-top: 5px solid;
		justify-content: center;

	}

	h1 {

		width: 50%;
		color: #ffffff;
		font-size: 42px;
		text-align: left;
		font-weight: 600;
		line-height: 1.14;
		padding-top: 100px;
		padding-bottom: 50px;
		letter-spacing: -1.19px;
		font-family: 'Inter Medium', sans-serif;
		span { color: #33cc66; }

		@include media(max-width-1200) {
			width: 100%;
			font-size: 42px;
			line-height: 47px;
			padding-top: 50px;
		}

		@include media(max-width-480) {
			font-size: 32px;
			line-height: 47px;
		}

	}

}
