book-a-demo {

	z-index: 1;
	width: 100%;
	height: auto;
	display: block;
	position: relative;
	background-size: 900px;
	background-color: #2b313a;
	background-repeat: no-repeat;
	background-position: top center;
	background-image: url("/static/img/home/honeycomb.png");

	h1 {

		width: 100%;
		color: #ffffff;
		font-size: 42px;
		font-weight: 600;
		line-height: 1.14;
		padding-top: 100px;
		text-align: center;
		letter-spacing: 0px;
		padding-bottom: 50px;
		font-family: 'Inter Medium', sans-serif;
		span { color: #ff3cac; }

		@include media(max-width-1200) {
			font-size: 42px;
			text-align: left;
			line-height: 47px;
			padding-top: 100px;
		}

		@include media(max-width-480) {
			font-size: 32px;
			line-height: 47px;
			padding-top: 50px;
		}

	}

}
