box-button {

	float: left;
	width: auto;
	height: 65px;
	color: white;
	border: none;
	outline: none;
	cursor: pointer;
	box-shadow: none;
	line-height: 22px;
	border-radius: 6px;
	text-align: center;
	margin-bottom: 100px;
	display: inline-block;
	background: -moz-linear-gradient(-60deg, rgba(135,0,255,1) 0%, rgba(255,60,172,1) 70%);
	background: -webkit-linear-gradient(-60deg, rgba(135,0,255,1) 0%, rgba(255,60,172,1) 70%);
	background: linear-gradient(-60deg, rgba(135,0,255,1) 0%, rgba(255,60,172,1) 70%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8700ff",endColorstr="#ff3cac",GradientType=1);
	transition: box-shadow 0.3s ease-in-out;

	@include media(max-width-768) {
		width: 100%;
		font-size: 14px;
		margin-bottom: 50px;
	}

	&:hover {
		box-shadow: 0 2px 20px rgba(0,0,0,0.3);
	}

	a {
		display: block;
		padding: 20px 30px 15px 30px;
	}

	&[bookademo] {
		width: 50%;
		margin-left: 25%;
		margin-right: 25%;

		@include media(max-width-1200) {
			width: 100%;
			float: left;
			display: block;
			margin: 0px auto 100px auto;
		}

		@include media(max-width-480) {
			padding-top: 50px;
		}

	}

	&[walkthrough] {

		@include media(max-width-1200) {
			float: left;
			width: 200px;
			display: block;
			margin: 50px auto 50px auto;
		}

		@include media(max-width-768) {
			width: 200px;
			display: block;
			margin: 50px auto 50px auto;
		}

	}

	span {
		color: #ffffff;
		font-size: 16px;
		font-family: 'Inter Medium', sans-serif;
		@include media(max-width-480) {
			font-size: 14px;
		}
	}

}
