footer {

	border-top:1px solid var(--border-color);

	content {

		> links {

			display:flex;
			flex-wrap:wrap;
			flex-direction:row;
			padding:50px 0 50px 0;
			align-items:flex-start;
			justify-content:flex-start;

			@include media(max-width-1449) {
				justify-content:space-between;
			}

			@include media(max-width-750) {
				padding:50px 0 0px 0;
			}

			> div {

				@include media(max-width-750) {
					width:100%;
					height:50px;
					flex-basis:100%;
				}

			}

			a {
				color:var(--faint-color);
			}

			p {
				font-size:14px;
				font-weight:bold;
				color:var(--text-color);
				text-transform:uppercase;
			}

			> nav {

				display:flex;
				padding-right:100px;
				flex-direction:column;

				@include media(max-width-1024) {
					width:25%;
				}

				@include media(max-width-750) {
					width:50%;
					padding-bottom:50px;
				}

				> a {
					display:flex;
					align-items:center;
					white-space:nowrap;
					margin-bottom:25px;
				}

			}

		}

		> upper {

			display:flex;
			flex-direction:row;
			padding:100px 0 0 0;
			align-items:flex-start;
			justify-content:space-between;
			border-bottom:1px solid var(--border-color);

			@include media(max-width-1449) {
				width:100%;
			}

			> div {

				width:100%;
				display:flex;
				flex-shrink:0;
				flex-direction:column;
				align-items:flex-start;
				justify-content:space-between;

				@include media(max-width-1449) {
					width:100%;
				}

				.logo {
					width:300px;
					height:40px;
					display:block;
					margin-bottom: 30px;
					background-repeat:no-repeat;
					background-image:url("/static/img/logo.svg");
				}

				> div {
					width:50%;
					display:flex;
					flex-shrink:0;
					flex-direction:column;
				}

				h4 {
					font-size:20px;
					margin-bottom:30px;
					color:var(--text-color);
				}

				a {
					font-size:14px;
					color:var(--faint-color);
				}

				i {

					cursor:pointer;
					font-size:26px;
					margin:0 10px 0 0;
					transition:color 0.3s;
					color:var(--faint-color);

					@include media(max-width-400) {
						font-size:22px;
						margin:0 5px 0 0;
					}

				}

				p {

					font-size:16px;
					margin-bottom:30px;
					color:var(--text-color);

					&:nth-of-type(1) {
						padding-bottom:15px;
					}

					&:nth-of-type(2) {
						padding-bottom:10px;
					}

				}

			}

		}

		> lower {

			display:flex;
			max-width:850px;
			align-items:center;
			flex-direction:row;
			padding:0 0 100px 0;
			justify-content:flex-start;
			border-top:1px solid var(--border-color);

			@include media(max-width-1449) {
				max-width:100%;
			}

			img {

				float:left;
				height:60px;
				margin:30px 65px 0 0;

				@include media(max-width-768) {
					display:none;
				}

			}

			p {
				font-size:12px;
				margin-top:30px;
				color:var(--faint-color);
			}

		}

	}

}
