footer {

	background-repeat:no-repeat;
	background-size:1254px 662px;
	background-position:600px 0px;
	border-top:1px solid var(--border-color);
	background-image:url("/static/img/home/honeycomb.png");

	content {

		> links {

			display:flex;
			flex-wrap:wrap;
			flex-direction:row;
			padding:50px 0 50px 0;
			align-items:flex-start;
			justify-content:flex-start;

			> div {

				@include media(max-width-750) {
					width:100%;
					height:50px;
					flex-basis:100%;
				}

			}

			> nav {

				display:flex;
				padding-right:100px;
				flex-direction:column;

				@include media(max-width-1024) {
					width:25%;
				}

				@include media(max-width-750) {
					width:50%;
				}

				> a {
					display:flex;
					align-items:center;
					white-space:nowrap;
					margin-bottom:25px;
				}

			}

		}

		> upper {

			display:flex;
			flex-direction:row;
			padding:100px 0 0 0;
			align-items:flex-start;
			width:calc(100% - 350px);
			justify-content:space-between;
			border-bottom:1px solid var(--border-color);

			@include media(max-width-768) {
				width:100%;
			}

			> div {

				width:85%;
				display:flex;
				flex-shrink:0;
				flex-direction:column;
				align-items:flex-start;
				justify-content:space-between;

				@include media(max-width-768) {
					width:100%;
				}

				.logo {
					width:300px;
					height:40px;
					display:block;
					margin-bottom: 30px;
					background-repeat:no-repeat;
					background-image:url("/static/img/logo.svg");
				}

				> div {
					width:50%;
					display:flex;
					flex-shrink:0;
					flex-direction:column;
				}

				h4 {
					font-size:20px;
					margin-bottom:30px;
					color:var(--text-color);
				}

				a {
					font-size:14px;
					color:var(--faint-color);
				}

				i {
					cursor:pointer;
					font-size:22px;
					margin:0 5px 0 0;
					transition:color 0.3s;
					color:var(--faint-color);
				}

				p {

					font-size:16px;
					margin-bottom:30px;
					color:var(--text-color);

					&:nth-of-type(1) {
						padding-bottom:15px;
					}

					&:nth-of-type(2) {
						padding-bottom:10px;
					}

				}

			}

		}

		> lower {

			display:flex;
			max-width:650px;
			align-items:center;
			flex-direction:row;
			padding:0 0 100px 0;
			justify-content:space-between;
			border-top:1px solid var(--border-color);

			img {

				float:left;
				height:60px;
				margin-top:30px;

				@include media(max-width-768) {
					display:none;
				}

			}

			p {
				font-size:12px;
				margin-top:30px;
				color:var(--faint-color);
			}

		}

	}

}
