footer {

	margin-top:150px;
	background:#111216;

	content {

		@include media(max-width-1200) {
			width: 872px;
		}

		@include media(max-width-1024) {
			width: 85%;
		}

		> upper {

			display:flex;
			flex-direction:row;
			padding:100px 0 0 0;
			align-items:flex-start;
			justify-content:space-between;

			> div {

				width:50%;
				display:flex;
				flex-shrink:0;
				align-items:flex-start;
				justify-content:space-between;

				@include media(max-width-768) {
					width:100%;
				}

				&:nth-child(1) {
					padding-right: 50px;
					flex-direction: column;
					@include media(max-width-1024) {
						padding-right: 0;
						padding-bottom: 30px;
					}
				}

				&:nth-child(2) {
					padding-left: 50px;
					flex-direction: row;
					@include media(max-width-1024) {
						padding-left: 0;
						padding-top: 30px;
					}
				}

				.logo {
					width:120px;
					height:20px;
					display:block;
					margin-bottom: 30px;
					background-repeat:no-repeat;
					background-image:url("/static/img/logo.svg");
				}

				> div {
					width: 50%;
					display: flex;
					flex-shrink: 0;
					flex-direction: column;
				}

				h4 {
					color: #ffffff;
					font-size: 20px;
					margin-bottom: 30px;

					@include media(max-width-480) {
						font-size: 19px;
					}

				}

				p {
					color: #636a75;
					font-size: 14px;
				}

				a {

					color:#636a75;
					font-size:14px;

					&:hover {
						color: #ff3cac;
					}

				}

				i {

					color:#636a75;
					cursor:pointer;
					font-size:22px;
					margin:0 5px 0 0;
					transition:color 0.3s;

					&:hover {
						color:#ffffff;
					}

				}

			}

		}

		> lower {

			display:flex;
			align-items:center;
			flex-direction:row;
			padding:0 0 100px 0;
			justify-content:space-between;

			p {
				color:#636a75;
				font-size:12px;
			}

		}

	}

}
