header {

	z-index:10;
	width:100%;
	height:100px;
	display:block;
	position:relative;
	background-color:transparent;

	content {

		display:flex;
		flex-direction:row;
		justify-content:space-between;

		.logo {

			float:left;
			width:120px;
			height:20px;
			display:block;
			margin-top:45px;
			margin-bottom:45px;
			text-decoration:none;
			background-repeat:no-repeat;
			background-repeat:no-repeat;
			background-image:url("/static/img/logowhite.svg");

			&[special] {
				background-image:url("/static/img/logo.svg");
			}

			@include media(max-width-480) {
				height:20px;
				margin-top:30px;
				margin-bottom:28px;
			}

		}

		ul {

			margin:0;
			padding:0;
			display:flex;
			list-style:none;
			align-items:center;
			flex-direction:row;
			justify-content:center;

			@include media(max-width-1000) {
				display:none;
			}

			li {

				a {

					color:#ffffff;
					display:block;
					font-size:15px;
					margin:0 0 0 30px;
					padding:0 0 5px 0;
					transition:color 0.5s, border 0.5s;
					border-bottom:3px solid transparent;

					&:not([button])[selected] {
						border-bottom:2px solid #ffffff;
					}

					&:not([button]):hover {
						color:#ff3cac;
						border-bottom:2px solid #ff3cac;
					}

				}

			}

		}

	}

}
