header {

	z-index:10;
	width:100%;
	display:block;
	position:relative;
	background-color:transparent;

	@include media(max-width-1000) {
		top:0;
		position:-webkit-sticky;
		position:sticky;
		background: rgba(24, 26, 31, 0.5);
		-webkit-backdrop-filter:blur(10px);
		-moz-backdrop-filter:blur(10px);
		-ms-backdrop-filter:blur(10px);
		backdrop-filter:blur(10px);
	}

	content {

		display:flex;
		flex-direction:row;
		justify-content:space-between;

		> div {

			height:30px;
			display:flex;
			margin:30px 0;
			align-items:center;
			justify-content:center;

			@include media(max-width-480) {
				height:50px; margin:10px;
			}

			.icon {
				width:40px;
				height:45px;
				display:block;
				margin:0 20px 0 0;
				background-size:100% auto;
				background-repeat:no-repeat;
				background-image:url("/static/img/icon.png");
			}

			.logo {
				width:120px;
				height:20px;
				display:block;
				background-repeat:no-repeat;
				background-image:url("/static/img/logo.svg");
			}

		}

		> space {
			margin-left:auto;
		}

		> sidebar-menu {

			display:none;
			color:#ffffff;
			font-size:22px;
			cursor:pointer;
			margin-left:30px;
			align-items:center;
			flex-direction:row;
			justify-content:center;

			* {
				cursor:pointer;
			}

			@include media(max-width-1000) {
				display:flex;
			}

			@include media(max-width-375) {
				margin-left:20px;
			}

		}

		> nav {

			margin:0;
			padding:0;
			display:flex;
			align-items:center;
			flex-direction:row;
			justify-content:center;

			a {

				color:#ffffff;
				display:block;
				font-size:15px;
				margin:0 0 0 30px;
				padding:0 0 5px 0;
				transition:color 0.5s, border 0.5s;
				border-bottom:3px solid transparent;

				&[button] {

					height:40px;

					@include media(max-width-750) {
						display:none;
					}

				}

				&:not([button]) {

					@include media(max-width-1000) {
						display:none;
					}

					&[selected] {
						border-bottom:3px solid #ff3cac;
					}

					&:hover {
						color:#ff3cac;
						border-bottom:3px solid #ff3cac;
					}

				}

			}

		}

	}

}
