surreal-icon {

	right:0;
	width:289px;
	display:block;
	position:absolute;
	margin:0 -14px 0 0;

	@include media(max-width-1200) {
		margin:0 -16px 0 0;
	}

	@include media(max-width-1000) {
		display:none;
	}

	img {
		width:100%;
		height:auto;
	}

}
