key-features {

	.grid-container {
		padding: 0px;
		display: grid;
		grid-gap: 20px 20px;
		background-color: transparent;
		grid-template-columns: auto auto auto;

		@include media(max-width-780) {
			grid-gap: 50px;
			margin-bottom: 0px;
			grid-template-rows: repeat(4, auto);
			grid-template-columns: repeat(1, 1fr);
		}

	}

	.grid-container > div {
		padding: 40px;
		text-align: center;
		background-color: #2b313a;
	}

	h3 {
		color: #ffffff;
		font-size: 22px;
		line-height: 1.1;
		font-weight: 600;
		text-align: center;
		letter-spacing: -1px;

		@include media(max-width-950) {
			font-size:18px;
			text-align: center;
		}

	}

}
