logo {

	right:0;
	width:350px;
	height:100%;
	display:block;
	position:absolute;
	margin:250px 50px 0 0;
	pointer-events:none;

	@include media(max-width-1200) {
		margin:175px 0 0 0;
	}

	@include media(max-width-1000) {
		display:none;
	}

	img {
		width:100%;
		height:auto;
	}

}
