surreal-logo {

	right:0;
	width:432px;
	height:100%;
	display:block;
	position:absolute;
	margin:0 -30px 0 0;
	pointer-events:none;

	@include media(max-width-1301) {
		width:380px;
	}

	@include media(max-width-1024) {
		display:none;
	}

	img {
		width:100%;
		height:auto;
	}

}
