main-title-who3 {

	z-index: 0;
	width: 100%;
	display: block;
	position: relative;
	margin-bottom: 50px;
	background-color: #33cc66;

	&[page='who'] {

		height: 520px;
		overflow: hidden;
		margin-bottom: 0px;

		@include media(min-width-768) {

			> content {
				&:before {

					left: 52%;
					top: 150px;
					content: '';
					width: 1120px;
					height: 700px;
					display: block;
					position: absolute;
					border-radius: 10px;
					background-size: 100%;
					background-repeat: no-repeat;
					box-shadow: 0 2px 30px rgba(0,0,0,0.25);
					background-image: url("/static/img/who/memberorganisations@2x.jpg");

					@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
						background-image: url("/static/img/who/memberorganisations@2x.jpg");
					}

				}
			}

		}

		@include media(max-width-768) {

			height: auto;

			> content {
				&:after {

					z-index: 1;
					content: '';
					height: auto;
					bottom: 10vw;
					display: block;
					padding-top: 62%;
					margin-top: 15vw;
					position: relative;
					border-radius: 10px;
					background-size: 100%;
					background-repeat: no-repeat;
					box-shadow: 0 2px 30px rgba(0,0,0,0.25);
					background-image: url("/static/img/who/memberorganisations@2x.jpg");

					@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
						background-image: url("/static/img/who/memberorganisations@2x.jpg");
					}

				}
			}

		}

	}

	content {

		position: relative;

		h1 {

			width: 40%;
			color: #ffffff;
			font-size: 42px;
			text-align: left;
			font-weight: 300;
			line-height: 1.14;
			padding-top: 160px;
			padding-bottom: 0px;
			letter-spacing: -1.5px;
			font-family: 'Inter Bold', sans-serif;
			span { color: #71dc94; }

			@include media(max-width-768) {
				width: 90%;
				margin: 0 5% 0 5%;
				line-height: 47px;
				text-align: center;
				position: relative;
				padding-top: 120px;
				position: relative;
				br { display: none; }
			}

			@include media(max-width-480) {
				font-size: 32px;
				line-height: 47px;
				padding-top: 100px;
				position: relative;
				br { display: none; }
			}

		}

	}

}
