main-title {

	z-index: 0;
	width: 100%;
	display: block;
	position: relative;
	margin-bottom: 50px;

	&[page='index'] {

		height: 770px;
		margin-bottom: 150px;

		@include media(min-width-1200) {

			> content {
				&:before {

					z-index: -5;
					left: 34%;
					top:-50px;
					content: '';
					width: 1000px;
					height: 1000px;
					display: block;
					border-radius:0px;
					position: absolute;
					background-size: 100%;
					background-repeat: no-repeat;
					background-image: url("/static/img/home/background@2x.png"), radial-gradient(farthest-corner at 450px 40px, #343b45 0%, #181a1f 55%);

					@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
						background-image: url("/static/img/home/background@2x.png"), radial-gradient(farthest-corner at 450px 40px, #343b45 0%, #181a1f 55%);
					}

				}
			}

		}

		@include media(max-width-1200) {

			height: auto;
			margin-bottom: 0vw;

			> content {
				&:after {

					z-index: -5;
					left: 34%;
					top:-50px;
					content: '';
					width: 1000px;
					height: 1000px;
					display: block;
					border-radius:0px;
					position: absolute;
					background-size: 100%;
					background-repeat: no-repeat;
					background-image: url("/static/img/home/background@2x.png"), radial-gradient(farthest-corner at 500px 40px, #606267 0%, #181a1f 55%);

					@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
						background-image: url("/static/img/home/background@2x.png"), radial-gradient(farthest-corner at 500px 40px, #606267 0%, #181a1f 55%);
					}

				}
			}

		}

		@include media(max-width-768) {
			margin-bottom: 10vw;
		}

		@include media(max-width-480) {
			margin-bottom: 5vw;
		}

	}

	h1 {

		width: 60%;
		color: #ffffff;
		font-size: 62px;
		text-align: left;
		font-weight: 300;
		line-height: 1.14;
		padding-top: 250px;
		padding-bottom: 0px;
		letter-spacing: -0.5px;
		margin-bottom: 34px;
		font-family: 'Poppins', sans-serif;
		span { color: #ff3cac; }

		@include media(max-width-1200) {
			width: 500px;
			font-size: 52px;
			line-height: 47px;
			padding-top: 200px;
			position: relative;
			br { display: none; }
		}

		@include media(max-width-550) {
			width: 100%;
			font-size: 38px;
			line-height: 42px;
			padding-top: 300px;
			position: relative;
			margin-bottom: 20px;
			br { display: none; }
		}

	}

	h2 {

		width: 55%;
		color: #636a75;
		font-size: 18px;
		text-align: left;
		font-weight: 500;
		margin-top: 20px;
		line-height: 1.53;
		margin-bottom: 34px;
		letter-spacing: 0.1px;
		letter-spacing: -0.15px;
		font-family: 'Inter Medium', sans-serif;
		span { color: #ff3cac; }

		@include media(max-width-1200) {
			top: auto;
			width: 450px;
			position: relative;
			br { display: none; }
		}

		@include media(max-width-550) {
			width: 100%;
			font-size: 16px;
			margin-top: 0px;
			line-height: 26px;
			margin-bottom: 30px;
		}

	}

}
