signup-form {

	display:block;
	margin-bottom:10px;

	&[purple] {
		float:none;
		width:500px;
		margin:0 auto;
		margin-top: 30px;
	}

	@include media(max-width-550) {
		margin-top:50px;
		&[purple] {
			width:100%;
		}
	}

	content {

		margin-left: 0px;

		@include media(max-width-950) {
			width:auto;
			text-align:center;
		}

		input {

			width:250px;
			height:60px;
			border:none;
			outline:none;
			cursor:pointer;
			font-size:15px;
			color: #FF3CAC;
			box-shadow:none;
			text-align: left;
			display: inline-block;
			border: 1px solid #2b313a;
			padding:0px 30px 0px 30px;
			border-top-left-radius:10px;
			background-color: Transparent;
			border-bottom-left-radius:10px;
			font-family:'Poppins Regular', sans-serif;

			&::placeholder {
				opacity:1;
				color:#a8a8a8;
			}

			&:-ms-input-placeholder {
				color:#a8a8a8;
			}

			&::-ms-input-placeholder {
				color:#a8a8a8;
			}

			svg { float:right; margin-right:-10px; }

			@include media(max-width-550) {
				width:80%;
				text-align: center;
				border-radius:10px;
				margin-bottom: 10px;
			}

		}

		button {

			height:60px;
			border:none;
			outline:none;
			color:#ffffff;
			cursor:pointer;
			font-size:15px;
			box-shadow:none;
			margin-left:-10px;
			text-align: center;
			display: inline-block;
			padding:0px 30px 0px 30px;
			background-color: #2b313a;
			border-top-right-radius:10px;
			border-bottom-right-radius:10px;
			transition:box-shadow 0.3s ease-in-out;
			font-family:'Poppins Regular', sans-serif;

			@include media(max-width-550) {
				width:80%;
				margin: 0px;
				border-radius:10px;
			}

			&:hover {
				box-shadow:0 2px 20px rgba(0,0,0,0.3);
			}


		}

		message {

			color:#6e00ff;
			display:block;
			margin-top:10px;
			padding-left: 30px;

			@media only screen and (max-width: 600px) {
				width:100%;
				text-align:center;
			}

		}

	}

	&[purple] {

		width:auto;
		text-align:center;

		input {

			color: #6e00ff;
			border: 2px solid #6e00ff;

			&::placeholder {
				opacity:1;
				color:#6e00ff;
			}

			&:-ms-input-placeholder {
				color:#6e00ff;
			}

			&::-ms-input-placeholder {
				color:#ffffff;
			}

		}

		button {
			color:#ffffff;
			background-color: #6e00ff;
		}

	}

}
