walk-through {

	display: block;
	position: relative;
	margin: 0px auto 100px auto;

	&[side='l'] {
		div:nth-of-type(1) { float: left; }
		div:nth-of-type(2) { float: right; }
		@include media(max-width-768) {
			div:nth-of-type(1) { float: none; width: 100%; text-align: center; height: auto; }
			div:nth-of-type(2) { float: none; width: 100%; text-align: center; height: auto; }
		}
	}

	&[side='r'] {
		div:nth-of-type(1) { float: right; }
		div:nth-of-type(2) { float: left; }
		@include media(max-width-768) {
			div:nth-of-type(1) { float: none; width: 100%; text-align: center; height: auto; }
			div:nth-of-type(2) { float: none; width: 100%; text-align: center; height: auto; }
		}
	}

	&:last-of-type {

		@include media(max-width-1200) {
			margin: 0px auto 100px auto;
		}

	}

	&:first-of-type {

		&[page='features'] {

			margin: 150px auto 100px auto;

			@include media(max-width-768) {
				height: auto;
				margin: 120px auto 100px auto;
			}

		}

	}


	div:nth-of-type(1) {

		img {

			height: 433px;

			@include media(max-width-1200) {
				height: 280px;

			}

			@include media(max-width-880) {
				height: 260px;

			}

			@include media(max-width-768) {
				width: 100%;
				height: auto;
				margin-top: 0px;
			}

		}

		&[page='features'] {

			background-image: none;
			margin: 50px auto 0px auto;

		}

	}

	div:nth-of-type(2) {

		width: 38%;
		height: auto;

		@include media(max-width-1200) {
			width: 40%;
		}

		h1 {

			color: #ffffff;
			font-size: 30px;
			text-align: left;
			font-weight: 300;
			line-height: normal;
			font-family: 'Inter Medium', sans-serif;

			@include media(max-width-1200) {
				font-size: 26px;
				line-height: 32px;
			}

			@include media(max-width-768) {
				width: 100%;
				height: auto;
				margin-top: 40px;
			}

		}

		h2 {

			color: #636a75;
			font-size: 16px;
			font-weight: 300;
			text-align: left;
			line-height: 1.53;
			padding-top: 40px;
			padding-bottom: 50px;
			font-family: 'Inter Regular', sans-serif;
			span { text-decoration: underline }

			@include media(max-width-1200) {
				width: 100%;
				margin: 0 auto;
				font-size: 15px;
				padding-top: 20px;
				padding-bottom: 0px;
			}

		}

	}

}
