what-we-do {

	height:382px;
	margin-bottom: 150px;
	background-position: center;

	@include media(max-width-1024) {
		height: auto;
		padding-bottom: 50px;
		background-image: none;
	}

	&:first-of-type {

		@include media(max-width-1200) {
			margin: 100px auto 50px auto;
		}

		@include media(max-width-768) {
			margin: 0px auto 50px auto;
		}

	}

	content {

		margin-bottom: 100px;

		h1 {

			width: 100%;
			color: #333333;
			font-size: 20px;
			font-weight: 300;
			text-align: left;
			line-height: 1.53;
			font-family: 'Inter Regular', sans-serif;
			span { text-decoration: underline }

			@include media(max-width-768) {
				height: auto;
				font-size: 17px;
				padding-top: 50px;
				line-height:  28px;
				padding-bottom: 0px;
			}

		}

	}

}
