<layout-text-and-code ...attributes>
	<content>
		<div>
			{{#if @title}}<h3>{{@title}}</h3>{{/if}}
			{{#if @text}}<p>{{@text}}</p>{{/if}}
			{{yield (hash
				link=(component "button/thicker")
			)}}
		</div>
		<div>
			{{yield (hash
				code=(component "code")
			)}}
		</div>
	</content>
</layout-text-and-code>