{{on (document) "click" this.click}}

<sidebar>

	<div>
		<i class="fal fa-times"></i>
	</div>

	<div>

		<nav>

			<Header::Links::Item @link="index" @text="Home" />
			<Header::Links::Item @link="features" @text="Features" />
			<Header::Links::Item @link="install" @text="Install" />

			<p>Learn</p>
			<Header::Links::Item @link="docs" @text="Documentation" />
			<Header::Links::Item @link="roadmap" @text="Roadmap" />
			<Header::Links::Item @link="https://github.com/surrealdb" @text="Github" />
			<Header::Links::Item @link="https://www.linkedin.com/company/surrealdb/" @text="LinkedIn" />
			<Header::Links::Item @link="https://twitter.com/surrealdb" @text="Twitter" />
			<Header::Links::Item @link="https://www.youtube.com/channel/UCjf2teVEuYVvvVC-gFZNq6w" @text="YouTube" />

			<Header::Links::Temp @text="Get started" />

		</nav>

	</div>

</sidebar>