<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.installation">Installation</Crumb::Item>
	<Crumb::Item @link="docs.installation.upgrading.beta9-to-beta10">Upgrade from <code>v1.0.0-beta.9</code> to <code>v1.0.0-beta.10</code></Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>

	<h2>Upgrading from <code>v1.0.0-beta.9</code> to <code>v1.0.0-beta.10</code></h2>

	<p>Because of a change in the underlying way that SurrealDB stores data in this update, there are extra steps required to migrate to <code>v1.0.0-beta.10</code>.</p>

</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>

	<h3>Introduction</h3>

	<p>Our latest beta.10 update introduces a set of internal data changes, which can cause panics and other types of unexpected behaviour. Besides that, we also introduced a set of behavioural changes which we will introduce in this upgrade guide.</p>

</Layout::Text>

<Layout::Line/>

<Layout::Text text-l text-f>

	<h3>Internal data changes</h3>

	<p>Because of the introduced internal data changes, we need to export our database(s) with beta-9, then import them back after we have upgraded to beta-10.</p>

	<p>
		<i>
			<b>PS.</b> if you use docker, there is a guide by the community that describes a rough example on how to approach this upgrade. <Link @link="https://gist.github.com/kearfy/adb0baa6476bdda744cb71605d0fc997">You can find it here!</Link>
		</i>
	</p>

	<h4>v1. Start your old <img inline src="/static/img/text.svg" alt="SurrealDB" /> instance</h4>
	<p>You can start the instance just like you normally would.</p>
	<Code @name="upgrading-beta9-to-beta10-step-1.shell">
		user@localhost % surreal start -u root -p root myolddataset.db
	</Code>
	<br />

	<h4>2. Export your data</h4>
	<p>
		<Link @link="docs.cli.export">Please follow the export docs to run the export.</Link>
	</p>
	<Code @name="upgrading-beta9-to-beta10-step-2.shell">
		user@localhost % surreal export --conn http://localhost:8000 --ns ns --db db --user root --pass root mydata.surql
	</Code>
	<br />

	<h4>3. Stop the <img inline src="/static/img/text.svg" alt="SurrealDB" /> instance</h4>
	<p>Stop the <code>v1.0.0-beta.9</code> database server, before continuing on to the next step.</p>

	<h4>4. Install <img inline src="/static/img/text.svg" alt="SurrealDB" /> <code>v1.0.0-beta.10</code></h4>
	<p>
		<Link @link="/docs/installation">
			Install <code>v1.0.0-beta.10</code> database server, using the official docs before continuing on to the next step.
		</Link>
	</p>

	<h4>5. Start the <code>v1.0.0-beta.10</code> <img inline src="/static/img/text.svg" alt="SurrealDB" /> instance</h4>
	<p>Start the new <code>v1.0.0-beta.10</code> database server like you normally start <img inline src="/static/img/text.svg" alt="SurrealDB" />, before importing your data.</p>
	<Code @name="upgrading-beta9-to-beta10-step-5.shell">
		user@localhost % surreal start -u root -p root mynewdataset.db
	</Code>
	<br />

	<h4>6. Import your data</h4>
	<p>
		<Link @link="docs.cli.import">Please follow the import docs to run the import.</Link> Make sure to install <code>v1.0.0-beta.10</code> on your systems first.
	</p>
	<Code @name="upgrading-beta9-to-beta10-step-6.shell">
		user@localhost % surreal import --conn http://localhost:8000 --ns ns --db db --user root --pass root mydata.surql
	</Code>

</Layout::Text>

<Layout::Line/>
<Layout::Gap tiny />

<Layout::Text text-l text-f>

	<h3>Behaviour changes</h3>

	<p>We have introduces numerous improvements, bug fixes and other type of changes in <code>v1.0.0-beta.10</code>. We will go over the most important items here, but for a full list of changes, please refer to our <Link @link="releases">release page for <code>v1.0.0-beta.10</code></Link>.</p>

	<h4>Capabilities</h4>

	<p>We have introduced capabilities in <code>v1.0.0-beta.10</code>. They allow you to allow or deny certain aspects of SurrealDB.</p>
	<p>In our effort to deliver a security-first and water-tight database, all capabilities are disabled by default. This means that by default, you are not able to use any methods, embedded scripting functions, make outbound network calls, or access the database anonymously.</p>
	<p>
		You can easily enable all these capabilties again with the <code>--allow-all</code> flag, or choose which capabilities to enable yourself. <br />
		This is further documented in the <Link @link="docs.security.capabilities">Capabilities</Link> documentation.
	</p>

	<h4>Stricter typing</h4>

	<p>Previously, when you defined a field of a certain type, you manually had to <code>ASSERT</code> that the value stored in that field, was not <code>NONE</code> or <code>NULL</code>.</p>
	<p>We majorly improved the typing safety and strictness in <code>v1.0.0-beta.10</code> which allows you to overcome this issue.</p>
	<Code @name="docs/installation/upgrading/beta9-to-beta10/stricter-typing.surql" />

</Layout::Text>

<Layout::Line/>

<Layout::Text text-l text-f>

	<h3>Learn more</h3>

	<p>These are some highlights of behavioural changes. For a complete list, please refer to our <Link @link="releases">release page for <code>v1.0.0-beta.10</code></Link>.</p>

</Layout::Text>