<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.installation">Installation</Crumb::Item>
	<Crumb::Item @link="docs.installation.upgrading.beta8-to-beta9">Upgrade from <code>1.0.0-beta.8</code> to <code>1.0.0-beta.9</code></Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>

	<h2>Upgrading from <code>1.0.0-beta.8</code> to <code>1.0.0-beta.9</code></h2>

	<p>Because of a change in the underlying way that SurrealDB stores data in this update, and issues with exporting specific data from <code>1.0.0-beta.8</code>, there are extra steps required to migrate to <code>1.0.0-beta.9</code>.</p>

</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>

	<h3>Issues</h3>

	<ul>
		<li>A change in the underlying way data is stored in SurrealDB was caused by <Link @link="https://github.com/surrealdb/surrealdb/commit/f5b21eb3633fdbbaa64b6247fdfeb606afbd35d1">this commit</Link>. Data will need to be exported as SQL and imported into <code>1.0.0-beta.9</code>.</li>
		<li>In <code>1.0.0-beta.8</code>, the <code>"</code> character was not yet properly escaped. This was fixed somewhere during the development for <code>1.0.0-beta.9</code>.</li>
		<li>The <code>\</code> character is often used as an escape character, but in an export this is not always properly escaped. <Link @link="https://github.com/surrealdb/surrealdb/issues/1800">This was only recently discovered and is not yet fixed.</Link></li>
	</ul>

	<h4>Do I have this issue?</h4>
	<p>
		An error, similar to the following, will be thrown when connecting to the database or when selecting specific data, if you are experiencing this issue.
	</p>

	<Code @name="thrown-error.shell">
		Error:
		thread 'tokio-runtime-worker' panicked at 'called Result::unwrap() on an Err value: Syntax("invalid type: string "Float", expected a boolean")', lib/src/sql/statements/define.rs:1009:72
		note: run with RUST_BACKTRACE=1 environment variable to display a backtrace
		Aborted (core dumped)
	</Code>

	<p>Because of the above, upgrading the <code>1.0.0-beta.9</code> requires some extra steps. We've listed them down below and we advice to follow this migration guide both if you do or do not encounter this issue!</p>

	<p>
		<i>
			<b>PS.</b> if you use docker, there is a guide by the community that describes a rough example on how to approach this upgrade. <Link @link="https://gist.github.com/kearfy/adb0baa6476bdda744cb71605d0fc997">You can find it here!</Link>
		</i>
	</p>

</Layout::Text>

<Layout::Line/>

<Layout::Text text-l text-f>

	<h4>1. Download the special <code>1.0.0-beta.8</code> release</h4>

	<p>
		We did a special <code>1.0.0-beta.8</code> release that ensures that all <code>"</code> characters are escaped when exporting.
	</p>

	<ol>
		<li>
			<Link @link="https://github.com/surrealdb/surrealdb/releases/tag/v1.0.0-beta.8%2B20230104">
				Download the appropiate binary for your system from the github release.
			</Link>
		</li>
		<li>In the case of linux and macos, extract the binary from the <code>.tgz</code> archive.</li>
		<li>
			To use this binary instead of the installed version of surrealdb, enter the direct path to it.
			<ul>
				<li>
					<code>./surreal ...</code>
				</li>
				<li>
					<code>/path/to/binary/surreal ...</code>
				</li>
				<li>
					<code>.\surreal.exe ...</code>
				</li>
				<li>
					<code>C:\path\to\binary\surreal.exe ...</code>
				</li>
			</ul>
		</li>
	</ol>

	<h4>2. Start the <img inline src="/static/img/text.svg" alt="SurrealDB" /> instance with the temporary <code>1.0.0-beta.8</code> binary</h4>
	<p>
		You can start the instance with the same arguments as you normally would, only replace the path to the binary.
	</p>
	<Code @name="upgrading-beta8-to-beta9-step-2.shell">
		user@localhost % /path/to/binary/surreal start -u root -p root myolddataset.db
	</Code>

	<h4>3. Export your data</h4>
	<p>
		<Link @link="docs.cli.export">Please follow the export docs to run the export.</Link> Make sure to use the temporarily downloaded binary here.
	</p>
	<Code @name="upgrading-beta8-to-beta9-step-3.shell">
		user@localhost % /path/to/binary/surreal export --conn http://localhost:8000 --ns ns --db db --user root --pass root mydata.surql
	</Code>

	<h4>4. Stop the <img inline src="/static/img/text.svg" alt="SurrealDB" /> instance</h4>
	<p>Stop the <code>1.0.0-beta.8</code> database server, before continuing on to the next step.</p>

	<h4>5. Install <img inline src="/static/img/text.svg" alt="SurrealDB" /> <code>1.0.0-beta.9</code></h4>
	<p>
		<Link @link="/docs/installation">
			Install <code>1.0.0-beta.9</code> database server, using the official docs before continuing on to the next step.
		</Link>
	</p>

	<h4>6. Start the <code>1.0.0-beta.9</code> <img inline src="/static/img/text.svg" alt="SurrealDB" /> instance</h4>
	<p>Start the new <code>1.0.0-beta.9</code> database server, before importing your data.</p>
	<Code @name="upgrading-beta8-to-beta9-step-5.shell">
		user@localhost % surreal start -u root -p root mynewdataset.db
	</Code>

	<h4>7. Import your data</h4>
	<p>
		<Link @link="docs.cli.import">Please follow the import docs to run the import.</Link> Make sure to install <code>1.0.0-beta.9</code> on your systems first.
	</p>
	<Code @name="upgrading-beta8-to-beta9-step-6.shell">
		user@localhost % surreal import --conn http://localhost:8000 --ns ns --db db --user root --pass root mydata.surql
	</Code>

	<h4>8. Check for <img inline src="/static/img/surrealql-text.svg" alt="SurrealQL" /> changes in the release notes</h4>
	<p>
		There have been major improvements to the SurrealQL language, and also some potential breaking changes for how you have previously defined your schemas. Check out the changes on the <Link @link="releases">release page for <code>1.0.0-beta.9</code></Link>.
	</p>

</Layout::Text>