<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements">Statements</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.define"><code>DEFINE</code> statement</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.define.database"><code>DATABASE</code></Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
	<h2><code>DEFINE DATABASE</code> statement</h2>
	<p>
		The <code>DEFINE DATABASE</code> statement allows you to instantiate a named database, enabling you to specify
		security and configuration options.
	</p>
	<h4>Requirements</h4>
	<ul>
		<li>You must be authenticated as a root or namespace user before you can use the <code>DEFINE DATABASE</code> statement.</li>
		<li><LinkTo @route="docs.surrealql.statements.use">You must select your namespace</LinkTo> before you can use the <code>DEFINE DATABASE</code> statement.</li>
	</ul>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
	<Code @name="docs/surrealql/statements/define/database/syntax.typescript" text="SQL Syntax" />
</Layout::Text>

<Layout::Gap mini />
<Layout::Text text-l text-f>
	<h3>Example usage</h3>
	<p>Below shows how you can create a database using the <code>DEFINE DATABASE</code> statement.</p>
	<Code @name="docs/surrealql/statements/define/database/database.sql" />
</Layout::Text>

<Layout::Gap large />