<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements">Statements</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.define"><code>DEFINE</code> statement</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.define.field"><code>FIELD</code></Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
	<h2><code>DEFINE FIELD</code> statement</h2>
	<p>
		The <code>DEFINE FIELD</code> statement allows you to instantiate a named field on a table, enabling you to set
		the field's data type, set a default value, apply assertions to protect data consistency, and set permissions
		specifying what operations can be performed on the field.
	</p>
	<h4>Requirements</h4>
	<ul>
		<li>You must be authenticated as a root, namespace, or database user before you can use the <code>DEFINE FIELD</code> statement.</li>
		<li><LinkTo @route="docs.surrealql.statements.use">You must select your namespace and database</LinkTo> before you can use the <code>DEFINE FIELD</code> statement.</li>
	</ul>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
	<Code @name="docs/surrealql/statements/define/field/syntax.typescript" text="SurQL Syntax" />
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Example usage</h3>
	<p>The following expression shows the simplest way to use the <code>DEFINE FIELD</code> statement.</p>
	<Code @name="docs/surrealql/statements/define/field/name-field.surql" />

	<h4>Defining data types</h4>
	<h5>Simple data types</h5>
	<Code @name="docs/surrealql/statements/define/field/type-field.surql" />

	<h5>Flexible data types</h5>
	<p>
		Flexible types allow you to have <code>SCHEMALESS</code> functionality on a <code>SCHEMAFULL</code> table.
		This is especially useful for working with nested objects.
	</p>
	<Code @name="docs/surrealql/statements/define/field/type-flexible.surql" />

	<h5>Array data type</h5>
	<Code @name="docs/surrealql/statements/define/field/array-type-field.surql" />

	<h4>Making a field optional</h4>
	<Code @name="docs/surrealql/statements/define/field/optional-field.surql" />

	<h4>Setting a default value</h4>
	<Code @name="docs/surrealql/statements/define/field/default-field.surql" />

	<h4>Alter a passed value</h4>
	<Code @name="docs/surrealql/statements/define/field/value-field.surql" />

	<h4>Asserting rules on fields</h4>
	<p>You can take your field definitions even further by using asserts. Assert is a powerful feature that can be used to ensure that your data remains consistent.</p>

	<h5>Email is required</h5>
	<Code @name="docs/surrealql/statements/define/field/email-assert-field.surql" />

	<h5>Array with allowed values</h5>
	<p>By using an Access Control List as an example we can show how we can restrict what values can be stored in an array.</p>
	<Code @name="docs/surrealql/statements/define/field/array-assert-field.surql" />

	<h5>Use regex to validate a string</h5>
	<Code @name="docs/surrealql/statements/define/field/constraints-field.surql" />
</Layout::Text>

<Layout::Gap large />
