<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements">Statements</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.define"><code>DEFINE</code> statement</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.define.function"><code>FUNCTION</code></Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
	<h2><code>DEFINE FUNCTION</code> statement</h2>
	<p>
		The <code>DEFINE FUNCTION</code> statement allows you to define custom functions that can be reused throughout a database.
	</p>
	<h4>Requirements</h4>
	<ul>
		<li>You must be authenticated as a root, namespace, or database user before you can use the <code>DEFINE FUNCTION</code> statement.</li>
		<li><LinkTo @route="docs.surrealql.statements.use">You must select your namespace and database</LinkTo> before you can use the <code>DEFINE FUNCTION</code> statement.</li>
	</ul>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
	<Code @name="docs/surrealql/statements/define/function/syntax.typescript" text="SQL Syntax" />
</Layout::Text>

<Layout::Gap mini />
<Layout::Text text-l text-f>
	<h3>Example usage</h3>
	<p>Below shows how you can define a custom function using the <code>DEFINE FUNCTION</code> statement, and how to call it.</p>
	<Code @name="docs/surrealql/statements/define/function/greet.surql" />
	<br />
	<p>To showcase a slightly more complex custom function, this will check if a relation between two nodes exists:</p>
	<Code @name="docs/surrealql/statements/define/function/relation-exists.surql" />
</Layout::Text>

<Layout::Gap large />