<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements">Statements</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.define"><code>DEFINE</code> statement</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.define.indexes"><code>INDEX</code></Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
	<h2><code>DEFINE INDEX</code> statement</h2>
	<p>
		Just like in other databases, SurrealDB uses indexes to help optimize query performance. An index can consist of
		one or more fields in a table and can enforce a uniqueness constraint. If you don't intend for your index to have
		a uniqueness constraint, then the fields you select for your index should have a high degree of cardinality,
		meaning that there is a high amount of diversity between the data in the indexed table records.
	</p>
	<h4>Requirements</h4>
	<ul>
		<li>You must be authenticated as a root, namespace, or database user before you can use the <code>DEFINE INDEX</code> statement.</li>
		<li><LinkTo @route="docs.surrealql.statements.use">You must select your namespace and database</LinkTo> before you can use the <code>DEFINE INDEX</code> statement.</li>
	</ul>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
	<Code @name="docs/surrealql/statements/define/index/syntax.typescript" text="SQL Syntax" />
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Example usage</h3>
	<p>How to create a unique index for the email address field on a user table.</p>
	<Code @name="docs/surrealql/statements/define/index/unique-index.surql" />
	<p>How to create a non-unique index for an age field on a user table.</p>
	<Code @name="docs/surrealql/statements/define/index/index.surql" />
	<p>How to create a full-text search index for a name field on a user table.</p>
	<Code @name="docs/surrealql/statements/define/index/search-index.surql" />
</Layout::Text>

<Layout::Gap large />