<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements">Statements</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.define"><code>DEFINE</code> statement</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2><code>DEFINE</code> statement</h2>
	<p>The DEFINE statement can be used to specify authentication access and behaviour, global parameters, table configurations, table events, schema definitions, and indexes.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
	<Code @name="docs/surrealql/statements/define/syntax.typescript" text="SQL Syntax" />
</Layout::Text>

<Layout::Gap mini />

<Layout::Boxes cols-3-to-2-to-1>
	<LinkTo @route="docs.surrealql.statements.define.namespace">
		<Layout::Boxes::Item mini hover>
			<h4><code>DEFINE NAMESPACE</code></h4>
			<p>Allows you to instantiate namespaces as part of SurrealDB's multi-tenancy model.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.define.database">
		<Layout::Boxes::Item mini hover>
			<h4><code>DEFINE DATABASE</code></h4>
			<p>Allows you to instantiate named databases.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.define.user">
		<Layout::Boxes::Item mini hover>
			<h4><code>DEFINE USER</code></h4>
			<p>Allows you to create user accounts.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.define.token">
		<Layout::Boxes::Item mini hover>
			<h4><code>DEFINE TOKEN</code></h4>
			<p>Allows you to authenticate on SurrealDB with third-party OAuth tokens.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.define.scope">
		<Layout::Boxes::Item mini hover>
			<h4><code>DEFINE SCOPE</code></h4>
			<p>Allows you to create scopes to set authentication and access rules.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.define.table">
		<Layout::Boxes::Item mini hover>
			<h4><code>DEFINE TABLE</code></h4>
			<p>Declare the name of a table, make it schemafull or schemaless, create projections, and set table level permissions</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.define.event">
		<Layout::Boxes::Item mini hover>
			<h4><code>DEFINE EVENT</code></h4>
			<p>Allows you to specify conditions that trigger the execution of custom logic.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.define.function">
		<Layout::Boxes::Item mini hover>
			<h4><code>DEFINE FUNCTION</code></h4>
			<p>Allows you to specify custom reusable functions that can be used across a database.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.define.field">
		<Layout::Boxes::Item mini hover>
			<h4><code>DEFINE FIELD</code></h4>
			<p>Allows you to instantiate named fields on a table.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.define.analyzer">
		<Layout::Boxes::Item mini hover>
			<h4><code>DEFINE ANALYZER</code></h4>
			<p>Allows you to create a text analyzer.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.define.indexes">
		<Layout::Boxes::Item mini hover>
			<h4><code>DEFINE INDEX</code></h4>
			<p>Allows you to create database indexes on table fields.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.define.param">
		<Layout::Boxes::Item mini hover>
			<h4><code>DEFINE PARAM</code></h4>
			<p>Allows you to specify global (database-wide) parameters.</p>
		</Layout::Boxes::Item>
	</LinkTo>
</Layout::Boxes>

<Layout::Gap large />