<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements">Statements</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.define"><code>DEFINE</code> statement</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.define.login"><code>LOGIN</code></Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
	<h2><code>DEFINE LOGIN</code> statement</h2>
	<p>Use the <code>DEFINE LOGIN</code> statement to create user accounts on SurrealDB.</p>
	<h4>Requirements</h4>
	<ul>
		<li>You must be authenticated as a root or Namespace user to create a Namespace level account using the <code>DEFINE LOGIN</code> statement.</li>
		<li>You must be authenticated as a root, Namespace, or Database user to create a Database level account using the <code>DEFINE LOGIN</code> statement.</li>
		<li><LinkTo @route="docs.surrealql.statements.use">You must select your namespace and/or database</LinkTo> before you can use the <code>DEFINE LOGIN</code> statement.</li>
	</ul>
	<p>
		Note: You cannot use the <code>DEFINE LOGIN</code> statement to create a root or <code>SCOPE</code> user.
	</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
	<Code @name="docs/surrealql/statements/define/login/syntax.typescript" text="SQL Syntax" />
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Example usage</h3>
	<p>The following example shows how you can create a <code>NAMESPACE</code> user using the <code>DEFINE LOGIN</code> statement.</p>
	<Code @name="docs/surrealql/statements/define/login/namespace-login.surql" />
	<p>The following example shows how you can create a <code>DATABASE</code> user using the <code>DEFINE LOGIN</code> statement.</p>
	<Code @name="docs/surrealql/statements/define/login/database-login.surql" />
</Layout::Text>

<Layout::Gap large />