<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements">Statements</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.define"><code>DEFINE</code> statement</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.define.namespace"><code>NAMESPACE</code></Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
	<h2><code>DEFINE NAMESPACE</code> statement</h2>
	<p>
		SurrealDB has a multi-tenancy model which allows you to scope databases to a namespace. There is no limit to the number of databases
		that can be in a namespace, nor is there a limit to the number of namespaces allowed. Only users root users are authorized to
		create namespaces.
	</p>
	<p>
		Let's say that you're using SurrealDB to create a multi-tenant SaaS application. You can guarantee that the data of each tenant will
		be kept separate from other tenants if you put each tenant's databases into separate namespaces. In other words, this will ensure
		that information will remain siloed so user will only have access the information in the namespace they are a member of.
	</p>

	<h4>Requirements</h4>
	<ul>
		<li>You must be authenticated as a root user to use the <code>DEFINE NAMESPACE</code> statement.</li>
	</ul>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
	<Code @name="docs/surrealql/statements/define/namespace/syntax.typescript" text="SQL Syntax" />
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Example usage</h3>
	<p>Below shows how you can create a namespace using the <code>DEFINE NAMESPACE</code> statement.</p>
	<Code @name="docs/surrealql/statements/define/namespace/namespace.sql" />
</Layout::Text>

<Layout::Gap large />