<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements">Statements</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.define"><code>DEFINE</code> statement</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.define.param"><code>PARAM</code></Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
	<h2><code>DEFINE PARAM</code> statement</h2>
	<p>
		The <code>DEFINE PARAM</code> statement allows you to define global (database-wide) parameters that are available to every client.
	</p>
	<h4>Requirements</h4>
	<ul>
		<li>You must be authenticated as a root, namespace, or database user before you can use the <code>DEFINE PARAM</code> statement.</li>
		<li><LinkTo @route="docs.surrealql.statements.use">You must select your namespace and database</LinkTo> before you can use the <code>DEFINE PARAM</code> statement.</li>
	</ul>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
	<Code @name="docs/surrealql/statements/define/param/syntax.typescript" text="SQL Syntax" />
</Layout::Text>

<Layout::Gap mini />
<Layout::Text text-l text-f>
	<h3>Example usage</h3>
	<p>Below shows how you can define a global parameter using the <code>DEFINE PARAM</code> statement.</p>
	<Code @name="docs/surrealql/statements/define/param/define-param.surql" />

	<Layout::Gap mini />
	<p>Then, simply use the global parameter like you would with any variable.</p>
	<Code @name="docs/surrealql/statements/define/param/use-param.surql" />
</Layout::Text>

<Layout::Gap large />