<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements">Statements</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.define"><code>DEFINE</code> statement</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.define.token"><code>TOKEN</code></Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
	<h2><code>DEFINE TOKEN</code> statement</h2>
	<p>
		SurrealDB can work with third-party OAuth providers. Let's say that your provider issues your service a JWT once it's authenticated.
		By using the <code>DEFINE TOKEN</code> statement, you can set the public key needed to verify a JWT's authenticity.
	</p>
	<p>
		You can specify what <code>TYPE</code> of cryptographic signature algorithm your token uses. The following algorithms are supported:
		<br>
		<code>EDDSA</code>,
		<code>ES256</code>,
		<code>ES384</code>,
		<code>ES512</code>,
		<code>HS256</code>,
		<code>HS384</code>,
		<code>HS512</code>,
		<code>PS256</code>,
		<code>PS384</code>,
		<code>PS512</code>,
		<code>RS256</code>,
		<code>RS384</code>,
		<code>RS512</code>.
	</p>
	<h4>Requirements</h4>
	<ul>
		<li>To <code>DEFINE TOKEN ... ON NAMESPACE ...</code> you must have root or namespace level access.</li>
		<li>To <code>DEFINE TOKEN ... ON DATABASE ...</code> you must have root, namespace, or database level access.</li>
		<li>To <code>DEFINE TOKEN ... ON SCOPE ...</code> you must have root, namespace, or database level access.</li>
		<li><LinkTo @route="docs.surrealql.statements.use">You must select your namespace and/or database</LinkTo> before you can use the <code>DEFINE DATABASE</code> statement for database or namespace tokens.</li>
	</ul>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
	<Code @name="docs/surrealql/statements/define/token/syntax.typescript" text="SQL Syntax" />
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Example usage</h3>
	<p>The following example shows how you could use the <code>DEFINE TOKEN</code> statement.</p>
	<Code @name="docs/surrealql/statements/define/token/token.surql" />
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>

	<h3>Using Tokens</h3>
	<p>
		The <code>DEFINE TOKEN</code> statement lets you specify the amount of permission granting authority you want
		to give to an OAuth provider. You're able to specify if the provider can grant namespace, database, or scope
		level access to token holders. For this to work, the issued tokens must contain specific fields to specify what
		namespace, database or scope or the token bearer is authorized to act on.
	</p>

	<h4>Namespace</h4>
	<p>The following example shows how this would work for a token to grant authorization on a namespace.</p>
	<Code @name="docs/surrealql/statements/define/token/authorize-namespace-token.surql" />
	<p>
		When a token is issued by your OAuth provider, the payload should contain the following field when used to
		authenticate with SurrealDB.
	</p>
	<Code @name="docs/surrealql/statements/define/token/authorize-namespace-token.json" text="JWT Payload" />

	<h4>Database</h4>
	<p>The following example shows how this would work for a token to grant authorization on a database.</p>
	<Code @name="docs/surrealql/statements/define/token/token.surql" />
	<Code @name="docs/surrealql/statements/define/token/authorize-database-token.json" text="JWT Payload" />

	<h4>Scope</h4>
	<p>The following example shows how this would work for a token to grant authorization on a scope.</p>
	<Code @name="docs/surrealql/statements/define/token/authorize-scope-token.surql" />
	<Code @name="docs/surrealql/statements/define/token/authorize-scope-token.json" text="JWT Payload" />

</Layout::Text>

<Layout::Gap large />