<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements">Statements</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.break"><code>BREAK</code> statement</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2><code>BREAK</code> statement</h2>
	<p>The BREAK statement can be used to break out of a loop, like the <Link @link="docs.surrealql.statements.for">FOR</Link>-statement.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
	<Code @name="docs/surrealql/statements/break/syntax.typescript" text="SQL Syntax" />
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Example usage</h3>
	<p>The following query shows example usage of this statement.</p>
	<Code @name="docs/surrealql/statements/break/simple.surql" />
</Layout::Text>

<Layout::Gap large />