<Layout::Text text-l text-f>
    <h5><i class="fas fa-arrow-left"></i> &nbsp; <Link @link="docs.surrealql.statements.index">Back to overview</Link></h5>
    <h2><code>COMMIT</code> statement</h2>
	<p>Each statement within SurrealDB is run within its own transaction. If a set of changes need to be made together, then groups of statements can be run together as a single transaction, either succeeding as a whole, or failing without leaving any residual data modifications.</p>
	<p>The <code>COMMIT TRANSACTION</code> statement can be used to commit a set of statements within a transaction, ensuring that all data modifications become a permanent part of the database.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
	<Code @name="docs-surrealql-statements-commit-syntax.typescript" text="SQL Syntax">
		COMMIT [ TRANSACTION ];
	</Code>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Example usage</h3>
	<p>The following query shows example usage of this statement.</p>
	<Code @name="docs/surrealql/statements/commit/main.sql" />
</Layout::Text>

<Layout::Gap large />