<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements">Statements</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.continue"><code>CONTINUE</code> statement</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2><code>CONTINUE</code> statement</h2>
	<p>The BREAK statement can be used to skip an iteration of a loop, like within the <Link @link="docs.surrealql.statements.for">FOR</Link>-statement.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
	<Code @name="docs/surrealql/statements/continue/syntax.typescript" text="SQL Syntax" />
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Example usage</h3>
	<p>The following query shows example usage of this statement.</p>
	<Code @name="docs/surrealql/statements/continue/simple.surql" />
</Layout::Text>

<Layout::Gap large />