<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements">Statements</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.create"><code>CREATE</code> statement</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2><code>CREATE</code> statement</h2>
	<p>The CREATE statement can be used to add records to the database, if those records do not already exist.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
	<Code @name="docs/surrealql/statements/create/syntax.typescript" text="SQL Syntax" />
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>

	<h3>Example usage</h3>

	<p>The following query shows example usage of this statement.</p>
	<Code @name="docs/surrealql/statements/create/simple.sql" />

	<p>Instead of specifying record data using the <code>SET</code> clause, it is also possible to use the <code>CONTENT</code> keyword to specify the record data using a SurrealQL object.</p>
	<Code @name="docs/surrealql/statements/create/content.sql" />

	<p>By default, the create statement returns the record value once the changes have been made. To change the return value of each record, specify a <code>RETURN</code> clause, specifying either <code>NONE</code>, <code>BEFORE</code>, <code>AFTER</code>, <code>DIFF</code>, or a comma-separated list of specific fields to return.</p>
	<Code @name="docs/surrealql/statements/create/return.sql" />

</Layout::Text>

<Layout::Gap large />