<Layout::Text text-l text-f>
    <h5><i class="fas fa-arrow-left"></i> &nbsp; <Link @link="docs.surrealql.statements.index">Back to overview</Link></h5>
    <h2><code>DEFINE</code> statement</h2>
	<p>The DEFINE statement.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
	<Code @name="docs/surrealql/statements/define/syntax.typescript" text="SQL Syntax" />
</Layout::Text>

<Layout::Gap large />