<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements">Statements</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.delete"><code>DELETE</code> statement</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2><code>DELETE</code> statement</h2>
	<p>The DELETE statement can be used to delete records from the database.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
	<Code @name="docs/surrealql/statements/delete/syntax.typescript" text="SQL Syntax" />
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>

	<h3>Example usage</h3>

	<p>The following query shows example usage of this statement.</p>
	<Code @name="docs/surrealql/statements/delete/simple.sql" />

	<p>The delete statement supports conditional matching of records using a <code>WHERE</code> clause. If the expression in the <code>WHERE</code> clause evaluates to true, then the respective record will be deleted.</p>
	<Code @name="docs/surrealql/statements/delete/where.sql" />

	<p>By default, the delete statement does not return any data, returning only an empty array if the statement succeeds completely. Specify a <code>RETURN</code> clause to change the value which is returned for each document that is deleted.</p>
	<Code @name="docs/surrealql/statements/delete/return.sql" />

	<p>When processing a large result set with many interconnected records, it is possible to use the <code>TIMEOUT</code> keywords to specify a timeout duration for the statement. If the statement continues beyond this duration, then the transaction will fail, no records will be deleted from the database, and the statement will return an error.</p>
	<Code @name="docs/surrealql/statements/delete/timeout.sql" />

</Layout::Text>

<Layout::Gap large />