<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements">Statements</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.delete"><code>DELETE</code> statement</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
	<h2><code>DELETE</code> statement</h2>
	<p>The DELETE statement can be used to delete records from the database.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
	<Code @name="docs/surrealql/statements/delete/syntax.typescript" text="SQL Syntax" />
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>

	<h3>Example usage</h3>
	<h4>Basic usage</h4>
	<p>The following query shows basic usage of the <code>DELETE</code> statement, which is used to delete records from a table or a graph edge. </p>
	<p> Deleting records can be done in multiple ways:</p>
	<Code @name="docs/surrealql/statements/delete/simple.surql" />

	<h4>Deleting records based on conditions</h4>
	<p>The delete statement supports conditional matching of records using a <code>WHERE</code> clause. If the
		expression in the <code>WHERE</code> clause evaluates to true, then the respective record will be deleted.</p>
	<Code @name="docs/surrealql/statements/delete/where.surql" />

	<p>By default, the delete statement does not return any data, returning only an empty array if the statement
		succeeds completely. Specify a <code>RETURN</code> clause to change the value which is returned for each
		document that is deleted.</p>
	<Code @name="docs/surrealql/statements/delete/return.surql" />

	<h4> Using <code>TIMEOUT</code> duration records based on conditions</h4>

	<p>When processing a large result set with many interconnected records, it is possible to use the
		<code>TIMEOUT</code> keywords to specify a timeout duration for the statement. If the statement continues beyond
		this duration, then the transaction will fail, no records will be deleted from the database, and the statement
		will return an error.
	</p>
	<Code @name="docs/surrealql/statements/delete/timeout.surql" />

	<h4> Deleting graph edges</h4>
	 <p>You can also delete graph edges between two records in the database by using the <code>DELETE</code> statement. </p> <p>For example the graph edge below:</p>
	<codes vertical>

		<Code @name="docs-statements-relate-example.surql">
			RELATE person:tobie->bought->product:iphone;
	</Code>
	<Code @name="docs-statements-delet-example.txt">
			[
				{
					"id": "bought:ctwsll49k37a7rmqz9rr",
					"in": "person:tobie",
					"out": "product:iphone"
				}
			]
		</Code>
	</codes>

	<p>Can be deleted by:</p>
	<Code @name="docs-statements-relate-deletion.surql">
			DELETE FROM person:tobie->bought WHERE out=product:iphone;
		</Code>

</Layout::Text>

<Layout::Gap large />