<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements">Statements</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.for"><code>FOR</code> statement</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2><code>FOR</code> statement</h2>
	<p>The FOR statement can be used to iterate over the values of an array, and to perform certain actions with those values.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
	<Code @name="docs/surrealql/statements/for/syntax.typescript" text="SQL Syntax" />
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Example usage</h3>
	<p>The following query shows example usage of this statement.</p>
	<Code @name="docs/surrealql/statements/for/simple.surql" />
	<p>The following query shows the <code>FOR</code> statement being used update a property on every user matching certain criteria.</p>
	<Code @name="docs/surrealql/statements/for/advanced.surql" />
</Layout::Text>

<Layout::Gap large />