<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements">Statements</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.ifelse"><code>IFELSE</code> statement</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2><code>IF ELSE</code> statement</h2>
	<p>The IF ELSE statement can be used as a main statement, or within a parent statement, to return a value depending on whether a condition, or a series of conditions match. The statement allows for multiple <code>ELSE IF</code> expressions, and a final <code>ELSE</code> expression, with no limit to the number of <code>ELSE IF</code> conditional expressions.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
	<Code @name="docs/surrealql/statements/ifelse/syntax.typescript" text="SQL Syntax" />
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Example usage</h3>
	<p>The following query shows example usage of this statement.</p>
	<Code @name="docs/surrealql/statements/ifelse/main.surql" />
	<p>If-else statements can also be used as subqueries within other statements.</p>
	<Code @name="docs/surrealql/statements/ifelse/subquery.surql" />
</Layout::Text>

<Layout::Gap large />