<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements">Statements</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Statements</h2>
	<p>SurrealDB has a large number of different SurrealQL statements for inserting, updating, deleting, working with graph data, and for configuring the database. View detailed information and examples on how to use each statement type below.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Boxes cols-3-to-2-to-1>
	<LinkTo @route="docs.surrealql.statements.use">
		<Layout::Boxes::Item mini hover>
			<h4><code>USE</code> statement</h4>
			<p>Used to switch to a different namespace or database</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.let">
		<Layout::Boxes::Item mini hover>
			<h4><code>LET</code> statement</h4>
			<p>Used to set and store values which can be used in queries</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.begin">
		<Layout::Boxes::Item mini hover>
			<h4><code>BEGIN</code> statement</h4>
			<p>Used to mark the beginning of a group of statements in a transaction</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.cancel">
		<Layout::Boxes::Item mini hover>
			<h4><code>CANCEL</code> statement</h4>
			<p>Used to cancel the execution of a group of statements within a transaction</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.commit">
		<Layout::Boxes::Item mini hover>
			<h4><code>COMMIT</code> statement</h4>
			<p>Used to apply a group of statements within a transaction to the database</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.ifelse">
		<Layout::Boxes::Item mini hover>
			<h4><code>IF ELSE</code> statement</h4>
			<p>Used to conditionally perform operations on the database</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.select">
		<Layout::Boxes::Item mini hover>
			<h4><code>SELECT</code> statement</h4>
			<p>Used for selecting and querying data in a database</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.insert">
		<Layout::Boxes::Item mini hover>
			<h4><code>INSERT</code> statement</h4>
			<p>Used to insert or update data into the database</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.create">
		<Layout::Boxes::Item mini hover>
			<h4><code>CREATE</code> statement</h4>
			<p>Used to add records to the database</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.update">
		<Layout::Boxes::Item mini hover>
			<h4><code>UPDATE</code> statement</h4>
			<p>Used to update or modify records in the database</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.relate">
		<Layout::Boxes::Item mini hover>
			<h4><code>RELATE</code> statement</h4>
			<p>Used to generate graph edges between two records in the database</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.return">
		<Layout::Boxes::Item mini hover>
			<h4><code>RETURN</code> statement</h4>
			<p>Used to return a value or result of query, and to set the result of a transaction or block.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.delete">
		<Layout::Boxes::Item mini hover>
			<h4><code>DELETE</code> statement</h4>
			<p>Used to delete records from the database</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.define">
		<Layout::Boxes::Item mini hover>
			<h4><code>DEFINE</code> statement</h4>
			<p>Used to declare database rules, schemas, events and more</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.remove">
		<Layout::Boxes::Item mini hover>
			<h4><code>REMOVE</code> statement</h4>
			<p>Used to remove resources such as databases, tables, indexes, events and more </p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.info">
		<Layout::Boxes::Item mini hover>
			<h4><code>INFO</code> statement</h4>
			<p>Outputs information for a specified resource</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.sleep">
		<Layout::Boxes::Item mini hover>
			<h4><code>SLEEP</code> statement</h4>
			<p>Delays or pauses in the execution of a query or a batch</p>
		</Layout::Boxes::Item>
	</LinkTo>
</Layout::Boxes>

<Layout::Gap large />