<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements">Statements</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.insert"><code>INSERT</code> statement</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2><code>INSERT</code> statement</h2>
	<p>The INSERT statement can be used to insert or update data into the database, using the same statement syntax as the traditional SQL Insert statement.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
	<Code @name="docs/surrealql/statements/insert/syntax.typescript" text="SQL Syntax" />
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>

	<h3>Example usage</h3>

	<p>The following query shows example usage of this statement.</p>
	<Code @name="docs/surrealql/statements/insert/simple.surql" />

	<p>As with the traditional SQL insert statement syntax, records can be inserted by specifying the fields and values by using the <code>VALUES</code> keyword.</p>
	<Code @name="docs/surrealql/statements/insert/values.surql" />

	<p>When using the <code>VALUES</code> clause, it is possible to update records which already exist by specifying an <code>ON DUPLICATE KEY UPDATE</code> clause. This clause also allows incrementing and decrementing numeric values, and adding or removing values from arrays. To increment a numeric value, or to add an item to an array, use the <code>+=</code> operator. To decrement a numeric value, or to remove an value from an array, use the <code>-=</code> operator.</p>
	<Code @name="docs/surrealql/statements/insert/duplicates.surql" />

	<p>Using the insert statement, it is possible to copy records easily between tables. The records being copied will have the same id in the new table, but the record id will signify the new table name.</p>
	<Code @name="docs/surrealql/statements/insert/copy.surql" />

	<p>Furthermore, it is possible to perform a bulk insert in a single query. The <code>@what</code> part of the syntax can be either a single object or an array of objects.</p>
	<Code @name="docs/surrealql/statements/insert/batch.surql"/>

</Layout::Text>

<Layout::Gap large />