<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements">Statements</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.kill"><code>KILL</code> statement</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2><code>KILL</code> statement</h2>
	<p>The <code>KILL</code> statement is used to terminate a running live query.</p>
	<p>
		While the <code>KILL</code> statement does accept a value type, this value must resolve to a UUID.
		Consequently, it will accept a string literal of a UUID or a param.
	</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
	<Code @name="docs/surrealql/statements/kill/syntax.typescript" text="Surql Syntax" />
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>

	<h3>Example usage</h3>

	<h4>Basic usage</h4>
	<p>The <code>KILL</code> statement expects the UUID of a running live query to be passed.</p>
	<Code @name="docs/surrealql/statements/kill/simple.surql" />

	<p>The <code>KILL</code> statement also allows for parameters to be used.</p>
	<Code @name="docs/surrealql/statements/kill/param.surql" />
</Layout::Text>

<Layout::Gap large />