<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements">Statements</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.live-select"><code>LIVE SELECT</code> statement</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2><code>LIVE SELECT</code> statement</h2>
	<p>The <code>LIVE SELECT</code> statement can be used to initiate a real-time selection from a table, including the option to apply filters.</p>
	<p>
		In practical terms, when you execute a <code>LIVE SELECT</code> query, it triggers an ongoing session that captures any subsequent changes to the data in real-time.
		These changes are then immediately transmitted to the client, ensuring that the client is consistently updated with the latest data modifications.
	</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
	<Code @name="docs/surrealql/statements/live-select/syntax.typescript" text="Surql Syntax" />
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>

	<h3>Example usage</h3>

	<h4>Basic usage</h4>
	<p>By default, SurrealDB will push the entire record over the websocket when created or updated, and just the record's ID when deleted.</p>
	<Code @name="docs/surrealql/statements/live-select/simple.surql" />

	<h4>Diff</h4>
	<p>When using the <code>DIFF</code> mode, updates will be sent in the form of an array with <Link @link="https://jsonpatch.com">JSON Patch</Link> messages.</p>
	<Code @name="docs/surrealql/statements/live-select/diff.surql" />

	<h4>Filter the live query</h4>
	<p>You can optionally apply filters with the <code>WHERE</code> clause.</p>
	<Code @name="docs/surrealql/statements/live-select/filtered.surql" />
</Layout::Text>

<Layout::Gap large />
