<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements">Statements</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.return"><code>RETURN</code> statement</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2><code>RETURN</code> statement</h2>
	<p>The RETURN statement can be used to return a value or the result of a query, and to set the return value for a transaction, block or function.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
	<Code @name="docs/surrealql/statements/return/syntax.typescript" text="Surql Syntax" />
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>

	<h3>Example usage</h3>

	<h4>Basic usage</h4>
	<p>The <code>RETURN</code> statement can return anything from simple values to the result of queries.</p>
	<Code @name="docs/surrealql/statements/return/simple.surql" />

	<Layout::Gap tiny />

	<h4>Transaction return value</h4>
	<p><code>RETURN</code> statements can set the result of any transaction. This includes transactions, blocks and functions.</p>
	<Code @name="docs/surrealql/statements/return/transaction.surql" text="Transaction return value" />
	<Layout::Gap tiny />
	<Code @name="docs/surrealql/statements/return/block.surql" text="Block return value" />
	<Layout::Gap tiny />
	<Code @name="docs/surrealql/statements/return/function.surql" text="Function return value" />

	<Layout::Gap tiny />

	<h4>Return does not break</h4>
	<p>Do keep in mind that the <code>RETURN</code> statement does not break out of a block or a transaction.</p>
	<Code @name="docs/surrealql/statements/return/return-does-not-break.surql"/>

</Layout::Text>

<Layout::Gap large />