<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements">Statements</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.sleep"><code>SLEEP</code> statement</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2><code>SLEEP</code> statement</h2>
	<p>The <code>SLEEP</code> statement is used to introduce a delay or pause in the execution of a query or a batch of queries for a specific amount of time.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
    <Code @name="docs/surrealql/statements/sleep/syntax.typescript" text="SQL Syntax" />
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Example usage</h3>
	<p>The following query shows example usage of this statement.</p>
	<Code @name="docs/surrealql/statements/sleep/main.surql" />
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
    <h3>See also</h3>
    <p>Alternatively you may want to use the <LinkTo @route="docs.surrealql.functions.sleep"><code>sleep</code></LinkTo> function.</p>
</Layout::Text>

<Layout::Gap large />