<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements">Statements</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.for"><code>THROW</code> statement</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2><code>THROW</code> statement</h2>
	<p>The THROW statement can be used to throw an error in a place where something unexpected is happening. Execution of the query will be aborted and the error will be returned to the client.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
	<Code @name="docs/surrealql/statements/throw/syntax.typescript" text="SQL Syntax" />
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Example usage</h3>
	<p>The following query shows example usage of this statement.</p>
	<Code @name="docs/surrealql/statements/throw/simple.surql" />
	<p>The following query shows the <code>THROW</code> statement being used to send back a custom error to the client.</p>
	<Code @name="docs/surrealql/statements/throw/advanced.surql" />
</Layout::Text>

<Layout::Gap large />