<Layout::Text text-l text-f>
    <h5><i class="fas fa-arrow-left"></i> &nbsp; <Link @link="docs.surrealql.statements.index">Back to overview</Link></h5>
    <h2><code>USE</code> statement</h2>
	<p>The USE statement specifies a namespace and / or a database to use for the subsequent SurrealQL statements.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
	<Code @name="docs/surrealql/statements/use/syntax.typescript" text="SQL Syntax" />
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Example usage</h3>
	<p>The following queries show example usage of this statement:</p>
	<Code @name="docs/surrealql/statements/use/ns.sql" />
	<Code @name="docs/surrealql/statements/use/db.sql" />
	<Code @name="docs/surrealql/statements/use/ns-db.sql" />
</Layout::Text>

<Layout::Gap large />