<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements">Statements</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.use"><code>USE</code> statement</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2><code>USE</code> statement</h2>
	<p>The USE statement specifies a namespace and / or a database to use for the subsequent SurrealQL statements.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
	<Code @name="docs/surrealql/statements/use/syntax.typescript" text="SQL Syntax" />
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Example usage</h3>
	<p>The following queries show example usage of this statement:</p>
	<Code @name="docs/surrealql/statements/use/ns.surql" />
	<Code @name="docs/surrealql/statements/use/db.surql" />
	<Code @name="docs/surrealql/statements/use/ns-db.surql" />
</Layout::Text>

<Layout::Gap large />