<Layout::Text text-l text-f>
	<h1><img inline src="/static/img/text.svg" alt="SurrealDB" /> Documentation</h1>
	<p>SurrealDB makes building and scaling realtime apps dramatically quicker and easier. Get started by installing the server, and jump into our getting started guide to learn how to insert and query data in SurrealDB in minutes.</p>
</Layout::Text>

<Layout::Gap tiny />

<Layout::Text text-l text-f>
	<p>
		The current version of <img inline src="/static/img/text.svg" alt="SurrealDB" /> is
		<Version />
	</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Boxes cols-3-to-2-to-1>
	<LinkTo @route="docs.introduction.index">
		<Layout::Boxes::Item mini hover>
			<h4>Introduction</h4>
			<p>Get started with SurrealDB - understand the core concepts, features, releases, and frequently asked questions.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.installation.index">
		<Layout::Boxes::Item mini hover>
			<h4>Installation</h4>
			<p>Learn how to install SurrealDB, and get started with running a single-node database or distributed cluster.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	{{!-- <LinkTo @route="docs.authentication.index">
		<Layout::Boxes::Item mini hover>
			<h4>Authentication</h4>
			<p>Understand how to secure your application, using the different authentication levels available in SurrealDB.</p>
		</Layout::Boxes::Item>
	</LinkTo> --}}
	<LinkTo @route="docs.deployment.index">
		<Layout::Boxes::Item mini hover>
			<h4>Deployment</h4>
			<p>Understand how to secure your application, using the different authentication levels available in SurrealDB.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.embedding.index">
		<Layout::Boxes::Item mini hover>
			<h4>Embedding</h4>
			<p>Learn how to embed and query SurrealDB from within a Rust, Node.js, JavaScript, or Python application.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.index">
		<Layout::Boxes::Item mini hover>
			<h4>Integration</h4>
			<p>View the documentation for connecting to and querying SurrealDB from different languages and frameworks.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.index">
		<Layout::Boxes::Item mini hover>
			<h4>SurrealQL</h4>
			<p>Learn about the SurrealQL data model, and how to define schemas, query the database, manipulate data, and run functions.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.cli.index">
		<Layout::Boxes::Item mini hover>
			<h4>CLI tool</h4>
			<p>View the commands that can be run with the command-line tool, including starting a server, and importing and exporting data.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	{{!-- <LinkTo @route="docs.guides.index">
		<Layout::Boxes::Item mini hover>
			<h4>Guides</h4>
			<p>Learn about the SurrealQL data model, and how to define schemas, query the database, manipulate data, and run functions.</p>
		</Layout::Boxes::Item>
	</LinkTo> --}}
	<LinkTo @route="docs.faqs">
		<Layout::Boxes::Item mini hover>
			<h4>FAQs</h4>
			<p>View some of the frequently asked questions regarding SurrealDB, SurrealQL, and SurrealKV.</p>
		</Layout::Boxes::Item>
	</LinkTo>
</Layout::Boxes>

<Layout::Line />

<Layout::Text text-l text-f>
	<h3>Libraries</h3>
	<p>Connect your application to your database with one of our official libraries. The following libraries are officially supported by SurrealDB. They are actively maintained, support new SurrealDB features, and receive bug fixes, performance enhancements, and security patches.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h4>Server side libraries</h4>
</Layout::Text>

<Layout::Gap mini />

<Layout::Boxes cols-3-to-2-to-1>
	<LinkTo @route="docs.integration.sdks.rust">
		<Layout::Boxes::Item mini hover>
			<h4>
				<Devicon @size="30" @type="rust" />
				Rust
				<l green r>Available</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.sdks.nodejs">
		<Layout::Boxes::Item mini hover>
			<h4>
				<Devicon @size="30" @type="nodejs" />
				Node.js
				<l green r>Available</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.sdks.golang">
		<Layout::Boxes::Item mini hover>
			<h4>
				<Devicon @size="30" @type="golang" />
				Golang
				<l green r>Available</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.sdks.deno">
		<Layout::Boxes::Item mini hover>
			<h4>
				<Devicon @size="30" @type="deno" />
				Deno
				<l green r>Available</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.sdks.python">
		<Layout::Boxes::Item mini hover>
			<h4>
				<Devicon @size="30" @type="python" />
				Python
				<l green r>Available</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.sdks.c">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="c" />
				C
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.sdks.java">
		<Layout::Boxes::Item mini hover>
			<h4>
				<Devicon @size="30" @type="java" />
				Java
				<l green r>Available</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.sdks.ruby">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="ruby" />
				Ruby
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.sdks.php">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="php" />
				PHP
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.sdks.swift">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="swift" />
				Swift
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.sdks.r">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="r" />
				R
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.sdks.dotnet">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="dotnet" />
				.NET
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.sdks.erlang">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="erlang" />
				Erlang
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
</Layout::Boxes>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h4>Client side libraries</h4>
</Layout::Text>

<Layout::Gap mini />

<Layout::Boxes cols-3-to-2-to-1>
	<LinkTo @route="docs.integration.sdks.javascript">
		<Layout::Boxes::Item mini hover>
			<h4>
				<Devicon @size="30" @type="javascript" />
				JavaScript
				<l green r>Available</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.sdks.emberjs">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="emberjs" />
				Ember.js
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.sdks.reactjs">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="reactjs" />
				React.js
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.sdks.angular">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="angular" />
				Angular
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.sdks.vuejs">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="vuejs" />
				Vue.js
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.sdks.nextjs">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="nextjs" />
				Next.js
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.sdks.nuxtjs">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="nuxtjs" />
				Nuxt.js
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.sdks.nestjs">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="nestjs" />
				Nest.js
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.sdks.svelte">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="svelte" />
				Svelte
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.sdks.dart">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="dart" />
				Dart
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.integration.sdks.flutter">
		<Layout::Boxes::Item mini hover faded>
			<h4>
				<Devicon @size="30" @type="flutter" />
				Flutter
				<l faint r>Coming soon</l>
			</h4>
		</Layout::Boxes::Item>
	</LinkTo>
</Layout::Boxes>

<Layout::Gap large />