<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.security">Security</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Security</h2>
	<p>Documentation of the security features of SurrealDB.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Boxes cols-3-to-2-to-1>
	<LinkTo @route="docs.security.authentication">
		<Layout::Boxes::Item mini hover>
			<h4>Authentication</h4>
			<p>Documentation of the different authentication mechanisms.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.security.capabilities">
		<Layout::Boxes::Item mini hover>
			<h4>Capabilities</h4>
			<p>System capabilities to allow/deny certain functionality.</p>
		</Layout::Boxes::Item>
	</LinkTo>
</Layout::Boxes>

<Layout::Gap large />
