layout-blocks {

	display:block;

	content {

		display:grid;
		grid-gap:50px;
		position:relative;
		margin:0px auto 0px auto;
		grid-template-columns:minmax(0, 1fr) minmax(0, 1fr);

		@include media(max-width-1000) {
			grid-template-columns:minmax(0, 1fr);
			margin:0px auto 0px auto;
		}

		div {

			width:100%;

			a[button] {
				margin:0 15px 15px 0;
			}

			pre {
				width:100%;
				border-radius:16px;
			}

			pic > img {
				width:100%;
				border-radius:16px;
			}

			vid {

				width:100%;
				display:block;
				overflow:hidden;
				position:relative;
				border-radius:16px;
				padding-bottom:56.25%;

				iframe {
					top:0;
					left:0;
					border:0;
					width:100%;
					height:100%;
					position:absolute;
				}

			}

			table {
				width:100%;
				margin-left:auto;
				margin-right:auto;
			}

			table > thead {
				font-weight:bold;
			}

			table > thead > tr > th {

				padding:15px;
				border-bottom:1px solid var(--border-color);

				&:not([align]) {
					text-align:left;
				}

			}

			table > tbody > tr > td {

				padding:15px;
				border-bottom:1px solid var(--border-color);

				&:not([align]) {
					text-align:left;
				}

			}

		}

	}

	&[cols-3-to-2-to-1] content {
		grid-template-columns:minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
		@include media(max-width-1000) {
			grid-template-columns:minmax(0, 1fr) minmax(0, 1fr);
		}
		@include media(max-width-550) {
			grid-template-columns:minmax(0, 1fr);
		}
	}

	&[cols-3-to-2] content {
		grid-template-columns:minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
		@include media(max-width-1000) {
			grid-template-columns:minmax(0, 1fr) minmax(0, 1fr);
		}
	}

	&[cols-2-1-to-1] content {
		grid-template-columns:minmax(0, 2fr) minmax(0, 1fr);
		@include media(max-width-1000) {
			grid-template-columns:minmax(0, 1fr);
		}
	}

	&[cols-1-2-to-1] content {
		grid-template-columns:minmax(0, 1fr) minmax(0, 2fr);
		@include media(max-width-1000) {
			grid-template-columns:minmax(0, 1fr);
		}
	}

	&[cols-6-to-2] content {
		grid-template-columns:minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
		@include media(max-width-1000) {
			grid-template-columns:minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
		}
		@include media(max-width-550) {
			grid-template-columns:minmax(0, 1fr) minmax(0, 1fr);
		}
	}

	&[cols-3-to-1] content {
		grid-template-columns:minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
		@include media(max-width-1000) {
			grid-template-columns:minmax(0, 1fr);
		}
	}

	&[cols-2-to-1] content {
		grid-template-columns:minmax(0, 1fr) minmax(0, 1fr);
		@include media(max-width-1000) {
			grid-template-columns:minmax(0, 1fr);
		}
	}

	&[cols-1] content {
		grid-template-columns:minmax(0, 1fr);
	}

	&[main-c] content {
		max-width:800px;
		text-align:center;
		grid-template-columns:minmax(0, 1fr);
		@include media(max-width-750) {
			text-align:left;
		}
	}

	&[cols-3-to-1][main-t] content {
		@include media(max-width-1000) {
			div:nth-of-type(4) {
				grid-row:2;
				grid-column:1;
			}
			div:nth-of-type(5) {
				grid-row:4;
				grid-column:1;
			}
			div:nth-of-type(6) {
				grid-row:6;
				grid-column:1;
			}
		}
	}

	&[cols-2-to-1][main-t] content {
		@include media(max-width-1000) {
			div:nth-of-type(3) {
				grid-row:2;
				grid-column:1;
			}
			div:nth-of-type(4) {
				grid-row:4;
				grid-column:1;
			}
		}
	}

	&[main-l] content {
		div:first-of-type {
			@include media(max-width-1000) {
				grid-row:1;
				grid-column:1;
			}
		}
	}

	&[main-r] content {
		div:last-of-type {
			@include media(max-width-1000) {
				grid-row:1;
				grid-column:1;
			}
		}
	}

	&[full] content {
		text-align:left;
		grid-template-columns:minmax(0, 1fr);
	}

}
