layout-boxes {

	display:block;

	content {

		display:grid;
		grid-gap:20px 20px;
		grid-template-columns:repeat(6, 1fr);

		layout-boxes-item {

			padding:40px;
			display:block;
			text-align:left;
			border-radius:12px;
			grid-column:auto / span 2;
			background-color:var(--boxes-color);

			@include media(max-width-1024) {
				padding:30px;
			}

			img {
				float:left;
				height:18px;
				margin-top:3px;
				margin-right:10px;
			}

			h3 {
				font-size:18px;
				font-weight:600;
				line-height:1.5;
			}

			p {
				font-size:16px;
			}

		}

	}

	&[cols-3-to-2-to-1] content layout-boxes-item {

		grid-column:auto / span 2;

		&[full] {
			grid-column:auto / span 6;
		}

		&[half] {
			grid-column:auto / span 3;
		}

		@include media(max-width-1250) {

			grid-column:auto / span 3;

			&[full] {
				grid-column:auto / span 6;
			}

			&[half] {
				grid-column:auto / span 3;
			}

		}

		@include media(max-width-750) {

			grid-column:auto / span 6;

			&[full] {
				grid-column:auto / span 6;
			}

			&[half] {
				grid-column:auto / span 6;
			}

		}

	}

	&[cols-3-to-1] content layout-boxes-item {

		grid-column:auto / span 2;

		&[full] {
			grid-column:auto / span 6;
		}

		&[half] {
			grid-column:auto / span 3;
		}

		@include media(max-width-1150) {

			grid-column:auto / span 6;

			&[full] {
				grid-column:auto / span 6;
			}

			&[half] {
				grid-column:auto / span 6;
			}

		}

	}

}
