gap {

	width:100%;
	height:100px;
	display:block;

	@include media(max-width-750) {
		height:50px;
	}

	&[line] {
		width:100%;
		height:10px;
		display:block;
	}

	&[tiny] {
		width:100%;
		height:30px;
		display:block;
	}

	&[mini] {
		width:100%;
		height:50px;
		display:block;
	}

	&[small] {

		width:100%;
		height:100px;
		display:block;

		@include media(max-width-750) {
			height:50px;
		}

	}

	&[large] {

		width:100%;
		height:150px;
		display:block;

		@include media(max-width-750) {
			height:50px;
		}

	}

}
