layout-group {

	padding:30px;
	display:block;
	border-radius:16px;
	background-color:var(--boxes-color);

	codes, code {
		box-shadow:none;
		background-color:var(--darker-color);
	}

	pre[class*=language-], code[class*=language-] {
		box-shadow:none;
		padding:5px 10px;
		background-color:var(--darker-color);
	}

	details {

		& > summary {

			cursor:pointer;
			color:var(--faint-color);

			& + * {
				margin-top:30px;
			}

		}

	}

}
