layout-hero {

	top:-120px;
	width:100%;
	display:block;
	position:relative;
	padding:120px 0 50px 0;
	background-repeat:no-repeat;
	background-size:1254px 662px;
	background-position:600px 0px;
	background-image:url("/static/img/home/honeycomb.png");

	&[about] {

		top:-120px;
		width:100%;
		display:block;
		position:relative;
		padding:120px 0 50px;
		margin-bottom:-120px;
		background-size:auto 70%;
		background-repeat:no-repeat;
		background-position:calc(50% + 500px) 100%;
		background-image:url("/static/img/about/main.png");

		@include media(max-width-1024) {
			background-image:none;
		}

	}

	&[roadmap] {

		top:-120px;
		width:100%;
		display:block;
		position:relative;
		padding:120px 0 50px;
		margin-bottom:-120px;
		background-size:auto 100%;
		background-repeat:no-repeat;
		background-position:calc(50% + 750px) 50%;
		background-image:url("/static/img/roadmap/main.png");

		@include media(max-width-1024) {
			background-image:none;
		}

	}

	@include media(max-width-768) {
		top:0px;
		padding:0px 0 50px 0;
	}

	content {

		margin-top:100px;

		@include media(max-width-750) {
			margin-top:50px;
		}

		a[button] {

			font-size:18px;
			padding:15px 40px;
			margin:0 25px 25px 0;

			@include media(max-width-550) {
				margin:0 0px 15px 0;
			}

		}

		h1 {

			width:65%;
			margin:0 0 10px 0;
			font-family:'Poppins';

			img {
				height:45px;
			}

			span[underline] {

				background:-moz-linear-gradient(-60deg, rgba(135,0,255,1) 0%, rgba(255,0,158,1) 100%);
				background:-webkit-linear-gradient(-60deg, rgba(135,0,255,1) 0%, rgba(255,0,158,1) 100%);
				background:linear-gradient(-60deg, rgba(135,0,255,1) 0%, rgba(255,0,158,1) 100%);
				-webkit-background-clip: text;
				background-clip: text;
				-webkit-text-fill-color: transparent;

			}

			@include media(max-width-1449) {
				font-size:46px;
				img { height:34px; }
			}

			@include media(max-width-1250) {
				font-size:38px;
				img { height:28px; }
			}

			@include media(max-width-1024) {
				width:100%;
				font-size:46px;
				img { height:34px; }
			}

			@include media(max-width-600) {
				width:100%;
				font-size:38px;
				margin-bottom:0px;
				img { height:28px; }
			}

		}

		h2 {

			width:60%;
			font-size:27px;

			@include media(max-width-1250) {
				font-size:24px;
			}

			@include media(max-width-1024) {
				width:100%;
				font-size:28px;
			}

			@include media(max-width-600) {
				width:100%;
				font-size:26px;
			}

		}

		p {

			width:60%;
			font-size:18px;
			margin-bottom:30px;
			color:var(--faint-color);

			@include media(max-width-1450) {
				width:55%;
			}

			@include media(max-width-1250) {
				width:50%;
			}

			@include media(max-width-1024) {
				width:100%;
			}

			@include media(max-width-550) {
				width:100%;
			}

		}

		e {
			padding-right:10px;
		}

	}

}
