layout-image {

	display:block;

	div {

		background:none;

		img {

			width:100%;
			display:block;
			overflow:visible;

			@include media(max-width-750) {
				width:150%;
				margin-left:-25%;
			}

		}

	}

	&[github] {

		div {

			width:100%;
			border-radius:16px;
			background:-moz-linear-gradient(-60deg, rgba(135,0,255,1) 0%, rgba(255,0,158,1) 100%);
			background:-webkit-linear-gradient(-60deg, rgba(135,0,255,1) 0%, rgba(255,0,158,1) 100%);
			background:linear-gradient(-60deg, rgba(135,0,255,1) 0%, rgba(255,0,158,1) 100%);

			@include media(max-width-1000) {
				height:100%;
			}

			img {
				width:110%;
				display:block;
				overflow:visible;
				margin-left:-5%;
			}

		}

	}

	&[backed] {

		div {

			width:100%;
			border-radius:16px;
			background:-moz-linear-gradient(-60deg, rgba(135,0,255,1) 0%, rgba(255,0,158,1) 100%);
			background:-webkit-linear-gradient(-60deg, rgba(135,0,255,1) 0%, rgba(255,0,158,1) 100%);
			background:linear-gradient(-60deg, rgba(135,0,255,1) 0%, rgba(255,0,158,1) 100%);

			@include media(max-width-1000) {
				height:100%;
			}

			img {
				width:100%;
				display:block;
				overflow:visible;
			}

		}

	}

}
