layout-table {

	width:100%;
	display:block;
	overflow:hidden;
	text-align:left;
	position:relative;
	border-radius:16px;
	margin:0 auto 0 auto;

	table {
		width:100%;
		overflow:hidden;
		margin-left:auto;
		margin-right:auto;
		border-style:hidden;
		border-collapse:collapse;
	}

	table > thead {
		font-weight:bold;
		border-collapse:collapse;
	}

	table > thead > tr {

		@include media(max-width-768) {
			display:block;
			padding:15px 0;
			border-bottom:2px solid var(--border-color);
		}

	}

	table > tbody > tr {

		@include media(max-width-768) {
			display:block;
			padding:15px 0;
			border-bottom:2px solid var(--border-color);
		}

	}

	table > thead > tr > th {

		padding:15px;
		border-bottom:2px solid var(--border-color);
		&:not([align]) { text-align:left; }

		@include media(max-width-768) {
			display:block;
			padding:5px 0;
			border-bottom:none;
		}

	}

	table > tbody > tr > td {

		padding:15px;
		border-bottom:2px solid var(--border-color);
		&:not([align]) { text-align:left; }

		@include media(max-width-768) {
			display:block;
			padding:5px 0;
			border-bottom:none;
		}

	}

	table > tbody > tr:last-child > td {
		border-bottom:none;
	}

	&[filled] {

		table {
			background-color:var(--boxes-color);
		}

		table > thead > tr > th {

			@include media(max-width-768) {
				padding:5px 30px;
			}

			@include media(min-width-768) {
				border-left:2px solid var(--border-color);
				&:first-child { padding-left:30px; }
				&:last-child { padding-right:30px; }
			}

		}

		table > tbody > tr > td {

			@include media(max-width-768) {
				padding:5px 30px;
			}

			@include media(min-width-768) {
				border-left:2px solid var(--border-color);
				&:first-child { padding-left:30px; }
				&:last-child { padding-right:30px; }
			}

		}

	}

	layout-group & {

		table {
			margin-bottom:30px;
			border:2px solid var(--border-color);
		}

		table > thead > tr > th {
			border-left:2px solid var(--border-color);
		}

		table > tbody > tr > td {
			border-left:2px solid var(--border-color);
		}

	}

}
