layout-table {

	width:100%;
	display:block;
	text-align:keft;
	margin:0 auto 0 auto;

	table {
		width:100%;
		margin-left:auto;
		margin-right:auto;
	}

	table > thead {
		font-weight:bold;
	}

	table > thead > tr > th {

		padding:15px;
		border-bottom:1px solid var(--border-color);

		&:not([align]) {
			text-align:left;
		}

	}

	table > tbody > tr > td {

		padding:15px;
		border-bottom:1px solid var(--border-color);

		&:not([align]) {
			text-align:left;
		}

	}

}
