layout-testimonials {

	display:block;

	content {

		display:block;
		position:relative;
		margin:0px auto 0px auto;

		> app-masonry {

			display:block;
			overflow:visible;
			position:relative;

			> app-masonry-view {

				display:block;
				overflow:visible;
				position:relative;

				> app-masonry-area {

					display:block;
					overflow:visible;

					> app-masonry-item {

						display:block;
						overflow:visible;
						width:calc( (100% / 3) - 20px );

						@include media(max-width-1300) {
							width:calc( (100% / 2) - 20px );
						}

						@include media(max-width-850) {
							width:100%;
						}

						> a {

							width:100%;
							display:flex;
							overflow:visible;

							> layout-testimonials-item {

								transform:translateZ(0);
								transition:box-shadow 0.3s;

								&:hover {

									box-shadow:0 5px 20px rgba(0, 0, 0, 0.3);

									img {
										transform:scale(1.05);
									}

								}

							}

						}

						> a > layout-testimonials-item, > layout-testimonials-item {

							z-index:1;
							width:100%;
							display:block;
							overflow:hidden;
							text-align:left;
							position:relative;
							margin:0 0 30px 0;
							border-radius:12px;
							background-color:var(--boxes-color);

							> div {

								padding:20px;
								display:flex;
								position:relative;
								flex-direction:row;

								> div:nth-of-type(1) {

									width:48px;
									flex-shrink:0;

									img {
										width:32px;
										object-fit:cover;
										transition:transform 0.3s;
									}

								}

								> div:nth-of-type(2) {

									> div:nth-of-type(1) {

										display:flex;
										line-height:1;
										flex-wrap:wrap;

										name {
											display:block;
											font-size:14px;
											font-weight:bold;
											padding-right:5px;
											transition:color 0.3s;
											color:var(--text-color);
										}

										user {
											display:block;
											font-size:14px;
											font-weight:bold;
											padding-right:5px;
											transition:color 0.3s;
											color:var(--faint-color);
										}

										bull {
											display:block;
											font-size:14px;
											padding-right:5px;
											transition:color 0.3s;
											color:var(--faint-color);
										}

										date {
											display:block;
											font-size:14px;
											padding-right:5px;
											transition:color 0.3s;
											color:var(--faint-color);
										}

									}

									> div:nth-of-type(2) {

										display:flex;
										padding-top:8px;

										text {
											font-size:14px;
											line-height:1.5;
											transition:color 0.3s;
											color:var(--text-color);
										}

									}

								}

							}

							&:hover {

								div {

									> div:nth-of-type(2) {

										> div:nth-of-type(1) {

											name:first-child, user:first-child {
												color:var(--hover-color);
											}

										}

									}

								}

							}

						}

					}

				}

			}

		}

	}

}
