layout-text {

	width:100%;
	display:block;
	text-align:center;
	margin:0 auto 0 auto;

	&[text-l] {
		text-align:left;
	}

	&[text-r] {
		text-align:right;
	}

	@include media(max-width-750) {
		text-align:left;
	}

	h2 {
		width:100%;
		margin-left:auto;
		margin-right:auto;
	}

	p {
		max-width:800px;
		margin-left:auto;
		margin-right:auto;
	}

}
