layout-text {

	width:100%;
	display:block;
	margin:0 auto 0 auto;

	h2 {
		width:100%;
		color:#ffffff;
		margin:0 auto;
		text-align:center;

		@include media(max-width-750) {
			text-align:left;
		}

	}

	p {
		margin:0 auto;
		max-width:800px;
		text-align:center;
	}

}
