layout-text-and-code {

	display:block;

	content {

		display:flex;
		position:relative;
		margin:0px auto 50px auto;

		p {
			padding-bottom:30px;
		}

	}

	&[text-l] content {

		flex-direction:row;

		> div:nth-of-type(1) {
			text-align:left;
			margin-right:50px;
			margin-bottom:30px;
		}

		> div:nth-of-type(2) {

			width:50%;
			flex-shrink:0;

			pre {
				margin:0;
				padding:30px;
				min-height:300px;
				box-shadow:0 5px 20px rgba(0, 0, 0, 0.3);
			}

		}

		@include media(max-width-1000) {
			flex-direction:column;
			> div:nth-of-type(1) {
				margin-right:0;
			}
			> div:nth-of-type(2) {
				width:100%;
			}
		}

	}

	&[text-r] content {

		flex-direction:row-reverse;

		> div:nth-of-type(1) {
			text-align:left;
			margin-left:50px;
			margin-bottom:30px;
		}

		> div:nth-of-type(2) {

			width:50%;
			flex-shrink:0;

			pre {
				margin:0;
				padding:30px;
				min-height:300px;
				box-shadow:0 5px 20px rgba(0, 0, 0, 0.3);
			}

		}

		@include media(max-width-1000) {
			flex-direction:column;
			> div:nth-of-type(1) {
				margin-left:0;
			}
			> div:nth-of-type(2) {
				width:100%;
			}
		}

	}

	&[text-t] content {

		flex-direction:column;

		> div:nth-of-type(1) {

			max-width:800px;
			text-align:center;
			margin:0 auto 0 auto;

			@include media(max-width-750) {
				text-align:left;
			}

		}

		> div:nth-of-type(2) {

			width:100%;
			max-width:800px;
			margin:0 auto 30px auto;

			pre {
				margin:0;
				padding:20px 30px;
				box-shadow:0 5px 20px rgba(0, 0, 0, 0.3);
			}

		}

	}

}
