layout-ticks {

	display:block;

	content {

		display:grid;
		padding:60px;
		grid-gap:20px 50px;
		margin-bottom:20px;
		border-radius:16px;
		background-color:var(--boxes-color);
		grid-template-columns:repeat(3, 1fr);

		@include media(max-width-1150) {
			grid-template-columns:repeat(2, 1fr);
		}

		@include media(max-width-750) {
			grid-template-columns:repeat(1, 1fr);
		}

		@include media(max-width-550) {
			padding:30px;
		}

		layout-ticks-item {

			display:flex;
			text-align:left;
			align-items:top;
			padding:5px 0px;
			justify-content:flex-start;

			img {
				float:left;
				height:22px;
				margin-top:1px;
				margin-right:10px;
			}

			p {
				padding:0;
				font-size:16px;
				font-weight:600;
				line-height:1.5;
				color:var(--text-color);
			}

		}

	}

}
