<Meta::Tags>
	<title>SurrealDB | About Us | The ultimate serverless cloud database</title>
	<meta name="title" property="og:title" content="SurrealDB | About Us">
	<meta name="description" content="We have led and delivered large-scale software and design projects in multiple startups and high-growth environments.">
</Meta::Tags>

<Layout::Hero about>

	<Layout::Gap mini />

	<h1>Tobie Morgan Hitchcock</h1>

	<h2>Founder &amp; CEO</h2>

	<p><a href="mailto:tobie@surrealdb.com">tobie@surrealdb.com</a></p>

	<a href="mailto:tobie@surrealdb.com" rel="noopener noreferrer" target="_blank">
		<Ascua::Tooltip @side="n" @show="hover" @hide="hover">
			Send Tobie an email
		</Ascua::Tooltip>
		<i class="fal fa-at font-30 m-r-20"></i>
	</a>
	<a href="https://www.linkedin.com/in/tobiemorganhitchcock/" rel="noopener noreferrer" target="_blank">
		<Ascua::Tooltip @side="n" @show="hover" @hide="hover">
			Connect with Tobie on LinkedIn
		</Ascua::Tooltip>
		<i class="fab fa-linkedin font-30 m-r-20"></i>
	</a>
	<a href="https://twitter.com/tobiemh" rel="noopener noreferrer" target="_blank">
		<Ascua::Tooltip @side="n" @show="hover" @hide="hover">
			Follow Tobie on Twitter
		</Ascua::Tooltip>
		<i class="fab fa-twitter font-30 m-r-20"></i>
	</a>
	<a href="https://github.com/tobiemh" rel="noopener noreferrer" target="_blank">
		<Ascua::Tooltip @side="n" @show="hover" @hide="hover">
			Follow Tobie on Github
		</Ascua::Tooltip>
		<i class="fab fa-github font-30 m-r-20"></i>
	</a>
	<a href="https://dev.to/tobiemh" rel="noopener noreferrer" target="_blank">
		<Ascua::Tooltip @side="n" @show="hover" @hide="hover">
			Follow Tobie on DEV
		</Ascua::Tooltip>
		<i class="fab fa-dev font-30 m-r-20"></i>
	</a>

	<Layout::Gap mini />

</Layout::Hero>