<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.datamodel">Data model</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.datamodel.simple">Simple types</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Arrays</h2>
	<p>SurrealDB records can store arrays of values, with no limit to the depth of the arrays. This means that objects and arrays can be stored within each other in order to model complex data scenarios. Arrays can store any value stored within them, and can store different value types within the same array.</p>
	<Code @name="docs-datamodel-simple-array.sql">
		CREATE person SET results = [
			{ score: 76, date: "2017-06-18T08:00:00Z", name: "Algorithmics" },
			{ score: 83, date: "2018-03-21T08:00:00Z", name: "Concurrent Programming" },
			{ score: 69, date: "2018-09-17T08:00:00Z", name: "Advanced Computer Science 101" },
			{ score: 73, date: "2019-04-20T08:00:00Z", name: "Distributed Databases" },
		];
	</Code>
</Layout::Text>

<Layout::Gap large />