<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.datamodel">Data model</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.datamodel.datetimes">Datetimes</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Datetimes</h2>
	<p>SurrealDB has native support for datetimes with nanosecond precision. SurrealDB automatically parses and understands datetimes which are written as strings in the SurrealQL language. Times must also be formatted in an <Link @link="https://en.wikipedia.org/wiki/ISO_8601">ISO-8601</Link> format.</p>
	<Code @name="docs-datamodel-datetimes-time-1.sql">
		CREATE event SET time = "2022-07-03T07:18:52Z";
	</Code>
	<p>SurrealDB handles all datetimes with nanosecond precision.</p>
	<Code @name="docs-datamodel-datetimes-time-2.sql">
		CREATE event SET time = "2022-07-03T07:18:52.841147Z";
	</Code>
	<p>SurrealDB handles all timezones, and automatically converts and stores datetimes as a UTC date.</p>
	<Code @name="docs-datamodel-datetimes-time-3.sql">
		CREATE event SET time = "2022-07-03T07:18:52.841147+02:00";
	</Code>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Datetime comparison</h3>
	<p>Datetimes can be compared with each other using the advanced SurrealDB operators.</p>
	<Code @name="docs-datamodel-datetimes-comparison-1.sql">
		SELECT * FROM "2022-07-03T07:18:52Z" > "2022-01-03T01:43:78Z";
	</Code>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Datetimes and durations</h3>
	<p>Durations can be used to modify and alter datetimes.</p>
	<Code @name="docs-datamodel-datetimes-durations-1.sql">
		CREATE event SET time = "2022-07-03T07:18:52Z" + 2w;
	</Code>
	<p>Multi-part durations can also be used to modify datetimes.</p>
	<Code @name="docs-datamodel-datetimes-durations-2.sql">
		CREATE event SET time = "2022-07-03T07:18:52.841147Z" + 1h30m20s1350ms;
	</Code>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Next steps</h3>
	<p>You've now seen how to store, modify, and handle dates and times in SurrealDB. For more advanced functionality, take a look at the <Link @link="docs.surrealql.functions.time">time</Link> functions, which enable extracting, altering, rounding, and grouping datetimes into specific time intervals.</p>
</Layout::Text>

<Layout::Gap large />