<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.datamodel">Data model</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.datamodel.simple">Simple types</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Objects</h2>
	<p>SurrealDB records can store objects, with no limit to the depth of any nested objects or values within. This means that objects and arrays can be stored within each other in order to model complex data scenarios. Objects can store any value stored within them, and can store different value types within the same object.</p>
	<Code @name="docs-datamodel-simple-object.surql">
		CREATE person SET metadata = {
			interest_level: 83.67,
			information: {
				age: 23,
				gender: 'm',
			},
			marketing: true,
			activities: [
				"clicked link",
				"contac form",
				"read email",
				"viewed website",
				"viewed website",
				"viewed website",
				"read email",
			]
		};
	</Code>
</Layout::Text>

<Layout::Gap large />