<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.datamodel">Data model</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.datamodel.strings">Strings</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Strings</h2>
	<p>Strings can be used to store text values. All text fields can include unicode values, emojis, and tabular and multine breaks.</p>
	<Code @name="docs-datamodel-simple-strings-single.sql">
		CREATE person SET text = 'Lorem ipsum dolor sit amet';
	</Code>
	<p>Strings can be created using single quotation marks, or double quotation marks.</p>
	<Code @name="docs-datamodel-simple-strings-double.sql">
		CREATE person SET text = "Lorem ipsum dolor sit amet";
	</Code>
	<p>Any string in SurrealDB can include unicode text.</p>
	<Code @name="docs-datamodel-simple-strings-unicode.sql">
		CREATE person SET text = "I ❤️ SurrealDB";
	</Code>
	<p>Strings can also include line breaks.</p>
	<Code @name="docs-datamodel-simple-strings-multiline.sql">
		CREATE person SET text = "This
		is
		over
		multiple
		lines";
	</Code>
</Layout::Text>

<Layout::Gap large />