<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.datamodel">Data model</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.datamodel.uuids">UUIDs</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
	<h3>UUIDs</h3>
	<p>SurrealDB will automatically detect and parse valid UUIDs within strings, and store them efficiently within the database. This ensures that the amount of storage used to store a UUID on disk and in memory, is as little as possible.</p>
	<Code @name="docs-datamodel-simple-uuid.sql">
		CREATE person SET identifier = "fb2cd733-eec4-4354-b070-3aba18c2a67a";
	</Code>
</Layout::Text>

<Layout::Gap large />