<Layout::Blocks cols-1 as |block|>
	<block>
		<h4 flex row middle>
			Pre-defined aggregate analytics views
		</h4>
		<p>Aggregate views let you pre-compute analytics queries as data is written to SurrealDB. Similarly to an index, a table view lets you select, aggregate, group, and order data, with support for moving averages, time-based windowing, and attribute-based counting. Pre-defined aggregate views are efficient and performant, with only a single record modification being made for every write.</p>
	</block>
	<block>
		<Code @name="roadmap/platform/views.sql" />
	</block>
</Layout::Blocks>