<Layout::Blocks cols-1 as |block|>
	<block>
		<h4 flex row middle>
			SurrealDB REPL
		</h4>
		<p>SurrealDB now supports the ability to start a command-line REPL to query a local or remote database from the terminal.</p>
	</block>
	<block>
		<Code @name="docs-releases-1-0-0-beta-6-repl.shell">
			user@localhost % surreal sql --conn http://localhost:8000 --user root --pass root --ns test --db test
		</Code>
	</block>
</Layout::Blocks>