<Layout::Blocks cols-1 as |block|>
	<block>
		<h4 flex row middle>
			Complex Record IDs
		</h4>
		<p>SurrealDB now supports the ability to define record IDs using arrays and objects. These values sort correctly, and can be used to store values or recordings in a timeseries context.</p>
	</block>
	<block>
		<Code @name="docs-releases-1-0-0-beta-7-ids.sql">
			// Create a record with a complex ID using an array
			CREATE temperature:['London', '2022-08-29T08:03:39'] SET
				location = 'London',
				date = '2022-08-29T08:03:39',
				temperature = 23.7
			;
			// Create a record with a complex ID using an object
			CREATE temperature:{ location: 'London', date: '2022-08-29T08:03:39' } SET
				location = 'London',
				date = '2022-08-29T08:03:39',
				temperature = 23.7
			;
			// Select a specific record using a complex ID
			SELECT * FROM temperature:['London', '2022-08-29T08:03:39'];
		</Code>
	</block>
	<block>
		<h4 flex row middle>
			Record ID ranges
		</h4>
		<p>SurrealDB now supports the ability to query a range of records, using the record ID. The record ID ranges, retrieve records using the natural sorting order of the record IDs. With the addition of complex record IDs above, this can be used to query a range of records in a timeseries context.</p>
	</block>
	<block>
		<Code @name="docs-releases-1-0-0-beta-7-ranges.sql">
			// Select all person records with IDs between the given range
			SELECT * FROM person:1..1000;
			// Select all temperature records with IDs between the given range
			SELECT * FROM temperature:['London', '2022-08-29T08:03:39']..['London', '2022-08-29T08:09:31'];
		</Code>
	</block>
</Layout::Blocks>