<Layout::Blocks cols-1 as |block|>

	<block>
		<h4 row middle>
			Introducing new type validation methods in <img inline src="/static/img/surrealql-text.svg" alt="SurrealQL" />
		</h4>
		<p><code>v1.0.0-beta.11</code> introduces new type validation methods. These new methods allow you to check which type any sort of value is on the go.</p>
	</block>
	<block>
		<Code @name="docs-releases-1-0-0-beta-11-type-validation-methods.surql">
			LET $value = "I am a string";

			RETURN [
				type::is::string($value),
				type::is::record($value),
				type::is::number($value),
			];
		</Code>
	</block>

	<block>
		<h4 row middle>
			Guaranteed single item results with the new <code>ONLY</code> keyword
		</h4>
		<p>
			It was a bit rough previously to select, create, update or delete just a single record, so we simplified it a bit.
		</p>
	</block>
	<block>
			<Code @name="docs-releases-1-0-0-beta-11-only.surql">
				// Will return an object, as we can guarantee just a single record being selected here.
				SELECT * FROM ONLY person:tobie;

				// This will throw an error, as multiple records will be created and returned.
				CREATE ONLY person:tobie, person:jaime;
			</Code>
	</block>

	<block>
		<h4 row middle>
			<code>THROW</code> dynamic error messages
		</h4>
		<p>
			Previously, only strings could be passed to the <code>THROW</code> statement. We updated this so that the <code>THROW</code> statement now accepts any type of value.
		</p>
	</block>
	<block>
			<Code @name="docs-releases-1-0-0-beta-11-throw.surql">
				LET $message = "Some error message";
				THROW "Failed to perform action: " + $message;
			</Code>
	</block>

</Layout::Blocks>