<customers ...attributes>
	<div class="grid-container">
		<div class="item1">
			<h1>
				What our super clients say
			</h1>
		</div>
		<div class="item2">
			<line1/>
			<h2>
				“BrandSafe’s simplicity, speed and responsiveness is key”.
			</h2>
			<img src="/static/img/home/aberlogo.svg" alt="aber">
			<clear></clear>
			<h3>
				Eifion Loosley, Marketing Manager at Aber
			</h3>
		</div>
	</div>
</customers>