<layout-hero ...attributes>
	<content route={{route-name}}>
		{{#if @logo}}<Logo />{{/if}}
		{{#if @title}}<h1>{{@title}}</h1>{{/if}}
		{{#if @text}}<h2>{{@text}}</h2>{{/if}}
		{{yield}}
	</content>
</layout-hero>