<Layout::Text text-l text-f>
    <h2>Data model</h2>
	<p>SurrealDB comes with a large number of in-built types, designed specifically for a scalable cloud database which operates directly from the web. To get started with the basic concepts of the data model view one of the sections below.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Boxes cols-3-to-2-to-1>
	<LinkTo @route="docs.datamodel.simple">
		<Layout::Boxes::Item mini hover>
			<h4>Simple types</h4>
			<p>Boolean values, strings, numbers, UUIDs, arrays, objects, and durations</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.datamodel.datetimes">
		<Layout::Boxes::Item mini hover>
			<h4>Datetimes</h4>
			<p>Datetimes and durations can be used to store and manipulate dates and times</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.datamodel.geometries">
		<Layout::Boxes::Item mini hover>
			<h4>Geometries</h4>
			<p>Geolocation points and GeoJSON values can be used to store geometry data</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.datamodel.records">
		<Layout::Boxes::Item mini hover>
			<h4>Record links</h4>
			<p>Use record links to point to and link directly with records in other tables</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.datamodel.futures">
		<Layout::Boxes::Item mini hover>
			<h4>Futures</h4>
			<p>Use futures to store values which should only be computed when retrieving data</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.datamodel.casting">
		<Layout::Boxes::Item mini hover>
			<h4>Casting</h4>
			<p>SurrealDB makes it easy to convert values between different data types</p>
		</Layout::Boxes::Item>
	</LinkTo>
</Layout::Boxes>

<Layout::Gap large />