<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.installation">Installation</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Installation</h2>
	<p>Getting started with SurrealDB is intended to be quick and easy. All of SurrealDB's functionality for starting a server, and importing and exporting data, is enabled through the command-line tool, packaged and distributed as a single executable file, which can be downloaded, installed, or run from within Docker.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Installing <img inline src="/static/img/text.svg" alt="SurrealDB" /></h3>
</Layout::Text>

<Layout::Gap mini />

<Layout::Boxes cols-3-to-1>
	<LinkTo @route="docs.installation.macos">
		<Layout::Boxes::Item mini hover>
			<h4><Devicon @size="30" @type="apple" /> macOS</h4>
			<p>Follow this tutorial to install SurrealDB on macOS operating systems</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.installation.linux">
		<Layout::Boxes::Item mini hover>
			<h4><Devicon @size="30" @type="linux" /> Linux</h4>
			<p>Follow this tutorial to install SurrealDB on Linux operating systems</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.installation.windows">
		<Layout::Boxes::Item mini hover>
			<h4><Devicon @size="30" @type="windows" /> Windows</h4>
			<p>Follow this tutorial to install SurrealDB on Windows operating systems</p>
		</Layout::Boxes::Item>
	</LinkTo>
</Layout::Boxes>

<Layout::Gap tiny />

<Layout::Boxes cols-1>
	<LinkTo @route="docs.installation.nightly">
		<Layout::Boxes::Item mini hover>
			<h4><Devicon @size="30" @type="surreal" /> Install SurrealDB Nightly</h4>
			<p>If you prefer developing on the bleeding edge, you can use SurrealDB Nightly, which includes the latest features, built and released every night</p>
		</Layout::Boxes::Item>
	</LinkTo>
</Layout::Boxes>

<Layout::Line />

<Layout::Text text-l text-f>
	<h3>Running <img inline src="/static/img/text.svg" alt="SurrealDB" /></h3>
</Layout::Text>

<Layout::Gap mini />

<Layout::Boxes cols-1>
	<LinkTo @route="docs.installation.running.docker">
		<Layout::Boxes::Item mini hover>
			<h4><Devicon @size="40" @type="docker" /> Run with Docker</h4>
			<p>Follow this tutorial to get started with SurrealDB using the Docker container management system or the Docker Compose orchestration tool</p>
		</Layout::Boxes::Item>
	</LinkTo>
</Layout::Boxes>

<Layout::Gap tiny />

<Layout::Boxes cols-2-to-1>
	<LinkTo @route="docs.installation.running.memory">
		<Layout::Boxes::Item mini hover>
			<h4>Run a single-node, in-memory server</h4>
			<p>Follow this tutorial to get started with a single-node, in-memory server instance for testing and development</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.installation.running.file">
		<Layout::Boxes::Item mini hover>
			<h4>Run a single-node, on-disk server</h4>
			<p>Follow this tutorial to get started with a single-node, in-disk server instance for vertical scaling</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.installation.running.tikv">
		<Layout::Boxes::Item mini hover>
			<h4>Run a multi-node, scalable cluster with TiKV</h4>
			<p>Follow this tutorial to get started with a single-node, in-disk server instance for horizontal scaling</p>
		</Layout::Boxes::Item>
	</LinkTo>
</Layout::Boxes>

<Layout::Line />

<Layout::Text text-l text-f>
	<h3>Upgrading <img inline src="/static/img/text.svg" alt="SurrealDB" /></h3>
</Layout::Text>

<Layout::Gap mini />

<Layout::Boxes cols-2-to-1>
	<LinkTo @route="docs.installation.upgrading.beta8-to-beta9">
		<Layout::Boxes::Item mini hover>
			<h4>From beta-8 to beta-9</h4>
			<p>Follow this guide to get started upgrading from beta-8 to beta-9</p>
		</Layout::Boxes::Item>
	</LinkTo>
</Layout::Boxes>

<Layout::Gap large />