<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.installation">Installation</Crumb::Item>
	<Crumb::Item @link="docs.installation.macos">Install on macOS</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
	<h2><Devicon @size="50" @type="apple" /> Install on macOS</h2>
	<p>Use this tutorial to install SurrealDB on macOS using the SurrealDB <Link @link={{url "install"}}>install script</Link>, or using the third-party <Link @link="https://brew.sh">Homebrew</Link> package manager. Both the SurrealDB Database Server and the SurrealDB Command Line Tool are packaged and distributed as a single executable file, which is easy to install, and easy to uninstall.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>

	<h3>Installing SurrealDB using the install script</h3>

	<p>To get started, you can use the SurrealDB <Link @link={{url "install"}}>install script</Link>. This script securely downloads the latest version for the platform and CPU type. It attempts to install SurrealDB into the <code>/usr/local/bin</code> folder, falling back to a user-specified folder if necessary.</p>

	<Code @name="docs-installation-macos-script-install.shell">
		user@localhost % curl --proto '=https' --tlsv1.2 -sSf https://install.surrealdb.com | sh
	</Code>

	<h4>Updating SurrealDB</h4>

	<p>To ensure that you are using the latest version, update SurrealDB to version <Version /> using the following command.</p>

	<Code @name="docs-installation-macos-script-update.shell">
		user@localhost % curl --proto '=https' --tlsv1.2 -sSf https://install.surrealdb.com | sh
	</Code>

	<h4>Checking SurrealDB</h4>

	<p>Once installed, you can run the SurrealDB command-line tool by using the <code>surreal</code> command. To check whether the install was successful run the following command in your terminal.</p>

	<Code @name="docs-installation-macos-script-test.shell">
		user@localhost % surreal help
	</Code>

	<p>The result should look similar to the output below, confirming that the SurrealDB command-line tool was installed successfully.</p>

	<details>
		<summary>Example output for the command</summary>
		<br><Code @name="docs/cli/help/main.txt" />
	</details>

</Layout::Text>

<Layout::Line />

<Layout::Text text-l text-f>

	<h3>Installing SurrealDB using Homebrew</h3>

	<p>The quickest way to get going with SurrealDB on macOS is to use Homebrew. This will install both the command-line tools, and the SurrealDB server as a single executable. If you don't use Homebrew, follow the instructions for Linux below to install SurrealDB.</p>

	<Code @name="docs-installation-macos-homebrew-install.shell">
		user@localhost % brew install surrealdb/tap/surreal
	</Code>

	<h4>Updating SurrealDB</h4>

	<p>To ensure that you are using the latest version, update SurrealDB to version <Version /> using the following command.</p>

	<Code @name="docs-installation-macos-homebrew-update.shell">
		user@localhost % brew upgrade surrealdb/tap/surreal
	</Code>

	<h4>Checking SurrealDB</h4>

	<p>Once installed, you can run the SurrealDB command-line tool by using the <code>surreal</code> command. To check whether the install was successful run the following command in your terminal.</p>

	<Code @name="docs-installation-macos-homebrew-test.shell">
		user@localhost % surreal help
	</Code>

	<p>The result should look similar to the output below, confirming that the SurrealDB command-line tool was installed successfully.</p>

	<details>
		<summary>Example output for the command</summary>
		<br><Code @name="docs/cli/help/main.txt" />
	</details>

</Layout::Text>

<Layout::Gap large />