<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.installation">Installation</Crumb::Item>
	<Crumb::Item @link="docs.installation.windows">Install on Windows</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>

	<h2><Devicon @size="50" @type="windows" /> Install on Windows</h2>

	<p>Use this tutorial to install SurrealDB on Windows operating systems using the SurrealDB <Link @link={{url "windows"}}>install script</Link>, or using the third-party <Link @link="https://chocolatey.org">Chocolatey</Link> or third-party <Link @link="https://scoop.sh">Scoop</Link> package managers. Both the SurrealDB Database Server and the SurrealDB Command Line Tool are packaged and distributed as a single executable file, which is easy to install, and easy to uninstall.</p>

</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>

	<h3>Installing SurrealDB using the install script</h3>

	<p>To get started, you can use the SurrealDB <Link @link={{url "windows"}}>install script</Link>. This script securely downloads the latest version for the platform and CPU type. It installs SurrealDB into the <code>C:\Program Files\SurrealDB</code> folder, falling back to a user-specified folder if necessary.</p>

	<Code @name="docs-installation-windows-script-install.shell">
		PS C:\> iwr https://windows.surrealdb.com -useb | iex
	</Code>

	<h4>Updating SurrealDB</h4>

	<p>To ensure that you are using the latest version, update SurrealDB to version <Version /> using the following command.</p>

	<Code @name="docs-installation-windows-script-update.shell">
		PS C:\> iwr https://windows.surrealdb.com -useb | iex
	</Code>

	<h4>Checking SurrealDB</h4>

	<p>Once installed, you can run the SurrealDB command-line tool by using the <code>surreal.exe</code> command. To check whether the install was successful run the following command in your terminal.</p>

	<Code @name="docs-installation-windows-script-test.shell">
		PS C:\> C:\Program Files\SurrealDB\surreal.exe help
	</Code>

	<p>The result should look similar to the output below, confirming that the SurrealDB command-line tool was installed successfully.</p>

	<details>
		<summary>Example output for the command</summary>
		<br><Code @name="docs/cli/help/main.txt" />
	</details>

</Layout::Text>

<Layout::Line />

<Layout::Text text-l text-f>

	<h3>Installing SurrealDB using Chocolatey</h3>

	<p>If you use the <Link @link={{url "https://chocolatey.org/"}}>chocolately</Link> package manaher, then you can quickly install SurrealDB with one command. This will install both the command-line tools, and the SurrealDB server as a single executable. If you don't use Homebrew, follow the instructions for Linux below to install SurrealDB.</p>

	<Code @name="docs-installation-windows-choco-install.shell">
		PS C:\> choco install surrealdb
	</Code>

	<h4>Updating SurrealDB</h4>

	<p>To ensure that you are using the latest version, update SurrealDB to version <Version /> using the following command.</p>

	<Code @name="docs-installation-windows-choco-update.shell">
		PS C:\> choco update surrealdb
	</Code>

</Layout::Text>

<Layout::Line />

<Layout::Text text-l text-f>

	<h3>Installing SurrealDB using Scoop</h3>

	<p>If you use the <Link @link={{url "https://scoop.sh/"}}>Scoop</Link> package manager, then you can quickly install SurrealDB with one command. This will install both the command-line tools, and the SurrealDB server as a single executable.</p>

	<Code @name="docs-installation-windows-scoop-install.shell">
		PS C:\> scoop install surrealdb
	</Code>

	<h4>Updating SurrealDB</h4>

	<p>To ensure that you are using the latest version, update SurrealDB to version <Version /> using the following command.</p>

	<Code @name="docs-installation-windows-scoop-update.shell">
		PS C:\> scoop update surrealdb
	</Code>

</Layout::Text>

<Layout::Line />

<Layout::Gap large />