<section>

	<Layout::Text>
	 	<h2>We are building SurrealDB for everyone</h2>
		<p>SurrealDB is being built in the open. We would love for you to be involved.</p>
		<Button::Thinner @link="https://github.com/surrealdb/surrealdb">
			<i class="fab fa-github"></i> <span>Find us on GitHub</span>
		</Button::Thinner>
	</Layout::Text>

	<Layout::Gap mini />

	<Layout::Image github as |block|>
		<a href="https://github.com/surrealdb/surrealdb">
        	<img src="/static/img/home/github.png" />
      	</a>
	</Layout::Image>

</section>