<section>

	<Layout::Gap small />

	<Layout::Text>
	 	<h2>We are building <img src="/static/img/text.svg" alt="SurrealDB" /> for everyone</h2>
		<p>SurrealDB is being built in the open. We would love for you to be involved.</p>
		<Button::Thinner @link={{url "github"}}>
			<i class="fab fa-github"></i> <span>Find us on GitHub</span>
		</Button::Thinner>
		&nbsp;
		<Button::Thinner @link="opensource">
			<i class="fal fa-code"></i> <span>View our open source projects</span>
		</Button::Thinner>
	</Layout::Text>

	<Layout::Gap small />

</section>