{{#in-element (document-head) insertBefore=null}}
	<title>SurrealDB | Cookies Policy | The ultimate serverless cloud database</title>
	<meta name="title" property="og:title" content="SurrealDB | Cookies Policy">
	<meta name="description" content="SurrealDB is the ultimate database for tomorrow's serverless, jamstack, single-page, and traditional applications.">
	<meta name="image" property="og:image" content="/static/img/preview/main.jpg">
	<meta property="og:type" content="website">
{{/in-element}}

<Layout::Gap small />

<Layout::Text text-l>
	<h1>Cookies policy</h1>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-f text-l>
	<p>When you visit <Link @link="https://surrealdb.com">surrealdb.com</Link>, we use Cookies and similar tracking technologies to track the activity on the website and store certain information. Tracking technologies used are beacons, tags, and scripts to collect and track information and to improve and analyse our Services.</p>
	<p>Cookies do not typically contain any information that personally identifies a user, but personal information that we store about you may be linked to the information stored in and obtained from Cookies. We do not store sensitive personal information, such as mailing addresses, account passwords, etc. in the Cookies we use. Cookies can be <em>Persistent</em> or <em>Session</em> Cookies. Persistent Cookies remain on your personal computer or mobile device when you go offline, while Session Cookies are deleted as soon as you close your web browser. We use both session and persistent Cookies onthis website.</p>
	<p>You can instruct your browser to refuse all Cookies or to indicate when a Cookie is being sent. However, if you do not accept Cookies, you may not be able to use some parts of our service. Most web browsers allow some control of most cookies through the browser settings. To find out more about cookies, including how to see what cookies have been set and how to manage and delete them, visit <Link @link="https://www.allaboutcookies.org">www.allaboutcookies.org</Link>.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-f text-l>
	<h3>Cookies set by surrealdb.com</h3>
</Layout::Text>

<Layout::Gap mini />

<Layout::Table>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Duration</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>session</td>
				<td>Keeps your website session alive</td>
				<td>12 months</td>
			</tr>
			<tr>
				<td>surreal</td>
				<td>Stores any SurrealDB authentication information</td>
				<td>12 months</td>
			</tr>
			<tr>
				<td>_ga</td>
				<td>Google Analytics cookie, used to distinguish users</td>
				<td>24 months</td>
			</tr>
			<tr>
				<td>_gid</td>
				<td>Google Analytics cookie, used to distinguish users</td>
				<td>24 hours</td>
			</tr>
			<tr>
				<td>_gat</td>
				<td>Google Analytics cookie, used to throttle request rate</td>
				<td>1 minute</td>
			</tr>
			<tr>
				<td>_gac_*</td>
				<td>Google Analytics cookie, storing campaign related information for the user</td>
				<td>3 months</td>
			</tr>
		</tbody>
	</table>
</Layout::Table>

<Layout::Gap large />