<Meta::Tags
	@title="SurrealDB | SurrealDB World Giveaway Promotion Terms and Conditions"
	@description="These Terms and Conditions prevail in the event of any conflict or inconsistency with any other communications, including advertising or promotional materials. Entry/claim instructions are deemed to form part of the Terms and Conditions, and by participating all claimants will be deemed to have accepted and be bound by the Terms and Conditions. Please retain a copy for your information."
/>

<Layout::Gap small />

<Layout::Text text-l>
	<h1>SurrealDB World<br>Giveaway Promotion</h1>
	<h3>Terms and Conditions</h3>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-f text-l>
	<p><b>These Terms and Conditions prevail in the event of any conflict or inconsistency with any other communications, including advertising or promotional materials. Entry/claim instructions are deemed to form part of the Terms and Conditions, and by participating all claimants will be deemed to have accepted and be bound by the Terms and Conditions. Please retain a copy for your information.</b></p>
	<p><b>No purchase or payment of any money is necessary to participate in the Giveaway Promotion. It is void where prohibited or restricted by law, or where registration, bonding, local drawing or translation is required.</b></p>
	<p><b>This Giveaway Promotion is provided by SurrealDB Ltd, whose registered office is 16 Great Queen Street, Covent Garden, London, WC2B 5AH, United Kingdom ("we", "our", "us", the "Promoters").</b></p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-f text-l>
	<h3>How to enter</h3>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-f text-l>
	<p>1. This Giveaway Promotion is open to any person who is:
  	<ul>
		<li>twenty-one (21) years of age or older and the age of majority in their jurisdiction of residence at the time of entry; and</li>
  		<li>resident in a country served by direct flights of British Airways, Lufthansa, or United Airlines.</li>
		</ul>
	</p>
	<p>2. This Giveaway Promotion is not open to any person who is:
	<ul>
		<li>an employee of the Promoters or its affiliates, subsidiaries, advertising or promotion agencies, or a member of these employees’ families (defined as parents, children, siblings, spouse and life partners); or</li>
		<li>esident in a state or country in which acceptance of or participation in this promotion is not legally permitted or is otherwise limited.</li>
	</ul>
	</p>
	<p>3. This Giveaway Promotion runs from 12:00:00 BST on June 12, 2023 until 12:00:00 BST on July 14, 2023 (the "Promotion Period").</p>
	<p>4. This Giveaway Promotion is free to enter.</p>
	<p>5. This Giveaway Promotion is non-transferable and cannot be exchanged for cash.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-f text-l>
	<h3>Application</h3>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-f text-l>
	<p>It is the responsibility of the entrant to provide correct, up-to-date details when entering the promotion and on acceptance of their Giveaway. The Promoters cannot be held responsible for participants or winners failing to supply accurate information which affects acceptance or delivery of their Giveaway.</p>
	<p>To enter into the Giveaway Promotion, you must (i) fulfil all of the steps outlined in points A to E below, or (ii) send in an entry request as indicated below (the "Entry Requirements"):</p>
	<p>A. ‘Follow’ us on Twitter @SurrealDB, and<br>
	B. Join our Discord server surrealdb.com/discord, and<br>
	C. 'Star' our repository github.com/surrealdb/surrealdb, and<br>
	D. 'Like' and 'Retweet' the SurrealDB World Giveaway Promotion post on Twitter, and<br>
	E. Comment on the SurrealDB World Giveaway Promotion post on Twitter with your GitHub and Discord usernames.</p>
	<p>You may instead enter by writing your name, email address and address on a postcard with a written request to "Enter Me in the SurrealDB Giveaway Promotion" to SurrealDB Ltd Giveaway Entry Request, SurrealDB Ltd, Huckletree Oxford Circus, 213 Oxford Street, London W1D 2LG, United Kingdom. Entries by postcard must be postmarked on or before July 14, 2023 and must be received by July 21, 2023.</p>
	<p>Maximum of one entry per person regardless of method.</p>
	<p>Entries will be ineligible for this Giveaway Promotion if they are incomplete; fail to meet the Entry Requirements; are found to be using multiple accounts to enter; are produced by automated or bulk means; violate the rights of any other person or entity; are received outside of the Promotion Period; contain anything considered to be defamatory, obscene, offensive, promote violence or discrimination or otherwise are considered to be of an unsuitable nature.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-f text-l>
	<h3>Winners</h3>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-f text-l>
	<p><b>Three winners will each receive a Giveaway of one direct return economy flight from an airport served by British Airways, Lufthansa, or United Airlines, from an airport close to their location, to London UK.</b> Departure and return dates will be appropriate to enable attendance at SurrealDB World on September 13, 2023.</p>
	<p>In addition, the three winners will each be supplied with <b>hotel accommodation including breakfast, for two nights</b> - September 12, 2023 and September 13, 2023.</p>
	<p>If a winner lives within a 100-mile radius of London UK, the prize will not include the air transportation portion of the prize.</p>
	<p><b>The winners will be notified on or around July 28, 2023 by email.</b></p>
	<p>The three Giveaway winners will be selected fairly and at random from all valid entries during the Promotion Period.</p>
	<p>If a Giveaway winner cannot be contacted and/or fails to respond to the notification email within the required time period of two weeks, that winner will forfeit their Giveaway.</p>
	<p>Winners must comply with all terms and conditions of these rules and winning is contingent upon fulfilling all requirements. Each winner may be required to sign an affidavit of eligibility, liability release and a publicity release.</p>
	<p>The aggregate retail value of the prize(s) is approximately GBP 2000.00. The actual prize value depends on the location of the winner's residence and the dates of travel. Any difference between the stated value and actual value will not be awarded. Travel arrangements must be made through the Promoters' Agent, on a carrier of the Promoters' choice. If the winner cannot travel on the dates specified by the Promoters, the prize will be forfeited in its entirety and the prize may be awarded to an alternate winner. All tickets and accommodations are subject to the vagaries of schedule variation, work stoppages, regulations, and schedule changes. The trip may not be combined with any other offer and travel may not qualify for frequent flyer miles. The Promoters are not responsible for lost or mutilated tickets and none will be replaced. Airline tickets and accommodations are non-refundable, non-transferable and are not valid for upgrades. The hotel accommodation and airline tickets will be determined at the sole discretion of the Promoters. No substitution, assignment or transfer of the prize is permitted, except by the Promoters, who have the right to substitute a prize with another of comparable or greater value. The winner is responsible for all other taxes, charges and fees associated with the receipt and/or use of the prize.</p>
	<p>Each winner must be aware that use of the travel portion of the Giveaway prize can be hazardous and can present unusual risks of death, serious illness and injury, and property damage. Each winner participates in the use of the Giveaway prize with knowledge of the danger involved and agrees to accept any and all risks of injury, illness, death and property damage.</p>
	<p>The details provided by the applicant when entering this Giveaway Promotion will be shared with the travel agency (the "Agent") charged with the provision of the Giveaway. Their personal data will be used by the Promoters and their Agent only for the performance of this promotion.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-f text-l>
	<h3>General</h3>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-f text-l>
	<p>The prize winners consent to their name being made publicly available upon request.</p>
	<p>By entering or accepting any prize, the winner allows the Promoters to use the winner's name, photograph, likeness, voice, prize information, and biographical information for publicity and promotional purposes without further compensation where permitted by applicable law. Except where prohibited, participation constitutes the participant's consent to the Promoters' use of the participant's name, likeness, voice, opinions, biographical information, hometown and state for promotional purposes in any media without further payment or consideration. Participants found engaging in any of the following activities may be disqualified and ineligible for any prize: (i) tampering with, disrupting, or attempting to disrupt, or any unauthorised use, misuse or abuse of any aspect of an entry; (ii) violating any applicable law; (iii) allowing any unauthorised person to use your email address or other account related to an entry; (iv) attempting to perpetuate fraud, false identification or email addresses, false registration, false impersonation or any other means; (v) failing to provide complete and accurate information required for payment of incentives and/or tax reporting purposes; or (vi) for any other breach of these terms and conditions. Termination for any of these reasons may also subject the participant to civil and criminal penalties and may result in legal action. The Promoters may invalidate participation in an entry if the participant does not meet eligibility requirements.</p>
	<p>THE PROMOTERS MAKE NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, REGARDING ANY PRIZE OR YOUR PARTICIPATION IN THE GIVEAWAY. BY PARTICIPATING IN THE GIVEAWAY OR RECEIPT OF ANY PRIZE, EACH  PARTICIPANT AGREES TO RELEASE AND HOLD HARMLESS THE PROMOTERS AND THEIR SUBSIDIARIES, AFFILIATES, SUPPLIERS, DISTRIBUTORS, ADVERTISING/PROMOTION AGENCIES, AND PRIZE SUPPLIERS, AND EACH OF THEIR RESPECTIVE PARENT COMPANIES AND EACH SUCH COMPANY'S OFFICERS, DIRECTORS, EMPLOYEES AND AGENTS (COLLECTIVELY, THE "RELEASED PARTIES")  FROM AND AGAINST ANY CLAIM OR CAUSE OF ACTION, INCLUDING, BUT NOT LIMITED TO, PERSONAL INJURY, DEATH, OR DAMAGE TO OR LOSS OF PROPERTY, ARISING OUT OF PARTICIPATION IN THE GIVEAWAY OR RECEIPT OR USE OR MISUSE OF ANY PRIZE. THE RELEASED PARTIES ARE NOT RESPONSIBLE FOR (1) ANY INCORRECT OR INACCURATE INFORMATION, WHETHER CAUSED BY PARTICIPANTS, PRINTING ERRORS OR BY ANY OF THE EQUIPMENT OR PROGRAMMING ASSOCIATED WITH OR UTILISED IN THE GIVEAWAY; (2) TECHNICAL FAILURES OF ANY KIND, INCLUDING, BUT NOT LIMITED TO MALFUNCTIONS, INTERRUPTIONS, OR DISCONNECTIONS IN PHONE LINES OR NETWORK HARDWARE OR SOFTWARE; (3) UNAUTHORISED HUMAN INTERVENTION IN ANY PART OF THE GIVEAWAY; (4) TECHNICAL OR HUMAN ERROR WHICH MAY OCCUR IN THE ADMINISTRATION OF THE GIVEAWAY; OR (5) ANY INJURY OR DAMAGE TO PERSONS OR PROPERTY WHICH MAY BE CAUSED, DIRECTLY OR INDIRECTLY, IN WHOLE OR IN PART, FROM THE PARTICIPANT'S PARTICIPATION IN THE GIVEAWAY OR RECEIPT OR USE OR MISUSE OF ANY PRIZE.</p>
	<p>If for any reason a participant's entry in the Giveaway is confirmed to have been erroneously deleted, lost, or otherwise destroyed or corrupted, the participant's sole remedy is another entry in the Giveaway, provided that if it is not possible to award another entry due to discontinuance of the Giveaway, or any part of it, for any reason, the Promoters, at their discretion, may elect to hold a random drawing from among all participants up to the date of discontinuance for any or all of the prizes offered herein. No more than the stated number of prizes will be awarded. In the event that production, technical, programming or any other reasons cause more than the stated number of prizes as set forth in these terms and conditions to be available and/or claimed the Promoters reserve the right to award only the stated number of prizes by a random drawing among all legitimate, unawarded, eligible prize claims. The Promoters reserve the right to cancel, amend or suspend the Giveaway at any time, with or without prior notice, including if the Giveaway encounters any unexpected problems.</p>
	<p>By participating, participants agree to abide by these terms and conditions and any decision the Promoters make regarding this Giveaway promotion (including awarding of any prize), which the Promoters shall make in their sole discretion. The Promoters reserve the right to disqualify and prosecute to the fullest extent permitted by law any participant or winner who, in the Promoters' reasonable suspicion, tampers the entry or Giveaway process, intentionally submits more than one entry, violates these terms and conditions, or acts in an unsportsmanlike or disruptive manner.</p>
	<p>British Airways, Lufthansa and United Airlines are not affiliated with SurrealDB or the Giveaway Promotion in any way.</p>
	<p>These terms and conditions and any dispute or claim (including non-contractual disputes or claims) arising out of or in connection with them are governed by English law . Any dispute arising out of or in connection with these terms and conditions, including non-contractual disputes or claims or any question regarding their existence, validity or termination, shall be referred to and finally resolved by arbitration under the arbitration rules of the London Court of International Arbitration (LCIA) (the "Rules"), which Rules are deemed to be incorporated by reference herein. The number of arbitrators shall be one. The seat, or legal place, of arbitration shall be London, England and the language to be used in the arbitral proceedings shall be English. The governing law of the arbitration agreement shall be the substantive law of England.</p>
	<p>Individuals may request the names of winners by submitting a self-addressed stamped envelope prior to October 31, 2023 to SurrealDB Ltd Giveaway Winner Request, SurrealDB Ltd, Huckletree Oxford Circus, 213 Oxford Street, London W1D 2LG, United Kingdom.</p>
</Layout::Text>

<Layout::Gap large />