{{#in-element (document-head) insertBefore=null}}
	<title>SurrealDB | Security Policy | The ultimate serverless cloud database</title>
	<meta name="title" property="og:title" content="SurrealDB | Security Policy">
	<meta name="description" content="SurrealDB is the ultimate database for tomorrow's serverless, jamstack, single-page, and traditional applications.">
	<meta name="image" property="og:image" content="/static/img/preview/roadmap.jpg">
	<meta property="og:type" content="website">
{{/in-element}}

<Layout::Gap small />

<Layout::Text text-l text-f>
	<h1>Security policy</h1>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-f text-l>
	<p>We understand how critical the protection of your data is, and we take the security of SurrealDB code, software, and cloud platform very seriously. If you believe you have found a security vulnerability in SurrealDB, we encourage you to <a href="mailto:security@surrealdb.com">let us know</a> right away. We will investigate all legitimate reports and do our best to quickly fix the problem.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-f text-l>
	<h3>Need to report a vulnerability?</h3>
	<p>We would like to keep SurrealDB safe and secure for everyone. Please report any issues or vulnerabilities to <a href="mailto:security@surrealdb.com">security@surrealdb.com</a>, instead of posting a public issue in GitHub. If you have discovered a security vulnerability we would greatly appreciate your help in disclosing it to us in a responsible manner. Publicly disclosing a vulnerability can put the entire SurrealDB community at risk.</p>
	<p>When submitting a security vulnerability, please include the SurrealDB version identifier, by running <code>surreal version</code> on the command-line, and details on how the vulnerability can be exploited. We will work with you to assess and understand the scope of the issue and fully address any concerns. Any emails are immediately sent to our engineering staff to ensure that issues are addressed rapidly. Any security emails are treated with the highest priority as the safety and security of our service is our primary concern.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-f text-l>
	<h3>Physical security</h3>
	<p>SurrealDB Cloud services are hosted on Google Cloud Computing and Amazon Web Services. The data centres are staffed 24x7x365 by security guards, and access is authorised strictly on a least privileged basis.</p>
	<p>Both cloud hosting providers are certified with the <em>ISO 9001:2008</em>, <em>ISO 27001:2013</em>, <em>ISO 27017:2015</em>, and <em>ISO 27018:2014</em> security standards - global standards that outline the requirements for information security management systems. This requires that the hosting provider must systematically evaluate its information security risks, taking into account the impact of company threats and vulnerabilities; must design and implement a comprehensive suite of information security controls and other forms of risk management to address company and architecture security risks; and adopt an overarching management process to ensure that the information security controls meet the information security needs on an ongoing basis. In addition, both hosting providers are certified at <em>PCI DSS Level 1</em>, which means that the application is run on the PCI-compliant technology infrastructure for storing, processing, and transmitting credit card information in the cloud.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-f text-l>
	<h3>Perimeter security</h3>
	<p>Access to perimeter devices, servers and network hardware is permitted only from defined IP addresses over secure private and public key authentication mechanisms with encryption, or through virtual private networks (VPN) gateways. Access to all servers is secured using automatically-rotating private and public key pairs. All data is encrypted when in transit preventing man-in-the-middle attacks and data snatching.</p>
	<p>All servers are tested for vulnerability and intrusion detection quarterly. Security patches and upgrades are applied weekly. The servers and services hosted on them are certified as complying with the PCI Data Security Standard established by the PCI Security Standards Council, which is an open global forum for the development, enhancement, storage, dissemination and implementation of security standards for account data protection. The certification confirms that the services adhere to the <em>PCI DSS Level 4</em> requirements for security management, policies, procedures, network architecture, software design and other critical protective measures.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-f text-l>
	<h3>Network security</h3>
	<p>The system is designed with scalability and redundancy in mind. Web load balancers and database servers are distributed globally across geographically dispersed data centres, in different operating regions. Database servers are synced across three geographically dispersed data centres, with multi data centre replication.</p>
	<p>A single anycast IP address routes all global requests to the desired data centre region, providing cross-region load balancing, and automatic multi-region failover which gently re-routes traffic if backends become unhealthy. Data enters the hosting network through 80+ distinct global load balancing locations, maximizing the distance traveled on the internal network.</p>
	<p>Each database server has its own firewall configuration based on its role within the SurrealDB Cloud platform, and only the necessary ports are opened on each server. All outbound connections pass through the stateless access control rules, whilst inbound connections from the internet must pass through a secure highly-available loadbalancer layer, and the stateless access control firewall rules, before then being routed to each server.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-f text-l>
	<h3>Software security</h3>
	<p>We take the security of the SurrealDB code very seriously. The database is built using the <Link @link="https://www.rust-lang.org">Rust language</Link> - a static multiparadigm, memory-efficient, low-level programming language, focused on speed, security, and performance. The intention is to build SurrealDB with as few moving parts as possible, thereby keeping the attack vector as low as possible.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-f text-l>
	<h3>Email security</h3>
	<p>SurrealDB supports TLS encryption on all inbound and outbound email. SurrealDB uses <Link @link="https://gmail.com">Gmail</Link> to provide email and communication services. For an explanation of how email encryption works, take a look at <Link @link="https://support.google.com/transparencyreport/answer/7381230">this overview from Google</Link>.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-f text-l>
	<h3>Data residency</h3>
	<p>On SurrealDB Cloud, the location of data can be specified. Locations may include London, Ireland, Belgium, Germany, Switzerland, North America, South America, Australia, Canada, or Singapore. Data will not be moved or replicated outside of a specified location.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-f text-l>
	<h3>Data in transit</h3>
	<p>All data is encrypted when it is being transmitted between client devices and SurrealDB Cloud. SSL/TLS certificates shield data using <strong>2048 bit</strong> keys and <strong>256 byte</strong> signatures and in certain cases <strong>4096 bit</strong> keys and <strong>256 byte</strong> signatures. All data transmitted from Content Delivery Network (CDN) servers are protected using <strong>2048 bit</strong> keys and <strong>256 byte</strong> signatures. All connections to Content Delivery Network (CDN) servers and the database layer are secured using <em>TLSv1.3</em>. All TLS/SSL keys for client-to-server communication are changed on an annual basis.</p>
	<p>Communications between servers in a database cluster are secured using <em>TLSv1.3</em>.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-f text-l>
	<h3>Data at rest</h3>
	<p>When at rest, all files are encrypted at multiple different levels. On the storage disk level, all data is encrypted using the <em>256 bit Advanced Encryption Standard (AES-256)</em>, with automatically rotating keys. In the database, each key-value is encrypted separately using the <em>256 bit Advanced Encryption Standard (AES-256)</em> before being stored in persistent storage. Passwords are stored using <em>pbkdf2</em>, <em>bcrypt</em>, <em>scrypt</em>, or <em>argon2</em> hashing algorithms.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-f text-l>
	<h3>Data backup</h3>
	<p>All data is historically stored at the database level, allowing for access and querying of data and changes made at any time. Full-snapshot backups of the SurrealDB Cloud platform (both current and historical) are performed nightly, and backup data is stored offsite, in an encrypted format using the <em>256 bit Advanced Encryption Standard (AES-256)</em>.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-f text-l>
	<h3>Authentication</h3>
	<p>All access to the services is authenticated using <em>JSON Web Tokens (JWT)</em> digitally signed using the <em>HMAC SHA512</em> or <em>RSA SHA512</em> hashing algorithms. All highly-sensitive data such as passwords are stored using a one-way encryption technique. All passwords are salted, before being stored in the database using <em>pbkdf2</em>, <em>bcrypt</em>, <em>scrypt</em>, or <em>argon2</em> hashing algorithms, and recomputed multiple times. All access is logged against IP addresses and geolocation regions. Authentication can be locked to particular IP Addresses.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-f text-l>
	<h3>Security incidents</h3>
	<p>Security incidents and downtime incidents are reported to an <Link @link="https://status.surrealdb.com">online status page</Link> as soon as incident information is available.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-f text-l>
	<h3>Contact us</h3>
	<p>Have a question, concern, or comment about SurrealDB security? Please contact <a href="mailto:security@surrealdb.com">SurrealDB Support</a>.</p>
</Layout::Text>

<Layout::Gap large />