<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.functions">Functions</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.functions.script">Scripting functions</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.functions.script.arguments">Function arguments</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
	<h3>Function arguments</h3>
	<p>Additional arguments can be passed in to the function from SurrealDB, and these are accessible as an array using the <code>arguments</code> object within the JavaScript function.</p>
	<Code @name="docs-surrealql-functions-script-arguments.surql">
		-- Create a new parameter
		LET $value = "SurrealDB";
		-- Create a new parameter
		LET $words = ["awesome", "advanced", "cool"];
		-- Pass the parameter values into the function
		CREATE article SET summary = function($value, $words) {
			const [value, words] = arguments;
			return `${value} is ${words.join(', ')}`;
		};
	</Code>
</Layout::Text>

<Layout::Gap large />