<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.functions">Functions</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.functions.script">Scripting functions</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.functions.script.context">Function context</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Function context</h2>
	<p>Embedded scripting functions inherit the context in which they are ran in. The <code>this</code> context of every embedded function is automatically set to the current document on every invocation. This allows the function to access the properties and fields of the current record being accessed / modified.</p>
	<Code @name="docs-surrealql-functions-script-context.surql">
		CREATE film SET
			ratings = [
				{ rating: 6, user: user:bt8e39uh1ouhfm8ko8s0 },
				{ rating: 8, user: user:bsilfhu88j04rgs0ga70 },
			],
			featured = function() {
				return this.ratings.filter(
					({ rating }) => rating >= 7
				).map(({ rating }) => {
					return {
						...rating,
						rating: rating * 10
					};
				});
			}
		;
	</Code>
</Layout::Text>

<Layout::Gap large />