<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.functions">Functions</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.functions.script">Scripting functions</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Embedded scripting functions</h2>
	<p>SurrealDB allows for advanced functions with complicated logic, by allowing embedded functions to be written in JavaScript. These functions support the ES2020 JavaScript specification.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Simple functions</h3>
	<p>Embedded JavaScript functions within SurrealDB support all functionality in the ES2020 specification including async / await functions, and generator functions. Any value from SurrealDB is converted into a JavaScript type automatically, and the return value from the JavaScript function is converted to a SurrealDB value.</p>
	<Code @name="docs-surrealql-functions-script-simple.surql">
		CREATE person SET scores = function() {
			return [1,2,3].map(v => v * 10);
		};
	</Code>
</Layout::Text>

<Layout::Gap mini />

<Layout::Boxes cols-3-to-2-to-1>
	<LinkTo @route="docs.surrealql.functions.script.arguments">
		<Layout::Boxes::Item mini hover>
			<h4>Function arguments</h4>
			<p>Pass arguments to embedded scripting functions, and access them.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.functions.script.context">
		<Layout::Boxes::Item mini hover>
			<h4>Function context</h4>
			<p>Access properties from the current document.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.functions.script.type-conversion">
		<Layout::Boxes::Item mini hover>
			<h4>Type conversion</h4>
			<p>Type conversion between the JavaScript runtime and SurrealQL.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.functions.script.surrealql-functions">
		<Layout::Boxes::Item mini hover>
			<h4>SurrealQL function</h4>
			<p>Access native SurrealQL function within the embedded scripting functions.</p>
		</Layout::Boxes::Item>
	</LinkTo>
</Layout::Boxes>

<Layout::Gap large />