<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.functions">Functions</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.functions.script">Scripting functions</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.functions.script.surrealql-functions">SurrealQL functions</Crumb::Item>
</Crumb>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Native SurrealQL functions</h3>
	<p>Embedded scripting functions have access to embedded scripting functions, allowing for complex and performant operations otherwise not possible. SurrealQL functions are published under the <code>surrealdb.functions</code> variable. Custom functions are not available within the embedded JavaScript function at the moment.</p>
	<Code @name="docs-surrealql-functions-script-surrealql-functions.surql">
		RETURN function() {
			// Using the rand::uuid::v4() function
			const uuid = surrealdb.functions.rand.uuid.v4();
		};
	</Code>
</Layout::Text>

<Layout::Gap large />