<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.functions">Functions</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.functions.script">Scripting functions</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.functions.script.type-conversion">Type conversion</Crumb::Item>
</Crumb>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Type conversion</h3>
	<p>Any value from SurrealDB is converted into a JavaScript type automatically, and the return value from the JavaScript function is converted to a SurrealQL value. Boolean values, Integers, Floats, Strings, Arrays, Objects, and Date objects are all converted automatically to and from SurrealQL values.</p>
	<Code @name="docs-surrealql-functions-script-types-date.surql">
		CREATE user:test SET created_at = function() {
			return new Date();
		};
	</Code>
	<p>In addition, a number of special classes are included within the JavaScript functions for the additional types which are not built into JavaScript. These enable the creation of <Link @link="docs.surrealql.datamodel.simple"><code>duration</code></Link> values, <Link @link="docs.surrealql.datamodel.records"><code>record</code></Link> values, and <Link @link="docs.surrealql.datamodel.simple"><code>UUID</code></Link> values from within JavaScript.</p>
	<p>Any values of these types passed into embedded scripting functions are also represented with these special classes.</p>
	<Code @name="docs-surrealql-functions-script-types-classes.surql">
		CREATE user:test SET
			session_timeout = function() {
				return new Duration('1w');
			},
			best_friend = function() {
				return new Record('user', 'joanna');
			},
			identifier = function() {
				return new Uuid('03412258-988f-47cd-82db-549902cdaffe');
			}
		;
	</Code>
</Layout::Text>

<Layout::Gap large />