<Meta::Tags>
	<link rel="canonical" href="/features" />
</Meta::Tags>

<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.introduction">Introduction</Crumb::Item>
	<Crumb::Item @link="docs.introduction.features">Features</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Features</h2>
	<p>SurrealDB has been built from the ground up to be the ultimate database for developers who want to build tomorrow's applications. On this page you can find information regarding many of the features which are built into SurrealDB, alongside features and ideas which are planned for future releases of SurrealDB.</p>
</Layout::Text>

<Layout::Gap mini />

<Section::Features />

<Layout::Gap large />