<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.introduction">Introduction</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Introduction</h2>
	<p>Understand the core concepts that make up SurrealDB, the features which are built into SurrealDB, or coming in the future, changelogs and notes for the different SurrealDB release versions, and frequently asked questions regarding SurrealDB.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Boxes cols-3-to-2-to-1>
	<LinkTo @route="docs.introduction.start">
		<Layout::Boxes::Item mini hover>
			<h4>Quick start</h4>
			<p>Getting up-and-running on SurrealDB is intended to be fast and easy. View this guide to get started quickly.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.introduction.concepts">
		<Layout::Boxes::Item mini hover>
			<h4>Concepts</h4>
			<p>Get an overview of the different concepts and terminologies which make up SurrealDB.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.introduction.features">
		<Layout::Boxes::Item mini hover>
			<h4>Features</h4>
			<p>View a summary of all of the features built into SurrealDB, alongside those fueatures planned.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.introduction.releases">
		<Layout::Boxes::Item mini hover>
			<h4>Releases</h4>
			<p>View the release notes, new additions, fixes, and improvements for the different versions of SurrealDB.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.introduction.questions">
		<Layout::Boxes::Item mini hover>
			<h4>Questions</h4>
			<p>View some of the frequently asked questions regarding SurrealDB, SurrealQL, and SurrealKV.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.introduction.architecture">
		<Layout::Boxes::Item mini hover>
			<h4>Architecture</h4>
			<p>Find details regarding the design choices, limits and architecture decisions that make up SurrealDB.</p>
		</Layout::Boxes::Item>
	</LinkTo>
</Layout::Boxes>

<Layout::Gap large />