<Meta::Tags>
	<link rel="canonical" href="/releases" />
</Meta::Tags>

<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.introduction">Introduction</Crumb::Item>
	<Crumb::Item @link="docs.introduction.releases">Releases</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Releases</h2>
	<p>SurrealDB has been built from the ground up to be the ultimate database for developers who want to build tomorrow's applications. On this page you can view the release notes for the different historic versions of SurrealDB, and for imminent future releases.</p>
</Layout::Text>

<Layout::Gap mini />

<Section::Releases />

<Layout::Gap large />