<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.installation">Installation</Crumb::Item>
	<Crumb::Item @link="docs.installation.running.file">Run a single-node, on-disk server</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>

	<h2>Run a single-node, on-disk server</h2>

	<p>For the purposes of getting started with SurrealDB quickly, we will start an in-memory database which does not persist data on shutdown. This database is great for development and testing.</p>

	<Code @name="docs-installation-running-file-1.shell">
		user@localhost % surreal start file:mydatabase.db
	</Code>

	<p>The default logging level for the database server is <code>info</code>, resulting in any informational logs to be output to the standard output. To control the logging verbosity, specify the <Ascua::Prism::Inline @language="bash" @code="--log" /> argument. The following command starts the database with <code>trace</code> level logging, resulting in most logs being output to the terminal.</p>

	<Code @name="docs-installation-running-file-2.shell">
		user@localhost % surreal start --log trace file:mydatabase.db
	</Code>

	<p>In order to keep SurrealDB secure, the database disables root-level authentication if a password is not set. To set a root-level authentication login, use the <Ascua::Prism::Inline @language="bash" @code="--user" /> and <Ascua::Prism::Inline @language="bash" @code="--pass" /> command-line arguments. The following command starts the database with a top-level user named <code>root</code> with a password also set to <code>root</code>.</p>

	<Code @name="docs-installation-running-file-3.shell">
		user@localhost % surreal start --log trace --user root --pass root file:mydatabase.db
	</Code>

	<p>In order to change the default port that SurrealDB uses for web connections and from database clients you can use the <Ascua::Prism::Inline @language="bash" @code="--bind" /> argument. The following command starts the database on port <code>8080</code>.</p>

	<Code @name="docs-installation-running-file-4.shell">
		user@localhost % surreal start --log trace --user root --pass root --bind 0.0.0.0:8080 memory
	</Code>

	<p>After running the above command, you should see the SurrealDB server startup successfully.</p>

	<Code @name="docs-installation-running-file-5.shell">
		user@localhost % surreal start --log trace --user root --pass root --bind 0.0.0.0:8080 file:mydatabase.db
		[2023-04-03 08:45:42] INFO  surrealdb::iam Root authentication is enabled
		[2023-04-03 08:45:42] INFO  surrealdb::iam Root username is 'root'
		[2023-04-03 08:45:42] INFO  surrealdb::dbs Database strict mode is disabled
		[2023-04-03 08:45:42] INFO  surrealdb::kvs Starting kvs store in file:mydatabase.db
		[2023-04-03 08:45:42] INFO  surrealdb::kvs Started kvs store in file:mydatabase.db
		[2023-04-03 08:45:42] INFO  surrealdb::net Starting web server on 0.0.0.0:8080
		[2023-04-03 08:45:42] INFO  surrealdb::net Started web server on 0.0.0.0:8080
	</Code>

	<p>For details on the <Link @link="docs.cli.start"><Ascua::Prism::Inline @language="bash" @code="start" /></Link> command, and all of the available configuration options and arguments, view the <Link @link="docs.cli.start">start command documentation</Link>.</p>

</Layout::Text>

<Layout::Gap large />