<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.installation">Installation</Crumb::Item>
	<Crumb::Item @link="docs.installation.running.memory">Run a single-node, in-memory server</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>

	<h2>Run a single-node, in-memory server</h2>

	<p>For the purposes of getting started with SurrealDB quickly, we will start an in-memory database which does not persist data on shutdown. This database is great for development and testing.</p>

	<Code @name="docs-installation-running-memory-1.shell">
		user@localhost % surreal start memory
	</Code>

	<p>The default logging level for the database server is <code>info</code>, resulting in any informational logs to be output to the standard output. To control the logging verbosity, specify the <Ascua::Prism::Inline @language="bash" @code="--log" /> argument. The following command starts the database with <code>trace</code> level logging, resulting in most logs being output to the terminal.</p>

	<Code @name="docs-installation-running-memory-2.shell">
		user@localhost % surreal start --log trace memory
	</Code>

	<p>In order to keep SurrealDB secure, enable auth and configure your initial root-level user by setting the <Ascua::Prism::Inline @language="bash" @code="--user" /> and <Ascua::Prism::Inline @language="bash" @code="--pass" /> command-line arguments. The following command starts the database with a top-level user named <code>root</code> with a password also set to <code>root</code>.</p>

	<Code @name="docs-installation-running-memory-3.shell">
		user@localhost % surreal start --log trace --auth --user root --pass root memory
	</Code>

	<p>The previous command will bootstrap the server with the provided initial credentials, you can now remove those args and rely on <Link @link="docs.surrealql.statements.define.user">DEFINE USER</Link> to change the password or create more users.</p>

	<Code @name="docs-installation-running-memory-3.shell">
		user@localhost % surreal start --log trace --auth memory
	</Code>

	<p>In order to change the default port that SurrealDB uses for web connections and from database clients you can use the <Ascua::Prism::Inline @language="bash" @code="--bind" /> argument. The following command starts the database on port <code>8080</code>.</p>

	<Code @name="docs-installation-running-memory-4.shell">
		user@localhost % surreal start --log trace --user root --pass root --bind 0.0.0.0:8080 memory
	</Code>

	<p>After running the above command, you should see the SurrealDB server startup successfully.</p>

	<Code @name="docs-installation-running-memory-5.shell">
		user@localhost % surreal start --user root --pass root --bind 0.0.0.0:8080 memory
		2023-08-30T15:06:34.788739Z  INFO surreal::dbs: ✅🔒 Authentication is enabled 🔒✅
		2023-08-30T15:06:34.788821Z  INFO surrealdb::kvs::ds: Starting kvs store in memory
		2023-08-30T15:06:34.788859Z  INFO surrealdb::kvs::ds: Started kvs store in memory
		2023-08-30T15:06:34.789222Z  INFO surrealdb::kvs::ds: Initial credentials were provided and no existing root-level users were found: create the initial user 'root'.
		2023-08-30T15:06:35.205123Z  INFO surrealdb::node: Started node agent
		2023-08-30T15:06:35.205827Z  INFO surrealdb::net: Started web server on 0.0.0.0:8080
	</Code>

	<p>For details on the <Link @link="docs.cli.start"><Ascua::Prism::Inline @language="bash" @code="start" /></Link> command, and all of the available configuration options and arguments, view the <Link @link="docs.cli.start">start command documentation</Link>.</p>

</Layout::Text>

<Layout::Gap large />
