<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.embedding">Installation</Crumb::Item>
	<Crumb::Item @link="docs.embedding.python">Embedding in Python</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
	<h2><Devicon @size="50" @type="python" /> Embedding in Python</h2>
	<p>SurrealDB is designed to be run in many different ways, and environments. Due to the <Link @link="docs.introduction.architecture">separation of the storage and compute</Link> layers, SurrealDB can be run in embedded mode, from within a number of different language environments. In Python, SurrealDB can be run as an in-memory database, or it can persist data using a file-based storage engine. The documentation for embedding SurrealDB within Python has not yet been released. In the meantime, please refer to the <Link @link="docs.integration.libraries.python">Python</Link> client library documentation to get started with connecting to SurrealDB from Python.</p>
	<p>To contribute to this documentation, <Link @link={{github}}>edit this file on GitHub</Link>.</p>
</Layout::Text>

<Layout::Gap large />