<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.functions">Functions</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Functions</h2>
	<p>SurrealDB comes with a large number of in-built functions for checking, manipulating, and working with many different types of data. These functions are grouped into a number of different packages, which can be seen below. </p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Boxes cols-3-to-2-to-1>
	<LinkTo @route="docs.surrealql.functions.array">
		<Layout::Boxes::Item mini hover>
			<h4>Array functions</h4>
			<p>Functions for working with and manipulating arrays of data</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.functions.count">
		<Layout::Boxes::Item mini hover>
			<h4>Count function</h4>
			<p>Function for counting fields, and expressions</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.functions.crypto">
		<Layout::Boxes::Item mini hover>
			<h4>Crypto functions</h4>
			<p>Functions for data hashing, encryption, and authentication</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.functions.duration">
		<Layout::Boxes::Item mini hover>
			<h4>Duration functions</h4>
			<p>Functions for working with and converting to and from durations</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.functions.geo">
		<Layout::Boxes::Item mini hover>
			<h4>Geo functions</h4>
			<p>Functions for working with and analysing geospatial data</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.functions.http">
		<Layout::Boxes::Item mini hover>
			<h4>HTTP functions</h4>
			<p>Functions for opening and submitting remote web requests</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.functions.math">
		<Layout::Boxes::Item mini hover>
			<h4>Math functions</h4>
			<p>Functions for mathematical operations and numeric analysis</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.functions.meta">
		<Layout::Boxes::Item mini hover>
			<h4>Meta functions</h4>
			<p>Functions for working with SurrealDB Record IDs</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.functions.parse">
		<Layout::Boxes::Item mini hover>
			<h4>Parse functions</h4>
			<p>Functions for parsing email addresses and URLs</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.functions.rand">
		<Layout::Boxes::Item mini hover>
			<h4>Rand functions</h4>
			<p>Functions for generating random data values</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.functions.search">
		<Layout::Boxes::Item mini hover>
			<h4>Search functions</h4>
			<p>Functions related to the full-text search capabilities</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.functions.session">
		<Layout::Boxes::Item mini hover>
			<h4>Session functions</h4>
			<p>Functions for retrieving information about the user session</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.functions.sleep">
		<Layout::Boxes::Item mini hover>
			<h4>Sleep function</h4>
			<p>Function for delaying or pausing the execution of a query</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.functions.string">
		<Layout::Boxes::Item mini hover>
			<h4>String functions</h4>
			<p>Functions for working with and manipulating string values</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.functions.time">
		<Layout::Boxes::Item mini hover>
			<h4>Time functions</h4>
			<p>Functions for working with and manipulating datetime values</p>
		</Layout::Boxes::Item>
	</LinkTo>
    <LinkTo @route="docs.surrealql.functions.type">
		<Layout::Boxes::Item mini hover>
			<h4>Type functions</h4>
			<p>Functions for generating and ensuring specific data types</p>
		</Layout::Boxes::Item>
	</LinkTo>
    <LinkTo @route="docs.surrealql.functions.script">
		<Layout::Boxes::Item mini hover>
			<h4>Scripting functions</h4>
			<p>Use JavaScript to create advanced functions with complex logic</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.functions.vector">
		<Layout::Boxes::Item mini hover>
			<h4>Vector functions</h4>
			<p>Functions for key vector operations integral to numerical computation, machine learning, and data analysis.</p>
		</Layout::Boxes::Item>
	</LinkTo>
</Layout::Boxes>

<Layout::Gap large />
