<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.functions">Functions</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.functions.meta">Meta functions</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Meta functions</h2>
	<p>These functions can be used to retrieve specific metadata from a SurrealDB Record ID.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Table filled>
	<table>
		<thead>
			<tr>
				<th w-40>Function</th>
				<th w-60>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<a href="#id">
						<code>meta::id()</code>
					</a>
				</td>
				<td>Extracts and returns the table id from a SurrealDB Record ID</td>
			</tr>
			<tr>
				<td>
					<a href="#tb">
						<code>meta::tb()</code>
					</a>
				</td>
				<td>Extracts and returns the table name from a SurrelDB Record ID</td>
			</tr>
		</tbody>
	</table>
</Layout::Table>

<Layout::Gap small />

<Layout::Group {{waypoint "id"}}>

	<Layout::Text text-l text-f>
		<h3><code>meta::id</code></h3>
		<p>The <code>meta::id</code> function extracts and returns the table id from a SurrealDB Record ID.</p>
		<Code @name="docs-surrealql-functions-meta-id.sql" text="API Definition">
			meta::id() -> value
		</Code>
		<p>The following example shows this function, and its output, when used in a select statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-meta-id-input.sql">
				SELECT * FROM meta::id(person:tobie);
			</Code>
			<Code @name="docs-surrealql-functions-meta-id-result.txt">
				"tobie"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "tb"}}>

	<Layout::Text text-l text-f>
		<h3><code>meta::tb</code></h3>
		<p>The <code>meta::tb</code> function extracts and returns the table name from a SurrelDB Record ID.</p>
		<Code @name="docs-surrealql-functions-meta-tb.sql" text="API Definition">
			meta::tb() -> string
		</Code>
		<p>The following example shows this function, and its output, when used in a select statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-meta-tb-input.sql">
				SELECT * FROM meta::tb(person:tobie);
			</Code>
			<Code @name="docs-surrealql-functions-meta-tb-result.txt">
				"person"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap large />