<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.functions">Functions</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.functions.sleep">Sleep function</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Sleep function</h2>
	<p>The SLEEP function is used to introduce a delay or pause in the execution of a query or a batch of queries for a specific amount of time.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Table filled>
	<table>
		<thead>
			<tr>
				<th w-40>Function</th>
				<th w-60>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<a href="#sleep">
						<code>sleep()</code>
					</a>
				</td>
				<td>Delays or pauses in the execution of a query or a batch of queries.</td>
			</tr>
		</tbody>
	</table>
</Layout::Table>

<Layout::Gap small />

<Layout::Group {{waypoint "sleep"}}>

	<Layout::Text text-l text-f>
		<h3><code>sleep</code></h3>
		<p>The <code>sleep</code> function delays or pauses the execution of a query or a set of statements.</p>
		<Code @name="docs-surrealql-functions-sleep.sql" text="API Definition">
			sleep(duration) -> none
		</Code>
		<p>The following examples show this function when used in a select statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-sleep-1s.sql">
				SELECT * FROM sleep(1s);
			</Code>
			<Code @name="docs-surrealql-functions-sleep-500ms.sql">
				SELECT * FROM sleep(500ms);
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap mini />

<Layout::Text text-l text-f>
    <h3>See also</h3>
    <p>Alternatively you may want to use the <LinkTo @route="docs.surrealql.statements.sleep"><code>SLEEP</code></LinkTo> statement.</p>
</Layout::Text>


<Layout::Gap large />