{{#in-element (document-head) insertBefore=null}}
	<title>SurrealDB | Page not found</title>
	<meta name="title" property="og:title" content="SurrealDB | Page not found">
	<meta name="description" content="The page you requested could not be found.">
	<meta property="og:type" content="article">
{{/in-element}}

<Layout::Gap small />

<Layout::Text>
	<h1>Oops we couldn't find that page</h1>
	<p>Use the menu to the top and bottom of the site to find the desired page.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Image as |block|>
	<img src="/static/img/blog/main.png" alt="SurrealDB Blog coming soon" />
</Layout::Image>