<Meta::Tags
	@title="SurrealDB | About Us"
	@description="We have led and delivered large-scale software and design projects in multiple startups and high-growth environments."
/>

<Layout::Hero @logo={{true}}>
	<h1>
		<img inline src="/static/img/text.svg" alt="SurrealDB" />
		<br>
		[S<span class="italic">uh</span>-ree-<span class="italic">uh</span>l];
		<br>
		unreal, fantastic
	</h1>
	<p>
		SurrealDB is a powerful multi-model database, built for the cloud, and designed to improve the development
		process of traditional and modern applications. SurrealDB’s premise is that developers should be able to build
		secure, modern, collaborative applications without needing to build complicated backend APIs and database
		layers, and without being forced into using a single data model or cloud platform.
	</p>
</Layout::Hero>

<section>

	<Layout::Gap small />

	<Layout::Text text-l>
		<h2>Team</h2>
	</Layout::Text>

	<Layout::Gap mini />

	<Layout::Blocks cols-1 as |block|>
		<block>
			<p>
				We have led and delivered large-scale software and design projects in multiple startups and high-growth
				environments.
			</p>
		</block>
	</Layout::Blocks>

	<Layout::Gap mini />

	<Layout::Blocks cols-2-to-1 as |block|>
		<block>
			<img src="/static/img/tobie.png" width="100px" height="115px" alt="Tobie" />
			<br><br>
			<h4 flex row middle>
				Tobie Morgan Hitchcock
			</h4>
			<p>
				<li>University of Oxford, Software Engineering, MSc.</li>
				<li>
					Distinction Masters Thesis focused on highly-performant key-value data stores for use within graph
					databases and SurrealDB.
				</li>
				<li>
					15 years’ experience as a full-stack engineer architecting, and developing, advanced cloud
					applications with a focus on distributed databases and highly-available architectures.
				</li>
			</p>
			<a href="https://www.linkedin.com/in/tobiemorganhitchcock/" rel="noopener noreferrer" target="_blank">
				<Ascua::Tooltip @side="n" @show="hover" @hide="hover">
					Connect with Tobie on LinkedIn
				</Ascua::Tooltip>
				<i class="fab fa-linkedin font-20 m-r-10"></i>
			</a>
			<a href="https://twitter.com/tobiemh" rel="noopener noreferrer" target="_blank">
				<Ascua::Tooltip @side="n" @show="hover" @hide="hover">
					Follow Tobie on Twitter
				</Ascua::Tooltip>
				<i class="fab fa-twitter font-20 m-r-10"></i>
			</a>
		</block>
		<block>
			<img src="/static/img/jaime.png" width="100px" height="115px" alt="Jaime" />
			<br><br>
			<h4 flex row middle>
				Jaime Morgan Hitchcock
			</h4>
			<p>
				<li>16 years’ experience in user-interface design and development.</li>
				<li>Board director of British Paralympic Table Tennis UK National Governing Body, with 6 years’ experience managing large teams of people and international events.</li>
				<li>Produced and effected the brand, marketing, and social growth of SurrealDB.</li>
			</p>
			<a href="https://www.linkedin.com/in/jaimemorganhitchcock/" rel="noopener noreferrer" target="_blank">
				<Ascua::Tooltip @side="n" @show="hover" @hide="hover">
					Connect with Jaime on LinkedIn
				</Ascua::Tooltip>
				<i class="fab fa-linkedin font-20 m-r-10"></i>
			</a>
			<a href="https://twitter.com/jaimemhitchcock" rel="noopener noreferrer" target="_blank">
				<Ascua::Tooltip @side="n" @show="hover" @hide="hover">
					Follow Jaime on Twitter
				</Ascua::Tooltip>
				<i class="fab fa-twitter font-20 m-r-10"></i>
			</a>
		</block>
	</Layout::Blocks>

	<Layout::Gap small />

	<Layout::Line />

	<Layout::Gap small />

	<Layout::Blocks main-c as |block|>
		<h2>The <img inline src="/static/img/text.svg" alt="SurrealDB" /> journey</h2>
	</Layout::Blocks>

	<Layout::Gap mini />

	<Layout::Timeline>
		{{#each this.model as |item|}}
			<Layout::Timeline::Item @item={{item}} />
			<clear></clear>
		{{/each}}
		<img src="/static/img/assets/icon/halficon.png" alt="SurrealDB" />
	</Layout::Timeline>

</section>

<Layout::Github />