{{#in-element (document-head) insertBefore=null}}
	<title>Agencies | BrandSafe | The easiest-to-use Digital Asset Management system</title>
	<meta name="title" property="og:title" content="Agencies | The easiest-to-use Digital Asset Management system">
	<meta name="description" content="A time- and money-saving system which enables design or marketing agencies to do their job more easily.">
	<meta name="description" property="og:description" content="A time- and money-saving system which enables design or marketing agencies to do their job more easily.">
	<meta name="image" property="og:image" content="/static/img/preview/main.jpg">
	<meta property="og:type" content="website">
{{/in-element}}

<MainTitle>
	<h1>
		A win-win product
	</h1>
	<h2>
		A time- and money-saving system which enables design or marketing agencies to do their job more easily.
	</h2>
	<BoxButton white @link="contact" @text="Book a demo" />
</MainTitle>

<WhatWeDo>
	<h1>
		If you are an agency which carries out design services, or produces marketing items, for clients, you will be aware that there can be many frustrating issues which have to be dealt with. Brand inconsistencies between departments or franchises, staff (yours or your client’s) re-inventing the wheel when it comes to creating items within brand guidelines, multiple access locations of brand items, use of out-of-date versions, use of unauthorised images, use of incorrect fonts or colours, requesting and receiving sign-off approval from multiple people … the list is endless.
	</h1>
</WhatWeDo>

<content>
	<WhoWalkThrough @side="r" @num="1" @img="/static/img/agencies/agencies1@2x.jpg" @title="Manage client assets" @text="Create a BrandSafe hub for all the relevant departments within your client organisation (including franchises), so that you and they can access all brand elements in one location." />
	<WhoWalkThrough @side="l" @num="1" @img="/static/img/agencies/agencies2@2x.jpg" @title="Ready-to-use variants" @text="Place frequently-used items such as logos in a variety of sizes and types, for use in a multitude of ways in brochures, marketing materials, social media, website." />
	<WhoWalkThrough @side="r" @num="1" @img="/static/img/agencies/agencies3@2x.jpg" @title="Access and permissions" @text="Enable clearly-defined permissions to be established, so that only certified users can access certain items - and establish whether they can see, or edit, each item." />
	<clear></clear>
	<WhoWalkThrough @side="l" @num="1" @img="/static/img/agencies/agencies4@2x.jpg" @title="Approval and sign-off" @text="Set up work-flow patterns which define what needs approval, at what stage, and by whom." />
	<WhoWalkThrough @side="r" @num="1" @img="/static/img/agencies/agencies5@2x.jpg" @title="Templated documents" @text="Create print or digital templates for client employees to use - with sections enabled for controlled personalisation, using the correct fonts, sizes, and colours." />
	<WhoWalkThrough @side="l" @num="1" @img="/static/img/agencies/agencies6@2x.jpg" @title="Great presentations" @text="Create exciting branded templates for presentations which don’t break all the rules about amount of text and poor imagery." />
	<clear></clear>
</content>

<BookADemo></BookADemo>