<Meta::Tags>
	<title>SurrealDB | Management application</title>
	<meta name="title" property="og:title" content="SurrealDB | Management application">
	<meta name="description" content="The SurrealDB management application is coming soon. In the meantime view the documentation.">
</Meta::Tags>

<Layout::Gap small />

<Layout::Text>
	<h1><img inline src="/static/img/text.svg" alt="SurrealDB" /> Application</h1>
	<p>The SurrealDB management application is coming soon.<br>In the meantime to get started with SurrealDB, <Link @link="docs">view the documentation</Link>.</p>
	<p>An easy-to-use interface with support for table-based views, SurrealQL querying, embedded object editing, and graph visualisation. The interface will be embedded within every SurrealDB executable.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Blocks cols-1 as |block|>
	<block>
		<Layout::Image backed as |block|>
			<img src="/static/img/home/interface.png" alt="SurrealDB Application Interface" />
		</Layout::Image>
	</block>
</Layout::Blocks>

<Layout::Gap mini />

<Layout::Blocks cols-3-to-1 as |block|>
	<block>
		<h4 flex row middle>
			<i class="fab fa-chrome font-30 m-r-10"></i>
			Web app
			<l purple>Planned for 1.X</l>
		</h4>
		<p>The interface will be available as a web app, installed on every instance of SurrealDB, and can be used for connecting to SurrealDB Cloud, or a local or enterprise cluster.</p>
	</block>
	<block>
		<h4 flex row middle>
			<i class="fab fa-apple font-30 m-r-10"></i>
			macOS app
			<l purple>Planned for 1.X</l>
		</h4>
		<p>The interface will be available as an Tauri application for macOS. This can be used for connecting to SurrealDB Cloud, or a local or enterprise cluster.</p>
	</block>
	<block>
		<h4 flex row middle>
			<i class="fab fa-windows font-30 m-r-10"></i>
			Windows app
			<l purple>Planned for 1.X</l>
		</h4>
		<p>The interface will be available as an Tauri application for Windows. This can be used for connecting to SurrealDB Cloud, or a local or enterprise cluster.</p>
	</block>
</Layout::Blocks>

<Layout::Gap large />