{{#in-element (document-head) insertBefore=null}}
	<title>SurrealDB | About Us | The next generation serverless cloud database</title>
	<meta name="title" property="og:title" content="The next generation serverless cloud database">
	<meta name="description" content="SurrealDB is the next generation database for modern applications, with an SQL-style query language, real-time queries with highly-efficient related data retrieval, advanced security permissions for multi-tenant access, and support for performant analytical workloads, SurrealDB is the next generation serverless database.">
	<meta name="image" property="og:image" content="/static/img/preview/about.jpg">
	<meta property="og:type" content="website">
{{/in-element}}

<Layout::Gap small />

<Layout::Text text-l>
	<h1><img src="/static/img/text.svg" alt="SurrealDB" /> assets</h1>
	<p>For media inquires and more information, email us at <a href="mailto:info@surrealdb.com">info@surrealdb.com</a>.</p>
	<p>
		<a {{on "click" (scroll-into-view "#colours" smooth=true)}}>Colours</a>
		&bull;
		<a {{on "click" (scroll-into-view "#logosandicons" smooth=true)}}>Logos and icons</a>
		&bull;
		<a {{on "click" (scroll-into-view "#poweredby" smooth=true)}}>'Powered by' badges</a>
	</p>
</Layout::Text>

<Layout::Gap mini />

<section>

	<Layout::Text text-l id="colours">
		<h2>Colours</h2>
	</Layout::Text>

	<Layout::Gap mini />

	<Layout::Blocks cols-3-to-2 as |block|>
		<block>
			<div curved bg-ff00a0 w-100 h-60px m-b-20></div>
			<h4 flex row middle>#ff00a0</h4>
		</block>
		<block>
			<div curved bg-9600ff w-100 h-60px m-b-20></div>
			<h4 flex row middle>#9600ff</h4>
		</block>
		<block>
			<div curved bg-ffffff w-100 h-60px m-b-20></div>
			<h4 flex row middle>#ffffff</h4>
		</block>
		<block>
			<div curved bg-171a21 w-100 h-60px m-b-20></div>
			<h4 flex row middle>#171a21</h4>
		</block>
		<block>
			<div curved bg-222632 w-100 h-60px m-b-20></div>
			<h4 flex row middle>#222632</h4>
		</block>
		<block>
			<div curved bg-aeb8ca w-100 h-60px m-b-20></div>
			<h4 flex row middle>#aeb8ca</h4>
		</block>
	</Layout::Blocks>

	<Layout::Gap small />

	<Layout::Text text-l id="logosandicons">
		<h2>Logos and icons</h2>
	</Layout::Text>

	<Layout::Gap mini />

	<Layout::Blocks cols-3-to-2-to-1 as |block|>
		<block>
			<grid p-30 flex row center middle>
				<img max-h-60 src="/static/img/assets/logo/light.svg" />
			</grid>
			<a m-t-10 m-r-10 href="/static/img/assets/logo/light.svg" download="surrealdb-logo-light">
				<i class="fal fa-cloud-download"></i> SVG
			</a>
			<a m-t-10 m-r-10 href="/static/img/assets/logo/light.png" download="surrealdb-logo-light">
				<i class="fal fa-cloud-download"></i> PNG
			</a>
		</block>
		<block>
			<grid p-30 flex row center middle>
				<img max-h-60 src="/static/img/assets/logo/dark.svg" />
			</grid>
			<a m-t-10 m-r-10 href="/static/img/assets/logo/dark.svg" download="surrealdb-logo-dark">
				<i class="fal fa-cloud-download"></i> SVG
			</a>
			<a m-t-10 m-r-10 href="/static/img/assets/logo/dark.png" download="surrealdb-logo-dark">
				<i class="fal fa-cloud-download"></i> PNG
			</a>
		</block>
		<block>
			<grid p-30 flex row center middle>
				<img max-h-60 src="/static/img/assets/icon/icon.svg" />
			</grid>
			<a m-t-10 m-r-10 href="/static/img/assets/icon/icon.svg" download="surrealdb-icon">
				<i class="fal fa-cloud-download"></i> SVG
			</a>
			<a m-t-10 m-r-10 href="/static/img/assets/icon/icon.png" download="surrealdb-icon">
				<i class="fal fa-cloud-download"></i> PNG
			</a>
		</block>
	</Layout::Blocks>

	<Layout::Gap small />

	<Layout::Text text-l id="poweredby">
		<h2>'Powered by' badges</h2>
	</Layout::Text>

	<Layout::Gap mini />

	<Layout::Blocks cols-3-to-2-to-1 as |block|>
		<block>
			<grid p-30 flex row center middle>
				<img max-h-60 src="/static/img/assets/attr/light.svg" />
			</grid>
			<a m-t-10 m-r-10 href="/static/img/assets/attr/light.svg" download="poweredby-surrealdb-light">
				<i class="fal fa-cloud-download"></i> SVG
			</a>
			<a m-t-10 m-r-10 href="/static/img/assets/attr/light.png" download="poweredby-surrealdb-light">
				<i class="fal fa-cloud-download"></i> PNG
			</a>
		</block>
		<block>
			<grid p-30 flex row center middle>
				<img max-h-60 src="/static/img/assets/attr/dark.svg" />
			</grid>
			<a m-t-10 m-r-10 href="/static/img/assets/attr/dark.svg" download="poweredby-surrealdb-dark">
				<i class="fal fa-cloud-download"></i> SVG
			</a>
			<a m-t-10 m-r-10 href="/static/img/assets/attr/dark.png" download="poweredby-surrealdb-dark">
				<i class="fal fa-cloud-download"></i> PNG
			</a>
		</block>
	</Layout::Blocks>

</section>