{{#in-element (document-head) insertBefore=null}}
	<title>Commercial | BrandSafe | The easiest-to-use Digital Asset Management system</title>
	<meta name="title" property="og:title" content="Commercial | The easiest-to-use Digital Asset Management system">
	<meta name="description" content="Companies with global reach can reduce the problems associated with multiple locations, a variety of marketing or PR departments or agencies, and the insatiable need to have up-to-date information at their fingertips.">
	<meta name="description" property="og:description" content="Companies with global reach can reduce the problems associated with multiple locations, a variety of marketing or PR departments or agencies, and the insatiable need to have up-to-date information at their fingertips.">
	<meta name="image" property="og:image" content="/static/img/preview/main.jpg">
	<meta property="og:type" content="website">
{{/in-element}}

<MainTitle>
	<h1>
		Size is not a problem
	</h1>
	<h2>
		Companies with global reach can reduce the problems associated with multiple locations, a variety of marketing or PR departments or agencies, and the insatiable need to have up-to-date information at their fingertips.
	</h2>
	<BoxButton white @link="contact" @text="Book a demo" />
</MainTitle>

<WhatWeDo>
	<h1>
		Are you a company which has multiple branches or offices; distributors; international users; or a department or agencies or which carry out marketing, PR or design work for you? Or do you regularly need to deal with press enquiries? If so, your company will undoubtedly seek to streamline its communication and branding processes to ensure that it avoids duplication of effort, exhibits a consistent message, and is able to respond swiftly to a variety of requests for the latest file/document/image or personalisable template.
	</h1>
</WhatWeDo>

<content>
	<WhoWalkThrough @side="r" @num="1" @img="/static/img/commercial/commercial1@2x.jpg" @title="Simplify campaigns" @text="Create a campaign in one location, enable items to be re-used in other locations (templating sections that need to be adjusted), ensure brand security by overseeing image licences and permissions, and present up-to-date assets to named users." />
	<WhoWalkThrough @side="l" @num="1" @img="/static/img/commercial/commercial2@2x.jpg" @title="All file types" @text="Share images, videos, PDFs, spreadsheets and technical documents to named users, which are accessible from anywhere. Sort by categories, keywords, or usage." />
	<WhoWalkThrough @side="r" @num="1" @img="/static/img/commercial/commercial3@2x.jpg" @title="Define users" @text="Internal and external users can be permitted to access specified items - either to view only, or to edit or administer. Whether it’s access for external publishers, customers, or marketing agencies, or specific internal departments or staff, a variety of permission levels can be set." />
	<clear></clear>
	<WhoWalkThrough @side="l" @num="1" @img="/static/img/commercial/commercial4@2x.jpg" @title="One-stop shop for media management" @text="Cut out the need to store multiple images to encompass a variety of needs for different sizes (for example, for social media). One stored image can be re-sized automatically and very swiftly to meet all requirements." />
	<WhoWalkThrough @side="r" @num="1" @img="/static/img/commercial/commercial5@2x.jpg" @title="Secure brand and commercial control" @text="Using assets past their licence expiry date, letting sensitive documents be sent to external people without tracking their use, featuring out-of-date marketing material in file management systems, losing files/logos/folders when staff leave - all these potential hazards are familiar for many companies. BrandSafe to the rescue…" />
	<WhoWalkThrough @side="l" @num="1" @img="/static/img/commercial/commercial6@2x.jpg" @title="High-speed upload" @text="If you have a large number of assets, you need not be daunted. The BrandSafe system has a high-speed file transfer system, which means that large folders from multiple sites can be uploaded easily and very swiftly. Files can be uploaded individually, or in bulk." />
	<clear></clear>
</content>

<Clients>
	<Testimony @side="l" @num="1" @img="/static/img/home/clients@2x.jpg" @logo="/static/img/home/aberlogo.svg" @text="”Dissemination of images and assets is very important for us. Now, the BrandSafe system is visually attractive and easily searchable, and allows our distributors/partners to view everything quickly and simply”." />
	<clear></clear>
</Clients>

<BookADemo></BookADemo>