{{#in-element (document-head) insertBefore=null}}
	<title>The Product | BrandSafe | The easiest-to-use Digital Asset Management system</title>
	<meta name="title" property="og:title" content="The Product | The easiest-to-use Digital Asset Management system">
	<meta name="description" content="Manage your branding assets to simplify access, ensure consistency, establish user permissions and enable editable templates.">
	<meta name="description" property="og:description" content="Manage your branding assets to simplify access, ensure consistency, establish user permissions and enable editable templates.">
	<meta name="image" property="og:image" content="/static/img/preview/main.jpg">
	<meta property="og:type" content="website">
{{/in-element}}

<MainTitle>
	<h1>
		"BrandSafe’s simplicity, speed and responsiveness is key"<span>.</span>
	</h1>
	<h2>
		Aber Instruments Ltd is a pioneering global biotechnology company supplying thousands of advanced systems for use in the brewing, biotech and biofuel industries, whose clients number among the world’s biggest pharmaceutical and brewing companies. The company also has 30 to 40 distributors and partners world-wide.
	</h2>
	<BoxButton white @link="contact" @text="Book a demo" />
</MainTitle>

<content>
	<CaseStudy @side="l" @num="1" @img="/static/img/customers/aber1@2x.jpg" @title="The challenge" @text="Aber recently went through a brand refresh, featuring new product photography to complement their new website. Following the creation of more brand assets, the company wanted to tighten down on the control of access, and to meet the needs of their distributors more effectively." />
	<clear></clear>
</content>

<WhatWeDo>
	<h1>
		“Our distributors and partners often ask us for photographs and other assets in various formats and sizes. Previously we would have to look across old servers for the requested files, edit and crop images and then send them on, and often the distributor would come back requesting for it to be cropped differently”.
	</h1>
</WhatWeDo>

<content>
	<CaseStudy @side="r" @num="1" @img="/static/img/customers/aber2@2x.jpg" @title="The solution" @text="Now the self-service system available from BrandSafe allows Aber to store and share all their brand elements in one place, and permits their distributors/partners to acquire the necessary assets in the exact format they need, without having to ask Aber staff repeatedly." />
	<clear></clear>
</content>

<WhatWeDo>
	<h1>
		“Dissemination of images and assets is very important for us. Now, the BrandSafe system is visually attractive and easily searchable, and allows our distributors/partners to view everything quickly and simply”.
	</h1>
</WhatWeDo>

<BookADemo></BookADemo>