{{#in-element (document-head) insertBefore=null}}
	<title>SurrealDB | Documentation | The next generation serverless cloud database</title>
	<meta name="title" property="og:title" content="The next generation serverless cloud database">
	<meta name="description" content="With an SQL-style query language, real-time queries with highly-efficient related data retrieval, advanced security permissions for multi-tenant access, and support for performant analytical workloads, SurrealDB is the next generation serverless database.">
	<meta name="image" property="og:image" content="/static/img/preview/main.jpg">
	<meta property="og:type" content="website">
{{/in-element}}

<Layout::Gap small />

<Layout::Text>
	<h2>Documentation</h2>
	<p>We are currently finishing off the documentation for SurrealDB, and will be releasing these resources soon. If you are interested in using SurrealDB and want to get started sooner, click the button below to add yourself to the waiting list.</p>
	<br><br>
	<Waitlist @text="Join the waiting list" />
</Layout::Text>

<Layout::Gap large />
