{{#in-element (document-head) insertBefore=null}}
	<title>SurrealDB | Documentation | The ultimate serverless cloud database</title>
	<meta name="title" property="og:title" content="SurrealDB | Documentation">
	<meta name="description" content="SurrealDB is the ultimate database for tomorrow's serverless, jamstack, single-page, and traditional applications.">
	<meta name="image" property="og:image" content="/static/img/preview/main.jpg">
	<meta property="og:type" content="website">
{{/in-element}}

<Layout::Gap small />

<Layout::Text>
	<h1><img src="/static/img/text.svg" alt="SurrealDB" /> documentation</h1>
	<p>We are finishing off the documentation for SurrealDB, and will be releasing these resources soon. Join the SurrealDB newsletter below and stay updated on new releases, and updates.</p>
	<Signup bordered thicker>Join the SurrealDB newsletter</Signup>
</Layout::Text>

<Layout::Gap large />