<Meta::Tags>
	<title>SurrealDB | Features | The ultimate serverless cloud database</title>
	<meta name="title" property="og:title" content="SurrealDB | Features">
	<meta name="description" content="On this page you can find information regarding many of the features which are built into SurrealDB, alongside features coming in a future release.">
</Meta::Tags>

<Layout::Gap small />

<Layout::Text text-l>
	<h1>Features</h1>
	<p>
		SurrealDB has been built from the ground up to be the ultimate database for developers who want to build tomorrow's applications.
		On this page you can find information regarding many of the features which are built into SurrealDB, alongside features and ideas which are planned for future releases of SurrealDB.
	</p>
	<p>
		If you have an idea for SurrealDB, then we would love to hear from you.
	</p>
	<p>
		<Link @link="#architecture">Architecture</Link>
		&bull;
		<Link @link="#platform">Platform</Link>
		&bull;
		<Link @link="#datamodel">Data model</Link>
		&bull;
		<Link @link="#surrealql">SurrealQL</Link>
		&bull;
		<Link @link="#functions">Functions</Link>
		&bull;
		<Link @link="#permissions">Permissions</Link>
		&bull;
		<Link @link="#connectivity">Connectivity</Link>
		&bull;
		<Link @link="#tooling">Tooling</Link>
		&bull;
		<Link @link="#libraries">Libraries</Link>
	</p>
</Layout::Text>

<Layout::Gap small />

<Section::Features />