{{#in-element (document-head) insertBefore=null}}
	<title>Features | SurrealDB | The next generation serverless cloud database</title>
	<meta name="title" property="og:title" content="Features | The next generation serverless cloud database">
	<meta name="description" content="With an SQL-style query language, real-time queries with highly-efficient related data retrieval, advanced security permissions for multi-tenant access, and support for performant analytical workloads, SurrealDB is the next generation serverless database.">
	<meta name="image" property="og:image" content="/static/img/preview/main.jpg">
	<meta property="og:type" content="website">
{{/in-element}}

<content>
	<WalkThrough @side="r" @num="1" @img="/static/img/home/clients@2x.jpg" @title="DAM" @text="Gather in one place all the elements that your company uses -  for marketing, campaign management, public information, presentations, internal compliance documents, information notices and documents, and branding guidelines. Then enable easy access for identified people or organisations, and define use cases, while maintaining security and accountability." />
	<clear></clear>
</content>

<content>
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="Define users" @h2="Label each item according to the person or people - by setting permissions for different levels of access (for named individuals, or groups)." />
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="Define access permissions" @h2="Enable logins for specific users - whether departmental (or all internal) staff; collaborating design, PR or media agencies; distributors, suppliers, or franchisees - either by individual emails or domains." />
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="Define use" @h2="Group items according to use or need: by department, location, event, or any other purpose. Then ‘tag’ each item with multiple identifiers, which will aid searches." />
	<clear></clear>
</content>

<content>
	<WalkThrough @side="l" @num="1" @img="/static/img/home/clients@2x.jpg" @title="Document creation" @text="Be creative with documentation - whether for campaigns, infographics, marketing, presentations, compliance information. Your designers can upload templates of branded items which identify sections for personalisation - with the house style adhered to automatically, whatever new text is entered." />
	<clear></clear>
</content>

<content>
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="No need to re-invent the wheel" @h2="Access specific branded templates and personalise them without resorting to re-designs, or having to start from scratch with brand elements." />
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="Track versions" @h2="Is your chosen item current? What was the previous version? Eliminate mistakes and save time." />
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="Approvals and sign-off" @h2="Define a process for specific people to approve items, and enable ‘viewing’ or ‘editing’ permissions." />
	<clear></clear>
</content>

<content>
	<WalkThrough @side="r" @num="1" @img="/static/img/home/clients@2x.jpg" @title="Brand guidelines" @text="What are all the elements of your company’s brand: colours, logos, sizes, typography, symbols? How are these communicated to your design agency, or to clients? What happens with changes? How can third parties access the latest versions, or the correct size and type of file? All is now beautifully collated, in one place, with up-to-the-minute guidelines." />
	<clear></clear>
</content>

<content>
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="Make your guidelines dynamic" @h2="There’s now no excuse for out-of-date brand elements to be used, as the guidelines (and displays of all the elements) can be kept scrupulously up-to-date." />
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="All in one place" @h2="No more searching for that PNG, EPS, SVG or PDF you thought you had, or the name of that new font that Marketing were using." />
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="What exactly is #FF0000?" @h2="See the colour that you have been given the Hex code for (red). Or translate it into RGB (255.0.0) and CMYK (0.00, 1.00, 1.00, 0.00). All will now be crystal clear.
" />
	<clear></clear>
</content>

<content>
	<WalkThrough @side="l" @num="1" @img="/static/img/home/clients@2x.jpg" @title="Versioning" @text="When you consult a document, a campaign plan, a presentation or a manual, you need to feel assured that you are following the latest, or correct, version. The system ensures that these are identified, and that former versions are archived for reference. Meanwhile, links made within the system to an item will automatically take you to the latest version." />
	<clear></clear>
</content>

<content>
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="Be assured that you’re up-to-date" @h2="Constantly changing and updating versions of items can lead to confusion. This system solves this, so there’s no more uncertainty." />
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="See who did what" @h2="Check that you understand who enacted the changes, and why." />
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="Save time when searching" @h2="There’s no need to delve into archived folders, alternative files, or former campaigns. All is here." />
	<clear></clear>
</content>

<content>

	<WalkThrough @side="r" @num="1" @img="/static/img/home/clients@2x.jpg" @title="Access and permissions" @text="Define who can see items in your portal, who can edit items, who can create items. Each item can have a different permitted access - so that users can be tasked for instance with creating certain items, then can be allowed to read others and edit one or two." />
	<clear></clear>

</content>

<content>
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="Access permitted" @h2="Each user, or group of users, can be permitted to access whole sections of the portal, or single items according to their company role and responsibilities." />
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="Read, create, update or delete" @h2="Users are able to carry out specified tasks when accessing an item: from simple ‘read only’ access, to having the authority to edit and even to delete an item." />
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="Not set in stone" @h2="A portal administrator can change permissions as he/she sees fit. The system makes everything very clear, and easy to adjust swiftly." />
	<clear></clear>
</content>

<content>
	<WalkThrough @side="l" @num="1" @img="/static/img/home/clients@2x.jpg" @title="Real-time collaboration" @text="This is where significant time can be saved. Without lengthy messages, emails, notes in margins, telephone conversations, or communication software, you can get to the heart of the opinions of your collaborators instantly. The system streamlines collaboration directly on documents and other uploaded items, so that there’s no lack of clarity or time wasted." />
	<clear></clear>
</content>

<content>
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="Wherever you are" @h2="Whether your colleague is in your office, or 1,000 miles away, matters not a jot. If you both (or all) have access permissions, you can collaborate effectively." />
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="Annotate" @h2="Users can annotate an item, and you can check on their comments later. Or you can collaborate at the same time, in which case a document can be created instantly." />
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="Useful for training" @h2="A senior employee can oversee the work of a junior member of staff while the work is being carried out, making small suggestions on the way." />
	<clear></clear>
</content>

<content>
	<WalkThrough @side="r" @num="1" @img="/static/img/home/clients@2x.jpg" @title="Approval and sign-off" @text="Organise for named staff to approve specific documents or templates prepared by others, before they are able to appear in the portal, or before they are available for general release. If you wish, a specified person can be nominated to carry out an official sign-off even after formal approvals have been enacted." />
	<clear></clear>
</content>

<content>
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="Compliance, suitability" @h2="Ensure that no junior member of staff, however keen, can dilute or damage your company’s key message by mistake." />
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="Official process" @h2="If your company needs to have a single official sign-off, this can be incorporated even after multiple collaborators have approved an item." />
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="Keeping an overview" @h2="No manager needs to be left out of the loop or in the dark if processes of approval and sign-off are ensured and adhered to." />
	<clear></clear>
</content>

<content>
	<WalkThrough @side="l" @num="1" @img="/static/img/home/clients@2x.jpg" @title="Reporting and analysis" @text="This is where you can track and analyse who has accessed which items, ascertain which assets are most popular, and study the results of promotions. You will be able to customise your data reports to suit your business needs, and keep your finger on the pulse of a fast-paced and rapidly changing environment." />
	<clear></clear>
</content>

<content>
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="Analyse activity" @h2="Visualise asset views, downloads and link sharing over time, or for a specific time period. Analyse which assets have performed best for a particular campaign, and remove assets which are low performing." />
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="Monitor users" @h2="Track user activity, sharing requests, and asset usage. Understand which users are benefitting the most from the system, and drive adoption to lesser-engaged users." />
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="Creative insights" @h2="Gain better understanding of asset search terms, in order to improve future content updates." />
	<clear></clear>
</content>

<BookADemo></BookADemo>
