{{#in-element (document-head) insertBefore=null}}
	<title>SurrealDB | Features | The next generation serverless cloud database</title>
	<meta name="title" property="og:title" content="The next generation serverless cloud database">
	<meta name="description" content="With an SQL-style query language, real-time queries with highly-efficient related data retrieval, advanced security permissions for multi-tenant access, and support for performant analytical workloads, SurrealDB is the next generation serverless database.">
	<meta name="image" property="og:image" content="/static/img/preview/main.jpg">
	<meta property="og:type" content="website">
{{/in-element}}

<Layout::Gap />

<Layout::Text @title="A highly-scalable NewSQL database" @text="Fauna is a flexible, developer-friendly, transactional database delivered as a secure and scalable cloud API with native GraphQL. Never again worry about database provisioning, scaling, sharding, replication, or correctness." />

<Layout::Gap />

<Layout::Boxes large>
	<Layout::Boxes::Item @title="Flexible data modelling" @text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." />
	<Layout::Boxes::Item @title="Distributed ACID transactions" @text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." />
	<Layout::Boxes::Item @title="Composite indexing on-the-fly" @text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." />
	<Layout::Boxes::Item @title="Real-time streaming" @text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." />
	<Layout::Boxes::Item @title="Custom business logic" @text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." />
	<Layout::Boxes::Item @title="Web-native secure access" @text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." />
	<Layout::Boxes::Item @title="Built-in temporality" @text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." />
	<Layout::Boxes::Item @title="Multi-tenant databases" @text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." />
	<Layout::Boxes::Item @title="Setup-free GraphQL" @text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." />
	<Layout::Boxes::Item @title="Global low-latency" @text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." />
	<Layout::Boxes::Item @title="Hands-free elasticity" @text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." />
	<Layout::Boxes::Item @title="No database operations" @text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." />
</Layout::Boxes>

<Layout::Boxes small>
	<Layout::Boxes::Item @title="Lorem ipsum dolor" />
	<Layout::Boxes::Item @title="Lorem ipsum dolor" />
	<Layout::Boxes::Item @title="Lorem ipsum dolor" />
	<Layout::Boxes::Item @title="Lorem ipsum dolor" />
	<Layout::Boxes::Item @title="Lorem ipsum dolor" />
	<Layout::Boxes::Item @title="Lorem ipsum dolor" />
	<Layout::Boxes::Item @title="Lorem ipsum dolor" />
	<Layout::Boxes::Item @title="Lorem ipsum dolor" />
	<Layout::Boxes::Item @title="Lorem ipsum dolor" />
</Layout::Boxes>