{{#in-element (document-head) insertBefore=null}}
	<title>SurrealDB | The next generation serverless cloud database</title>
	<meta name="title" property="og:title" content="The next generation serverless cloud database">
	<meta name="description" content="With an SQL-style query language, real-time queries with highly-efficient related data retrieval, advanced security permissions for multi-tenant access, and support for performant analytical workloads, SurrealDB is the next generation serverless database.">
	<meta name="image" property="og:image" content="/static/img/preview/main.jpg">
	<meta property="og:type" content="website">
{{/in-element}}

<Layout::Hero
	@title="The next generation serverless cloud database for modern applications"
	@text="With an SQL-style query language, real-time queries with highly-efficient related data retrieval, advanced security permissions for multi-tenant access, and support for performant analytical workloads, SurrealDB is the next generation serverless database."
/>

<Layout::Text @title="A highly-scalable NewSQL database" />

<Layout::Gap />

<Layout::Ticks>
	<Layout::Ticks::Item @text="Document & graph database" />
	<Layout::Ticks::Item @text="JOIN-less deep fetching" />
	<Layout::Ticks::Item @text="Distributed ACID transactions" />
	<Layout::Ticks::Item @text="Built with Rust" />
	<Layout::Ticks::Item @text="Structured and un-structured data" />
	<Layout::Ticks::Item @text="SQL-style querying" />
	<Layout::Ticks::Item @text="GraphQL and REST API" />
	<Layout::Ticks::Item @text="Support for multi-tenant apps" />
	<Layout::Ticks::Item @text="Multi-row, multi-table transactions" />
	<Layout::Ticks::Item @text="Online and offline data sync" />
	<Layout::Ticks::Item @text="In-built access and permissions" />
	<Layout::Ticks::Item @text="Multi-column and full-text indexes" />
	<Layout::Ticks::Item @text="Incrementally computed views" />
	<Layout::Ticks::Item @text="Distributed and highly-scalable" />
	<Layout::Ticks::Item @text="No complex back-end servers and APIs" />
</Layout::Ticks>

<Layout::Gap />

<Layout::Gap />

<Layout::Blocks main-l as |block|>
	<block>
		<h4>Improved data modelling</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales nisi eget leo consequat gravida. In viverra diam quis vestibulum lacinia. Nulla purus sem, consectetur ac leo quis, suscipit aliquet velit.</p>
		<Button::Thicker @link="showcase.modelling">
			<span>View data modelling with SurrealDB</span> <i class="fas fa-arrow-right"></i>
		</Button::Thicker>
	</block>
	<block>
		<Code min-h-300 @name="index/modelling.sql" />
	</block>
</Layout::Blocks>

<Layout::Gap />

<Layout::Blocks main-r as |block|>
	<block>
		<Code min-h-300 @name="index/surrealql.sql" />
	</block>
	<block>
		<h4>Powerful querying abilities</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales nisi eget leo consequat gravida. In viverra diam quis vestibulum lacinia. Nulla purus sem, consectetur ac leo quis, suscipit aliquet velit.</p>
		<Button::Thicker @link="showcase.surrealql">
			<span>The best features of SurrealQL</span> <i class="fas fa-arrow-right"></i>
		</Button::Thicker>
	</block>
</Layout::Blocks>

<Layout::Gap />

<Layout::Blocks main-l as |block|>
	<block>
		<h4>Simplified data analytics</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales nisi eget leo consequat gravida. In viverra diam quis vestibulum lacinia. Nulla purus sem, consectetur ac leo quis, suscipit aliquet velit.</p>
		<Button::Thicker @link="showcase.analytics">
			<span>See the many ways to analyse data</span> <i class="fas fa-arrow-right"></i>
		</Button::Thicker>
	</block>
	<block>
		<Code min-h-300 @name="index/analytics.sql" />
	</block>
</Layout::Blocks>

<Layout::Gap />

<Layout::Blocks main-r as |block|>
	<block>
		<Code min-h-300 @name="index/permissions.sql" />
	</block>
	<block>
		<h4>Faster app development times</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales nisi eget leo consequat gravida. In viverra diam quis vestibulum lacinia. Nulla purus sem, consectetur ac leo quis, suscipit aliquet velit.</p>
		<Button::Thicker @link="showcase.permissions">
			<span>Speed up your app development</span> <i class="fas fa-arrow-right"></i>
		</Button::Thicker>
	</block>
</Layout::Blocks>

<Layout::Gap />

<Layout::Blocks main-l as |block|>
	<block>
		<h4>Superpowered database functionality</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales nisi eget leo consequat gravida. In viverra diam quis vestibulum lacinia. Nulla purus sem, consectetur ac leo quis, suscipit aliquet velit.</p>
		{{!-- <Button::Thicker @link="showcase.collaborate">
			<span>Take your software to the next level</span> <i class="fas fa-arrow-right"></i>
		</Button::Thicker> --}}
	</block>
	<block>
		<Code min-h-300 @name="index/collaborate.sql" />
	</block>
</Layout::Blocks>

<Layout::Gap />

<Layout::Text @title="Database libraries and clients" @text="SurrealDB builds and maintains first-party database clients for a number of popular languages including Javascript, Typescript, Node.js, Deno, Rust, and Golang. All clients connect to SurrealDB using a binary protocol over a WebSocket connection for low-latency and efficient parsing, leading to blazingly fast queries." />

<Layout::Gap />

<Layout::Blocks as |block|>
	<block>
		<h4>
			<i class="fab fa-js"></i> Javascript
		</h4>
		<Code @name="index/library/javascript.bash" />
		<n>
			<Link @link="https://github.com/surrealdb/surreal.js" faded>Github</Link>
			&bull;
			<Link @link="docs" faded>Documentation</Link>
		</n>
	</block>
	{{!--  --}}
	<block>
		<h4>
			<i class="fab fa-golang"></i> Golang
		</h4>
		<Code @name="index/library/golang.bash" />
		<n>
			<Link @link="https://github.com/surrealdb/surreal.go" faded>Github</Link>
			&bull;
			<Link @link="docs" faded>Documentation</Link>
		</n>
	</block>
</Layout::Blocks>

<Layout::Blocks as |block|>
	<block>
		<h4>
			<i class="fab fa-python"></i> Python
		</h4>
		<Code @name="index/library/python.bash" />
		<n>
			<Link @link="https://github.com/surrealdb/surreal.py" faded>Github</Link>
			&bull;
			<Link @link="docs" faded>Documentation</Link>
		</n>
	</block>
	{{!--  --}}
	<block>
		<h4>
			<i class="fab fa-rust"></i> Rust
		</h4>
		<Code @name="index/library/rust.bash" />
		<n>
			<Link @link="https://github.com/surrealdb/surreal.rs" faded>Github</Link>
			&bull;
			<Link @link="docs" faded>Documentation</Link>
		</n>
	</block>
</Layout::Blocks>

<Layout::Blocks as |block|>
	<block>
		<h4>
			<i class="fab fa-node-js"></i> Node.js
		</h4>
		<Code @name="index/library/javascript.bash" />
		<n>
			<Link @link="https://github.com/surrealdb/surreal.js" faded>Github</Link>
			&bull;
			<Link @link="docs" faded>Documentation</Link>
		</n>
	</block>
	{{!--  --}}
	<block>
		<h4>Deno</h4>
		<Code @name="index/library/deno.bash" />
		<n>
			<Link @link="https://github.com/surrealdb/surreal.deno" faded>Github</Link>
			&bull;
			<Link @link="docs" faded>Documentation</Link>
		</n>
	</block>
</Layout::Blocks>

<Layout::Gap />

<Layout::Text @title="Javascript framework connectors" @text="In addition to the client libraries for the popular languages, SurrealDB maintains database client connectors for some of the popular Javascript frameworks, including Angular.js, and Ember.js. These connectors support real-time data asubscriptions and notifications using a binary protocol over a WebSocket connection, enabling advanced application functionality and awesome performance." />

<Layout::Gap />

<Layout::Blocks as |block|>
	<block>
		<h4>
			<i class="fab fa-ember"></i> Ember.js
		</h4>
		<Code @name="index/library/ember.bash" />
		<n>
			<Link @link="https://github.com/surrealdb/ember-surreal" faded>Github</Link>
			&bull;
			<Link @link="docs" faded>Documentation</Link>
		</n>
	</block>
	{{!--  --}}
	<block>
		<h4>
			<i class="fab fa-angular"></i> Angular.js
		</h4>
		<Code @name="index/library/angular.bash" />
		<n>
			<Link @link="https://github.com/surrealdb/angular-surreal" faded>Github</Link>
			&bull;
			<Link @link="docs" faded>Documentation</Link>
		</n>
	</block>
</Layout::Blocks>

<Layout::Gap />