{{#-in-element (document-head)}}
	<title>SurrealDB</title>
	<meta name="description" content="The next generation serverless database.">
{{/-in-element}}

<div>

	<MainTitle>
		<h1>
			A highly-scalable NewSQL database
		</h1>
		<h2>
			With an SQL-style query language, real-time queries with highly-efficient related data retrieval, advanced security permissions for multi-tenant access, and support for performant analytical workloads, SurrealDB is the next generation serverless database.
		</h2>
	</MainTitle>

	<SignupForm />

</div>