{{#in-element (document-head) insertBefore=null}}
	<title>SurrealDB | The next generation serverless cloud database</title>
	<meta name="title" property="og:title" content="The next generation serverless cloud database">
	<meta name="description" content="With an SQL-style query language, real-time queries with highly-efficient related data retrieval, advanced security permissions for multi-tenant access, and support for performant analytical workloads, SurrealDB is the next generation serverless database.">
	<meta name="image" property="og:image" content="/static/img/preview/main.jpg">
	<meta property="og:type" content="website">
{{/in-element}}

<Layout::Hero
	@title="The next generation serverless cloud database for modern applications"
	@text="With an SQL-style query language, real-time queries with highly-efficient related data retrieval, advanced security permissions for multi-tenant access, and support for performant analytical workloads, SurrealDB is the next generation serverless database."
/>

<Layout::Text @title="A highly-scalable NewSQL database" />

<Layout::Gap />

<Layout::Ticks>
	<Layout::Ticks::Item @text="Document & graph database" />
	<Layout::Ticks::Item @text="JOIN-less deep fetching" />
	<Layout::Ticks::Item @text="Built with Rust" />
	<Layout::Ticks::Item @text="Structured and un-structured data" />
	<Layout::Ticks::Item @text="SQL-style querying" />
	<Layout::Ticks::Item @text="GraphQL and REST API" />
	<Layout::Ticks::Item @text="Support for multi-tenant apps" />
	<Layout::Ticks::Item @text="Multi-row, multi-table transactions" />
	<Layout::Ticks::Item @text="Online and offline data sync" />
	<Layout::Ticks::Item @text="In-built access and permissions" />
	<Layout::Ticks::Item @text="Multi-column and full-text indexes" />
	<Layout::Ticks::Item @text="Incrementally computed views" />
	<Layout::Ticks::Item @text="Distributed and highly-scalable" />
	<Layout::Ticks::Item @text="No complex back-end servers and APIs" />
</Layout::Ticks>

<Layout::Gap />

<Layout::Gap />

<Layout::TextAndCode text-l @title="Simplified data modelling" @text="Reduce time spent hunting for images - while wondering which version, what size, and what type of image file you need -  and relieve pressure on your design department, so that they don’t constantly need to re-invent the wheel." as |block|>
	<block.link @route="showcase.modelling">
		The best features of SurrealQL <i class="fas fa-arrow-right"></i>
	</block.link>
	<block.code @name="index-modelling.sql">
		SELECT * FROM person WHERE id = person:1
	</block.code>
</Layout::TextAndCode>

<Layout::Gap />

<Layout::Gap />

<Layout::TextAndCode text-r @title="Elegant data modeling" @text="Reduce time spent hunting for images - while wondering which version, what size, and what type of image file you need -  and relieve pressure on your design department, so that they don’t constantly need to re-invent the wheel." as |block|>
<block.link @route="showcase.surrealql">
		The best features of SurrealQL <i class="fas fa-arrow-right"></i>
	</block.link>
	<block.code @name="index-surrealql.sql">
		SELECT * FROM person WHERE id = person:1
	</block.code>
</Layout::TextAndCode>

<Layout::Gap />

<Layout::Gap />

<Layout::TextAndCode text-l @title="Elegant data modeling" @text="Reduce time spent hunting for images - while wondering which version, what size, and what type of image file you need -  and relieve pressure on your design department, so that they don’t constantly need to re-invent the wheel." as |block|>
	<block.link @route="showcase.analytics">
		The best features of SurrealQL <i class="fas fa-arrow-right"></i>
	</block.link>
	<block.code @name="index-analytics.sql">
		SELECT * FROM person WHERE id = person:1
	</block.code>
</Layout::TextAndCode>

<Layout::Gap />

<Layout::Gap />

<Layout::TextAndCode text-r @title="Elegant data modeling" @text="Reduce time spent hunting for images - while wondering which version, what size, and what type of image file you need -  and relieve pressure on your design department, so that they don’t constantly need to re-invent the wheel." as |block|>
	<block.link @route="showcase.permissions">
		The best features of SurrealQL <i class="fas fa-arrow-right"></i>
	</block.link>
	<block.code @name="index-permissions.sql">
		SELECT * FROM person WHERE id = person:1
	</block.code>
</Layout::TextAndCode>

<Layout::Gap />

<Layout::Gap />

<Layout::Boxes large>
	<Layout::Boxes::Item @title="Lorem ipsum dolor sit amet, consectetur adipisicing elit" @text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." />
	<Layout::Boxes::Item @title="Lorem ipsum dolor sit amet, consectetur adipisicing elit" @text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." />
	<Layout::Boxes::Item @title="Lorem ipsum dolor sit amet, consectetur adipisicing elit" @text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." />
</Layout::Boxes>

<Layout::Boxes small>
	<Layout::Boxes::Item @title="Lorem ipsum dolor" />
	<Layout::Boxes::Item @title="Lorem ipsum dolor" />
	<Layout::Boxes::Item @title="Lorem ipsum dolor" />
	<Layout::Boxes::Item @title="Lorem ipsum dolor" />
	<Layout::Boxes::Item @title="Lorem ipsum dolor" />
	<Layout::Boxes::Item @title="Lorem ipsum dolor" />
	<Layout::Boxes::Item @title="Lorem ipsum dolor" />
	<Layout::Boxes::Item @title="Lorem ipsum dolor" />
	<Layout::Boxes::Item @title="Lorem ipsum dolor" />
</Layout::Boxes>
