{{#in-element (document-head) insertBefore=null}}
	<title>SurrealDB | Install | The next generation serverless cloud database</title>
	<meta name="title" property="og:title" content="The next generation serverless cloud database">
	<meta name="description" content="With an SQL-style query language, real-time queries with highly-efficient related data retrieval, advanced security permissions for multi-tenant access, and support for performant analytical workloads, SurrealDB is the next generation serverless database.">
	<meta name="image" property="og:image" content="/static/img/preview/main.jpg">
	<meta property="og:type" content="website">
{{/in-element}}

<Layout::Gap />

<Layout::Text>
 	<h2>Install SurrealDB</h2>
	<p>There are a number of ways of running SurrealDB. It can either be installed from a binary image, or it can be run from within Docker. Once installed, the <code>surreal</code> command is a single executable which can be used to backup, interact with, and run SurrealDB server instances.</p>
</Layout::Text>

<Layout::Gap />

<Layout::TextAndCode text-t @title="Install on macOS" @text="The quickest way to get going with SurrealDB on macOS is to use Homebrew. This will install both the command-line tools, and the SurrealDB server as a single executable. If you don't use Homebrew, follow the instructions for Linux below to install SurrealDB." as |block|>
	<block.code @name="install-macos.bash">
		brew install surrealdb/tap/surreal
	</block.code>
</Layout::TextAndCode>

<Layout::TextAndCode text-t @title="Install on Linux" @text="The easiest and preferred way to get going with SurrealDB on Unix operating systems is to install and use the SurrealDB command-line tool. Run the following command in your terminal and follow the on-screen instructions." as |block|>
	<block.code @name="install-linux.bash">
		curl --proto '=https' --tlsv1.2 -sSf https://sh.surrealdb.com | sh
	</block.code>
</Layout::TextAndCode>

<Layout::TextAndCode text-t @title="Install on Windows" @text="The easiest and preferred way to get going with SurrealDB on Windows is to install and use the SurrealDB command-line tool. Run the following command in your terminal and follow the on-screen instructions." as |block|>
	<block.code @name="install-windows.bash">
		iwr https://ps1.surrealdb.com -useb | iex
	</block.code>
</Layout::TextAndCode>

<Layout::TextAndCode text-t @title="Run using Docker" @text="Docker can be used to manage and run SurrealDB database instances without the need to install any command-line tools. The SurrealDB docker container contains the full command-line tools for importing and exporting data from a running server, or for running a server itself." as |block|>
	<block.code @name="install-docker.bash">
		docker run --rm -p 8000:8000 surreal/surreal:latest start
	</block.code>
</Layout::TextAndCode>