<Meta::Tags
	@title="SurrealDB | Install"
	@description="Install SurrealDB quickly and easily. It can either be installed from a binary image, or run from within Docker on macOS, Linux, Windows, or in the Cloud."
/>

<Layout::Head why>
	<Layout::Text text-m>
		<h1>Install <img inline src="/static/img/text.svg" alt="SurrealDB" /></h1>
		<p>There are a number of ways of running SurrealDB. It can either be installed from a binary image, or it can be run from within Docker. Once installed, the <Ascua::Prism::Inline @language="bash" @code="surreal" /> command is a single executable which can be used to backup, interact with, and run SurrealDB server instances.</p>
		<p>After installing with any of the available options. Check out the <Link @link="docs.introduction.start">getting started </Link> guide</p>
	</Layout::Text>
</Layout::Head>

<Layout::Blocks main-c as |block|>
	<block>
		<h4>
			<i class="fab fa-apple font-20 m-r-10"></i> Install on macOS
		</h4>
		<p>The quickest way to get going with SurrealDB on macOS is to use Homebrew. This will install both the command-line tools, and the SurrealDB server as a single executable. If you don't use Homebrew, follow the instructions for Linux below to install SurrealDB. View the <Link @link="docs.installation.macos">documentation</Link> for more information.</p>
		<Code @name="install-macos.bash">
			brew install surrealdb/tap/surreal
		</Code>
	</block>
</Layout::Blocks>

<Layout::Gap mini />

<Layout::Blocks main-c as |block|>
	<block>
		<h4>
			<i class="fab fa-linux font-20 m-r-10"></i> Install on Linux
		</h4>
		<p>The easiest and preferred way to get going with SurrealDB on Unix operating systems is to install and use the SurrealDB command-line tool. Run the following command in your terminal and follow the on-screen instructions. View the <Link @link="docs.installation.linux">documentation</Link> for more information.</p>
		<Code @name="install-linux.bash">
			curl -sSf https://install.surrealdb.com | sh
		</Code>
	</block>
</Layout::Blocks>

<Layout::Gap mini />

<Layout::Blocks main-c as |block|>
	<block>
		<h4>
			<i class="fab fa-windows font-20 m-r-10"></i> Install on Windows
		</h4>
		<p>The easiest and preferred way to get going with SurrealDB on Windows is to install and use the SurrealDB command-line tool. Run the following command in your terminal and follow the on-screen instructions. View the <Link @link="docs.installation.windows">documentation</Link> for more information.</p>
		<Code @name="install-windows.bash">
			iwr https://windows.surrealdb.com -useb | iex
		</Code>
		<p>Alternatively SurrealDB is available for installation, on Windows, via the <Link @link="https://community.chocolatey.org/packages/surreal">Chocolatey</Link> package manager, from an administrative shell - enabling easy installation and upgrading.</p>
		<Code @name="install-choco.bash">
			choco install surreal --pre
		</Code>
		<p>Alternatively SurrealDB is available for installation, on Windows, via the <Link @link="https://scoop.sh">Scoop</Link> package manager, from an administrative shell - enabling easy installation and upgrading.</p>
		<Code @name="install-scoop.bash">
			scoop install surreal
		</Code>
	</block>
</Layout::Blocks>

<Layout::Gap mini />

<Layout::Blocks main-c as |block|>
	<block>
		<h4>
			<i class="fab fa-docker font-20 m-r-10"></i> Run using Docker
		</h4>
		<p>Docker can be used to manage and run SurrealDB database instances without the need to install any command-line tools. The <Link @link={{url "docker"}}>SurrealDB docker container</Link> contains the full command-line tools for importing and exporting data from a running server, or for running a server itself. View the <Link @link="docs.installation.running.docker">documentation</Link> for more information.</p>
		<Code @name="install-docker.bash">
			docker run --rm --pull always -p 8000:8000 surrealdb/surrealdb:latest start
		</Code>
	</block>
</Layout::Blocks>

<Layout::Gap large />