{{#in-element (document-head) insertBefore=null}}
	<title>Member Organisations | BrandSafe | The easiest-to-use Digital Asset Management system</title>
	<meta name="title" property="og:title" content="Member Organisations | The easiest-to-use Digital Asset Management system">
	<meta name="description" content="Organisations which serve both internal staff and external visitors have additional issues when it comes to safeguarding branding, providing help for marketing and communications, and ensuring that items do not go astray.">
	<meta name="description" property="og:description" content="Organisations which serve both internal staff and external visitors have additional issues when it comes to safeguarding branding, providing help for marketing and communications, and ensuring that items do not go astray.">
	<meta name="image" property="og:image" content="/static/img/preview/main.jpg">
	<meta property="og:type" content="website">
{{/in-element}}

<MainTitle>
	<h1>
		Make life easier for everyone<span>.</span>
	</h1>
	<h2>
		Organisations which serve both internal staff and external visitors (whether members, volunteers, or support agencies) have additional issues when it comes to safeguarding branding, providing help for marketing and communications, and ensuring that items do not go astray.
	</h2>
	<BoxButton white @link="contact" @text="Book a demo" />
</MainTitle>

<WhatWeDo>
	<h1>
		Does your organisation have members who are permitted access to images, or volunteers who provide valuable work communicating and marketing to the public? Or does it provide training or support materials to its registered associates or affiliates? In these, as in many other cases, you might need to ensure that materials (whether images, documents, social media) are made available to named people, kept up-to-date, or identifiable according to your chosen tags.  Or you might wish to make available branded templates for easy-personalisation by specific people.
	</h1>
</WhatWeDo>

<content>
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="Ensure brand guidelines are adhered to" @h2="Using out-of-date logos, colours, fonts, and images is always a danger when multiple non-staff users are responsible for providing external messages - such as on posters, flyers, invitations, stationery or work-sheets This dilutes a company’s branding,reducing credibility and damaging its public image, and may even project an old-fashioned or amateur image." />
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="Lock down latest-version documents" @h2="Staff can ensure that only the latest logos, fonts, colours or social media banners can be accessed - whether by press, public relations or marketing agencies, or volunteers - so there is little opportunity for deviation from the organisation’s style-sheet, and users can avoid time-wasting searches for the appropriate item when sending out communications." />
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="Give users social-media short-cuts" @h2="Ready-made crops for things such as banners or heading images can be prepared in the system, so that images can very quickly and easily be re-sized and adjusted to fit the most popular social networking sites or website needs. Users need not look up what sizes are required, but simply manipulate the cropping tool onto their chosen image." />
	<clear></clear>
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="Offer templates for easy personalisation" @h2="Organisations which have documentation which needs to be altered (according to group, location, event) can place templates into the system which can be accessed by named users, and individually personalised. The relevant details (such as name of event, date, location, explanatory text) can be entered - and will automatically appear in the appropriate font, size and colour." />
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="No IT expertise required" @h2="The system is designed to be used by people who have no design- or coding-skills, for whom the template-personalisation function is particularly useful. The result is that no time is wasted by the need to consult the design department or agency for low-level assistance - instead freeing them up to do the skilled professional work for which they are in demand." />
	<FeaturesEntry @img="/static/img/home/tick.svg" @h1="Track usage" @h2="Staff members can note who has uploaded a particular file (image, PDF, resource book, website), and can also see who has downloaded an item. Records can then be kept of external users of items, and comparative popularity of items can be established." />
	<clear></clear>
</content>

<BookADemo></BookADemo>