<Meta::Tags
	@title="SurrealDB | Open Source"
	@description="SurrealDB is an open source company, supporting existing open source tools and communities wherever possible."
/>

<Layout::Gap small />

<Layout::Text text-l>
	<h1>Open source</h1>
	<p>SurrealDB is an open source company, supporting existing open source tools and communities wherever possible. Source code and core components for SurrealDB are variously licensed under a number of different licenses. A copy of each license can be found in each repository on GitHub.</p>
</Layout::Text>

<Layout::Gap small />

<Layout::Text text-l>
	<h2>Our open source projects</h2>
</Layout::Text>

<Layout::Gap mini />

<Section::Opensource />

<Layout::Gap small />

<Layout::Github />