{{#in-element (document-head) insertBefore=null}}
	<title>SurrealDB | Press | The ultimate serverless cloud database</title>
	<meta name="title" property="og:title" content="SurrealDB | Open Source">
	<meta name="description" content="SurrealDB is an open source company, supporting existing open source tools and communities wherever possible.">
	<meta property="og:type" content="article">
{{/in-element}}

<Layout::Head press>
	<Layout::Text text-m>
		<h1>Press room</h1>
		<p>See what others are saying about SurrealDB</p>
	</Layout::Text>
</Layout::Head>

<section>

	<Layout::Gap small />

	<Layout::Blocks main-c as |block|>
		<block>
			<img src="/static/img/press/youtube.svg" alt="YouTube" height="20" />
			<Layout::Gap tiny />
			<h4>Rust Powered Database SurrealDB (It's Pretty Ambitious)</h4>
			<Link button bordered thicker @link="https://www.youtube.com/watch?v=DPQbuW9dQ7w&t=2s">
				<div>
					<span>Watch the video</span> <i class="fas fa-arrow-right"></i>
				</div>
			</Link>
		</block>
	</Layout::Blocks>

	<Layout::Gap small />

</section>

<section>

	<Layout::Gap small />

	<Layout::Blocks main-c as |block|>
		<block>
			<img src="/static/img/press/youtube.svg" alt="YouTube" height="20" />
			<Layout::Gap tiny />
			<h4>Getting started with SurrealDB!! Future of cloud databases (maybe)? Does this replace sqlite?</h4>
			<Link button bordered thicker @link="https://www.youtube.com/watch?v=D41jb4DDIdA&t=254s">
				<div>
					<span>Watch the video</span> <i class="fas fa-arrow-right"></i>
				</div>
			</Link>
		</block>
	</Layout::Blocks>

	<Layout::Gap small />

</section>

<section>

	<Layout::Gap small />

	<Layout::Blocks main-c as |block|>
		<block>
			<img src="/static/img/press/eweek.png" alt="TechCrunch" height="20" />
			<Layout::Gap tiny />
			<h4>Tech Startup SurrealDB Goes Live with Serverless Cloud Database</h4>
			<Link button bordered thicker @link="https://www.eweekuk.com/database/tech-startup-surrealdb-goes-live-with-serverless-cloud-database/">
				<div>
					<span>Read article</span> <i class="fas fa-arrow-right"></i>
				</div>
			</Link>
		</block>
	</Layout::Blocks>

	<Layout::Gap small />

</section>

<section>

	<Layout::Gap small />

	<Layout::Blocks main-c as |block|>
		<block>
			<img src="/static/img/press/mercury.svg" alt="TechCrunch" height="30" />
			<Layout::Gap tiny />
			<h4>SurrealDB selected to Mercury Raise Seed VII</h4>
			<Link button bordered thicker @link="https://mercury.com/blog/company-news/raise-round-vii">
				<div>
					<span>Read article</span> <i class="fas fa-arrow-right"></i>
				</div>
			</Link>
		</block>
	</Layout::Blocks>

	<Layout::Gap small />

</section>

<section>

	<Layout::Gap small />

	<Layout::Blocks main-c as |block|>
		<block>
			<img src="/static/img/press/eweek.png" alt="TechCrunch" height="20" />
			<Layout::Gap tiny />
			<h4>SurrealDB Keeps it Real with Serverless Cloud Database Launch</h4>
			<Link button bordered thicker @link="https://www.eweekuk.com/applications/surrealdb-keeps-it-real-with-serverless-cloud-database-launch/?utm_source=twitter&utm_medium=technologyadvice-social&utm_content=vendor&utm_campaign=socialflow">
				<div>
					<span>Read article</span> <i class="fas fa-arrow-right"></i>
				</div>
			</Link>
		</block>
	</Layout::Blocks>

	<Layout::Gap small />

</section>