{{#in-element (document-head) insertBefore=null}}
	<title>Pricing | BrandSafe | The easiest-to-use Digital Asset Management system</title>
	<meta name="title" property="og:title" content="Pricing | The easiest-to-use Digital Asset Management system">
	<meta name="description" content="Simple pricing to take your marketing department or design agency to the next level. Book a free, no obligations discovery call today.">
	<meta name="description" property="og:description" content="Simple pricing to take your marketing department or design agency to the next level. Book a free, no obligations discovery call today.">
	<meta name="image" property="og:image" content="/static/img/preview/main.jpg">
	<meta property="og:type" content="website">
{{/in-element}}

<MainTitle>
	<Pricing entry {{on "click" (transition-to "contact")}}>
		<h5>
			Entry
		</h5>
		<h6>
			£300<br><span>per month</span>
		</h6>
		<sep></sep>
		<p>
			<img src="/static/img/home/tick.svg" alt="tick"> Asset storage <br>
			<img src="/static/img/home/tick.svg" alt="tick"> CDN asset hosting <br>
			<img src="/static/img/home/tick.svg" alt="tick"> Automated data backups <br>
			<img src="/static/img/home/tick.svg" alt="tick"> 50GB storage <br>
			<sep></sep>
			<img src="/static/img/home/tick.svg" alt="tick"> Branded account sub-domain <br>
			<sep></sep>
			<img src="/static/img/home/tick.svg" alt="tick"> Unlimited users <br>
			<img src="/static/img/home/tick.svg" alt="tick"> Public and private sharing <br>
			<sep></sep>
			<img src="/static/img/home/tick.svg" alt="tick"> Email support <br>
		</p>
		<button type="button">
			Book a demo
		</button>
	</Pricing>
	<Pricing popular {{on "click" (transition-to "contact")}}>
		<pop>
			Most popular
		</pop>
		<h5>
			Business
		</h5>
		<h6>
			£550<br><span>per month</span>
		</h6>
		<sep></sep>
		<p>
			<img src="/static/img/home/tick.svg" alt="tick"> Asset storage <br>
			<img src="/static/img/home/tick.svg" alt="tick"> Asset watermarking <br>
			<img src="/static/img/home/tick.svg" alt="tick"> CDN asset hosting <br>
			<img src="/static/img/home/tick.svg" alt="tick"> AI-based asset tagging <br>
			<img src="/static/img/home/tick.svg" alt="tick"> Automated data backups <br>
			<img src="/static/img/home/tick.svg" alt="tick"> Insights and Analytics <br>
			<img src="/static/img/home/tick.svg" alt="tick"> 250GB storage <br>
			<sep></sep>
			<img src="/static/img/home/tick.svg" alt="tick"> Customisable interface <br>
			<img src="/static/img/home/tick.svg" alt="tick"> Branded account sub-domain <br>
			<img src="/static/img/home/tick.svg" alt="tick"> Branded authentication pages <br>
			<sep></sep>
			<img src="/static/img/home/tick.svg" alt="tick"> Unlimited users <br>
			<img src="/static/img/home/tick.svg" alt="tick"> Public and private sharing <br>
			<img src="/static/img/home/tick.svg" alt="tick"> Multi-user document collaboration <br>
			<sep></sep>
			<img src="/static/img/home/tick.svg" alt="tick"> Phone support <br>
		</p>
		<button type="button">
			Book a demo
		</button>
	</Pricing>
	<Pricing enterprise {{on "click" (transition-to "contact")}}>
		<h5>
			Enterprise
		</h5>
		<h6>
			POA<br><span>per month</span>
		</h6>
		<sep></sep>
		<p>
			<img src="/static/img/home/tick.svg" alt="tick"> Asset storage <br>
			<img src="/static/img/home/tick.svg" alt="tick"> Asset watermarking <br>
			<img src="/static/img/home/tick.svg" alt="tick"> CDN asset hosting <br>
			<img src="/static/img/home/tick.svg" alt="tick"> AI-based asset tagging <br>
			<img src="/static/img/home/tick.svg" alt="tick"> Automated data backups <br>
			<img src="/static/img/home/tick.svg" alt="tick"> 500GB storage <br>
			<sep></sep>
			<img src="/static/img/home/tick.svg" alt="tick"> Customisable interface <br>
			<img src="/static/img/home/tick.svg" alt="tick"> Branded account sub-domain <br>
			<img src="/static/img/home/tick.svg" alt="tick"> Branded authentication pages <br>
			<img src="/static/img/home/tick.svg" alt="tick"> Brand guidelines <br>
			<sep></sep>
			<img src="/static/img/home/tick.svg" alt="tick"> Unlimited users <br>
			<img src="/static/img/home/tick.svg" alt="tick"> Public and private sharing <br>
			<img src="/static/img/home/tick.svg" alt="tick"> Multi-user document collaboration <br>
			<img src="/static/img/home/tick.svg" alt="tick"> Enhanced access permissions <br>
			<img src="/static/img/home/tick.svg" alt="tick"> Enterprise authentication <br>
			<img src="/static/img/home/tick.svg" alt="tick"> SSO and SAML authentication<br>
			<sep></sep>
			<img src="/static/img/home/tick.svg" alt="tick"> Customisable templating for PDFs <br>
			<img src="/static/img/home/tick.svg" alt="tick"> Printer integration <br>
			<img src="/static/img/home/tick.svg" alt="tick"> Print budgeting <br>
			<sep></sep>
			<img src="/static/img/home/tick.svg" alt="tick"> Dedicated customer service via email, phone and live chat <br>
			<img src="/static/img/home/tick.svg" alt="tick"> Setup and training <br>
		</p>
		<button type="button">
			Get a quote
		</button>
	</Pricing>
</MainTitle>

<BookADemo>
	<h1>
		Can't decide? Let our team help you out.
	</h1>
	<ContactForm />
</BookADemo>