<Meta::Tags>
	<title>SurrealDB | Product releases | The ultimate serverless cloud database</title>
	<meta name="title" property="og:title" content="SurrealDB | Product releases">
	<meta name="description" content="Keep track of the notable updates, improvements, and bug fixes for every SurrealDB product release in chronological order.">
</Meta::Tags>