<Meta::Tags>
	<title>SurrealDB | Releases | The ultimate serverless cloud database</title>
	<meta name="title" property="og:title" content="SurrealDB | Releases">
	<meta name="description" content="Keep track of the notable updates, improvements, and bug fixes for every SurrealDB product release in chronological order.">
</Meta::Tags>

<Layout::Gap small />

<Layout::Text text-l>
	<h1>Releases</h1>
	<p>
		SurrealDB has been built from the ground up to be the ultimate database for
		developers who want to build tomorrow's applications. On this page you can
		view the release notes for the different historic versions of SurrealDB,
		and for imminent future releases.
	</p>
	<p>
		If you have an idea for SurrealDB, then we would love to hear from you.
	</p>
	<p>
		<Link @link={{url "github"}}>Follow us on Github</Link>
		&bull;
		<Link @link={{url "discord"}}>Join our Discord community</Link>
	</p>
</Layout::Text>

<Layout::Gap small />

<Section::Releases />