<Meta::Tags
	@title="SurrealDB | Roadmap"
	@description="On this page you can keep track of what we have planned for SurrealDB, and see the features and functionality which has already been implemented."
/>

<Layout::Hero @logo={{true}}>
	<h1>Roadmap</h1>
	<p>
		SurrealDB has been built from the ground up to be the ultimate database for developers who want to build tomorrow's applications.
		On this page you can keep track of what we have planned for SurrealDB.
	</p>
	<p>
		If you have an idea for SurrealDB, then we would love to hear from you.
	</p>
	<p>
		<Link @link={{url "github"}}>Follow us on Github</Link>
		&bull;
		<Link @link={{url "discord"}}>Join our Discord community</Link>
	</p>
</Layout::Hero>

<section>

	<Layout::Gap small />

	<Layout::Blocks main-c as |block|>
		<h2><img inline src="/static/img/text.svg" alt="SurrealDB" /> roadmap</h2>
	</Layout::Blocks>

	<Layout::Gap mini />

	<Layout::Timeline>
		{{#each this.model as |item|}}
			<Layout::Timeline::Item @item={{item}} />
			<clear></clear>
		{{/each}}
		<img src="/static/img/assets/icon/halficon.png" alt="SurrealDB" />
	</Layout::Timeline>

</section>

<Layout::Github />