<Meta::Tags
	@title="SurrealDB | Store"
	@description="The SurrealDB merchandise store is coming soon."
/>

<Layout::Gap small />

<Layout::Text>
	<h1><img inline src="/static/img/text.svg" alt="SurrealDB" /> swag store</h1>
	<p>Coming soon</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Image as |block|>
	<img src="/static/img/store/main.png" alt="SurrealDB store coming soon" />
</Layout::Image>

<Layout::Gap small />