{{#in-element (document-head) insertBefore=null}}
	<title>SurrealDB | Store | The ultimate serverless cloud database</title>
	<meta name="title" property="og:title" content="SurrealDB | Store">
	<meta name="description" content="SurrealDB is the ultimate database for tomorrow's serverless, jamstack, single-page, and traditional applications.">
	<meta property="og:type" content="article">
{{/in-element}}

<Layout::Gap small />

<Layout::Text>
	<h1><img src="/static/img/text.svg" alt="SurrealDB" /> swag store</h1>
	<p>Coming soon</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Image as |block|>
	<img src="/static/img/store/main.png" alt="SurrealDB store coming soon" />
</Layout::Image>

<Layout::Gap small />